section.service-reviews.splide
    .container
        .service-reviews__content
            .service-reviews__heading
                .service-reviews__title.section-h2.wow.experience Отзывы
                .service-reviews__caption.section-caption.wow.experience Что говорят о работе с нами
            .splide__arrows.service-reviews__arrows
                button.splide__arrow.service-reviews__arrow.splide__arrow--prev: include ../../../../img/svg/chevron-left.svg
                button.splide__arrow.service-reviews__arrow.splide__arrow--next: include ../../../../img/svg/chevron-right.svg
            .splide__track.wow.experience
                ul.splide__list
                    li.splide__slide.service-reviews__item
                        a(href="static/img/support/cert-1.jpg" data-fslightbox="cert").service-reviews__item-link
                            picture
                                source(srcset="static/img/support/cert-1.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="static/img/support/cert-1.jpg" width=288 height=408)
                    li.splide__slide.service-reviews__item
                        a(href="static/img/support/cert-2.jpg" data-fslightbox="cert").service-reviews__item-link
                            picture
                                source(srcset="static/img/support/cert-2.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="static/img/support/cert-2.jpg" width=288 height=408)
                    li.splide__slide.service-reviews__item
                        a(href="static/img/support/cert-3.jpg" data-fslightbox="cert").service-reviews__item-link
                            picture
                                source(srcset="static/img/support/cert-3.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="static/img/support/cert-3.jpg" width=288 height=408)
                    li.splide__slide.service-reviews__item
                        a(href="static/img/support/cert-4.jpg" data-fslightbox="cert").service-reviews__item-link
                            picture
                                source(srcset="static/img/support/cert-4.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="static/img/support/cert-4.jpg" width=288 height=408)