/* colors */
$black: #000;
$white: #fff;

/* dimensions */

/* media breakpoints */
$w1441: 1441px;
$w1440: 1441px;
$w1367: 1367px;
$w1281: 1281px;
$w1200: 1200px;
$w1153: 1153px;
$w1025: 1025px;
$w992: 992px;
$w831: 831px;
$w760: 769px;
$w769: 769px;
$w576: 577px;
$w480: 481px;
$w426: 426px;
$w376: 376px;
$w361: 361px;
$w360: 361px;