section.context-block.block-with--lines
    .container
        .context-block__title.section-h2.wow.experience Что такое контекстная реклама?
        .context-block__caption.section-caption.wow.experience Основы и принцип работы
        .context-block__desc.wow.experience
            picture
                source(srcset="../static/img/context/context.webp" type="image/webp")
                img.lazyload(loading="lazy" data-src="../static/img/context/context.jpg")
            p Контекстная реклама – это самый эффективный рекламный инструмент в интернете. «Контекст» повышает продажи и трафик, является неотъемлемой частью воронки продаж. Текстовые объявления появляются на выгодных позициях в результатах поиска Яндекса и Google. Потенциальные покупатели также видят рекламную информацию (баннеры) на сайтах и в приложениях партнеров РСЯ и КМС.
            p Данный маркетинговый ход эффективен для поддержания интереса к продукту, популяризации нового бренда, распространения информации о недавно появившемся ресурсе (товаре). Контекстная реклама помогает и при региональном продвижении.
            p Стоимость кампании напрямую зависит от опыта и профессионализма аналитиков. Если таргетинг настроен правильно, заказчик получает максимальные продажи при минимальных затратах на рекламу.
        .context-block__how-works.wow.experienceLeft
            .context-block__how-works__title.section-h4 Как работает контекстная реклама?
            .context-block__how-works__items
                .context-block__how-works__item
                    .context-block__how-works__name Потребность
                    .context-block__how-works__caption Пользователь задает интересующий его запрос в поисковой системе.
                .context-block__how-works__item
                    .context-block__how-works__name Запрос
                    .context-block__how-works__caption Среди стандартных результатов поиска потенциальный клиент видит ваше объявление.
                .context-block__how-works__item
                    .context-block__how-works__name Выбор
                    .context-block__how-works__caption Нажав на ссылку, клиент сразу оказывается на вашем сайте. Здесь его ждут выгодные цены на нужные товары и (или) услуги.
                .context-block__how-works__item
                    .context-block__how-works__name Партнерская сеть
                    .context-block__how-works__caption Даже уйдя с сайта, пользователь увидит ваши объявления на сайтах-партнерах ПС.
            .context-block__how-works__questions
                .context-block__how-works__questions-caption
                    span Есть вопросы о контексте?&nbsp;
                    | Напишите нам, свяжемся в ближайшее время!
                .context-block__how-works__questions-btn
                    a(href="#").btn.btn-primary Задать вопрос