section.service-examples
    .container
        .service-examples__title.section-h2.wow.experience Примеры поддержки сайтов
        .service-examples__caption.section-caption.wow.experience Только реальные цифры с реальных проектов
        .service-examples__slider.splide.wow.experienceRight
            .splide__track
                ul.splide__list
                    li.splide__slide.service-examples__item
                        .service-examples__item-caption.section-h5 И-нет магазин крепежа и метизов в Москве
                        a(href="#").service-examples__item-link.section-h5 uniform-met.ru
                        .service-examples__item-content
                            .service-examples__item-text
                                .service-examples__item-done.section-h5 Что сделано:
                                ul.service-examples__item-list
                                    li Стоимость целевого посетителя от 7 рублей
                                    li Внедрения Турбо страниц для Новостей и каталога
                                    li Установка и настройка дополнительных модулей
                                    li Внедрение микроразметки Product
                                    li Интеграция модуля Dashamail.ru с 1С бухгалтерия
                                    li И другие задачи
                            .service-examples__item-image
                                picture
                                    source(srcset="static/img/support/ex-1.webp" type="image/webp")
                                    img.lazyload(loading="lazy" data-src="static/img/support/ex-1.jpg" width=670 height=424)
                    li.splide__slide.service-examples__item
                        .service-examples__item-caption.section-h5 И-нет магазин крепежа и метизов в Москве
                        a(href="#").service-examples__item-link.section-h5 uniform-met.ru
                        .service-examples__item-content
                            .service-examples__item-text
                                .service-examples__item-done.section-h5 Что сделано:
                                ul.service-examples__item-list
                                    li Стоимость целевого посетителя от 7 рублей
                                    li Внедрения Турбо страниц для Новостей и каталога
                                    li Установка и настройка дополнительных модулей
                                    li Внедрение микроразметки Product
                                    li Интеграция модуля Dashamail.ru с 1С бухгалтерия
                                    li И другие задачи
                            .service-examples__item-image
                                picture
                                    source(srcset="static/img/support/ex-1.webp" type="image/webp")
                                    img.lazyload(loading="lazy" data-src="static/img/support/ex-1.jpg" width=670 height=424)
            .splide__arrows.service-examples__arrows
                button.splide__arrow.service-examples__arrow.splide__arrow--prev: include ../../../../img/svg/chevron-left.svg
                button.splide__arrow.service-examples__arrow.splide__arrow--next: include ../../../../img/svg/chevron-right.svg