section.steps.steps--vako
    .steps__wrapper.wow.experience
        a(href='#').steps__item.item--prev
            .steps__item-top Предыдущий проект
            .steps__item-title Транспортная компания «Астра»
            .steps__item-desc Корпоративный сайт + личный кабинет для транспортной компании Астра
        a(href='#').steps__item.item--next
            .steps__item-top Следующий проект
            .steps__item-title СЭЗ «Могилев»
            .steps__item-desc Масштабный проект для Администрации СЭЗ «Могилев», привлечением инвестиций для производств