section.steps
    .steps__wrapper.wow.experience
        a(href='#').steps__item.item--prev
            .steps__item-top Предыдущий проект
            .steps__item-title Patriki Film Festival
            .steps__item-desc Сайт кинофестиваля и личный кабинет для нескольких ролей пользователей
        a(href='#').steps__item.item--next
            .steps__item-top Следующий проект
            .steps__item-title Ваш проект
            .steps__item-desc Сайт, лендинг, личный кабинет или продвижение – всё, что вы захотите!

