section.mainpage-services
    .container
        .mainpage-services__heading
            .mainpage-services__title.section-h2.wow.experience Услуги
            .mainpage-services__caption.section-caption.wow.experience Все от разработки до поддержки
        .mainpage-services__items
            a(href="#").mainpage-services__item.wow.experience
                span.name.section-h3 Разработка сайтов
                span.desc От простых решений до уникальных веб-проектов!
                span.icon: +icons('#icon_arrow_right', 44)
            a(href="#").mainpage-services__item.wow.experience
                span.name.section-h3 Поддержка сайтов
                span.desc Мы работаем с популярными и проверенными временем CMS
                span.icon: +icons('#icon_arrow_right', 44)
            a(href="#").mainpage-services__item.wow.experience
                span.name.section-h3 Контекстная реклама
                span.desc Увеличьте число заявок и звонков со своего сайта
                span.icon: +icons('#icon_arrow_right', 44)
            a(href="#").mainpage-services__item.wow.experience
                span.name.section-h3 Поднятие скорости загрузки
                span.desc Сайты адаптированы и корректно работают на любом типе устройств
                span.icon: +icons('#icon_arrow_right', 44)
            a(href="#").mainpage-services__item.wow.experience
                span.name.section-h3 Сайт за 5 дней
                span.desc Интернет-магазин «под ключ» на 1С-Битрикс за 5 дней
                span.icon: +icons('#icon_arrow_right', 44)