section.service-offer
    .container
        .service-offer__title.section-h2.wow.experience Что мы предлагаем?
        .service-offer__box.wow.experience
            .service-offer__box-text
                ul.service-offer__box-list
                    li Доработаем текущие проекты, протестируем и проанализируем их работу, выделим недочеты и откорректируем их
                    li Разработаем с нуля проект любой сложности – от небольшого интернет-сервиса до системы автоматизации и многокомпонентного портала
                    li Спланируем архитектуру сайта и подготовим техническое задание
                    li Проверим детали проекта, выявим ошибки в коде и устраним их
                    li Проанализируем особенности поведения пользователей на сайте и проработаем интерфейс проекта под них
                    li Увеличим скорость работы проекта и оптимизируем запросы к данным в базах
            .service-offer__box-image
                picture
                    source(srcset="static/img/yii/ex-1.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="static/img/yii/ex-1.jpg" width=670 height=424)
                    