section.optimize
    .optimize__wrapper
        .container
            .optimize__body
                ul.optimize__breadcrumbs
                    li.optimize__breadcrumbs-main
                        a(href='#') Главная
                    li.optimize__breadcrumbs-dot
                    li.optimize__breadcrumbs-current
                        p Оптимизация скорости
                h2.section-h2 Оптимизация скорости сайта стала проще
                .optimize__sub-title Мы оптимизировали более 500 сайтов и можем сделать так, чтобы ваш загружался молниеносно!
                .optimize__text Отправьте ссылку на сайт, чтобы получить БЕСПЛАТНЫЙ АУДИТ скорости, и наш сотрудник проверит ваш сайт и проконсультирует вас о возможностях оптимизации и решению проблем со скоростью.
                form.optimize__field(action='#', method='')
                    input.optimize__field-inp(type=text, placeholder='Введите адрес сайта')
                    button.optimize__field-btn.btn.btn-primary Проверить скорость
                a.optimize__query(href='#') Отправить запрос на аудит
img.optimize__img-rocket.lazyload(src='static/img/optimize/rocket.svg', alt='rocket')
img.optimize__img-speed.lazyload(src='static/img/optimize/speed.svg', alt='speed')

section.why-important
    .container
        .why-important__wrapper
            h2 Почему важна скорость сайта?
            .why-important__body
                .why-important__item <span>1/</span> Пользователи не готовы ждать загрузки страниц. Им проще вернуться в поиск.
                .why-important__item <span>3/</span> Напротив, быстрые сайты пользователи дольше просматривают, заходят на большее количество страниц. Это влияет на конверсию интернет-магазинов.
                .why-important__item <span>2/</span> Ушедшие с сайта люди увеличивают процент отказов проекта. Тем временем поисковые системы считают эти сайты некачественными и понижают в выдаче.
                .why-important__item <span>4/</span> А если наблюдается пользовательский интерес, то поисковики выше ранжируют такие проекты. Высокие позиции привлекают больше клиентов на сайт.

section.how-understand
    .container
        h2 Как понять, что сайт нужно ускорять?
        p Измерьте скорость своего сайта прямо сейчас с помощью <a href="#">нашего инструмента.</a>
        p Или запросите <span class="clr-blue">аудит.</span> Если скорость вашего интернет-проекта набирает баллы <span class="clr-red">красной</span> и <span class="clr-orange">оранжевой</span> зоны, это сигнал к действиям.
        form.how-understand__field(action='#', method='')
            input.how-understand__field-inp-name(type=text, placeholder="Имя")
            input.how-understand__field-inp-number(type=text, placeholder="Телефон")
            button.how-understand__field-btn.btn.btn-primary нужен аудит
        p Нажимая на кнопку, вы соглашаетесь на обработку <a href="#" class="politic">персональных данных</a>



section.small-text
    .container
        .small-text__body
            h3 Небольшой текст про оптимизацию
            p Техническая поддержка представляет собой целый комплекс услуг, которые направлены на обеспечение и поддержание стабильного функционирования веб-сайтов и их эффективное развитие. Такое профессиональное обслуживание позволяет обеспечить бесперебойную работу ресурса и избежать возможных внутренних сбоев.


section.optimize-slider
    .container
        h2 Результаты наших клиентов
        p.optimize-slider__main-title Чего ожидать от оптимизации сайта: <span class="clr-black">было</span>  &#62; <span class="clr-blue">стало</span>
        .optimize-slider__items.wow.experience.splide
            .splide__track
                ul.splide__list
                    li.splide__slide
                        .optimize-slider__item
                            h3 saprof.ru
                            .optimize-slider__body
                                .optimize-slider__sub-title Тип и тематика проекта: <span class="clr-black">сайт страховых услуг широкого профиля</span> Проверено для региона: <span class="clr-black">Москва и область</span>
                                .optimize-slider__wrapper
                                    .optimize-slider__column-left
                                        .optimize-slider__item-left
                                            p.optimize-slider__text-title Размер страницы
                                            p.optimize-slider__text-sub-title чем меньше, тем лучше
                                            p.optimize-slider__text-numbers <b>1.0 Mb</b> <b class="clr-blue">0.82 Mb</b>
                                        .optimize-slider__item-left
                                            p.optimize-slider__text-title Базовое время загрузки
                                            p.optimize-slider__text-sub-title чем меньше, тем лучше
                                            p.optimize-slider__text-numbers <b>2.678 сек.</b> <b class="clr-blue">0.972 сек.</b>
                                        .optimize-slider__item-left
                                            p.optimize-slider__text-title Полная загрузка первого экрана
                                            p.optimize-slider__text-sub-title чем меньше, тем лучше
                                            p.optimize-slider__text-numbers <b>4.224 сек</b> <b class="clr-blue">1.197 сек</b>
                                    .optimize-slider__column-right
                                        img.lazyload(src='static/img/optimize/slider-img01.png', alt='slider-img')

section.what-make
    .container
        h2 Что мы делаем в рамках работы по оптимизации скорости сайта?
        .what-make__wrapper
            .what-make__item
                p Оптимизация вашего сайта на существующем хостинге
            .what-make__item
                p Конфигурация и настройка кэширования браузера
            .what-make__item
                p Оптимизация CSS и Javascript (JS), настройка, минимизация и объединение в соответствии с вашей темой
            .what-make__item
                p Оптимизация базы данных, очистка и плановое техническое обслуживание
            .what-make__item
                p Настройка SQL Server (если вы используете VPS и у нас есть доступ)
            .what-make__item
                p 301 Оптимизация перенаправления
            .what-make__item
                p Резервное копирование до и после
            .what-make__item
                p Оптимизация файла .HTACCESS
            .what-make__item
                p Настройка сжатия сервера по мере необходимости
            .what-make__item
                p Оптимизация записи DNS и настройка скорости
            .what-make__item
                p Конфигурация ленивой загрузки Livechat
            .what-make__item
                p Конфигурация ленивой загрузки изображений и видео (если подходит для вашей темы)
            .what-make__item
                p Усовершенствованное сжатие и оптимизация изображений с поддержкой формата файлов изображений .Webp
            .what-make__item
                p Расширенная оптимизация — предварительная загрузка страниц и своевременная предварительная загрузка
            .what-make__item
                p Необязательный перенос сервера или хостинга
            .what-make__item
                p Оптимизация для основных показателей веб-показателей Google.



section.other-service
    .container
        h2 Другие услуги
        .other-service__wrapper
            a.other-service__item(href="#")
                .other-service__link Сайт за 10 дней
            a.other-service__item(href="#")
                .other-service__link Контекстная реклама
            a.other-service__item(href="#")
                .other-service__link Лицензии «1С-Битрикc»
            a.other-service__item(href="#")
                .other-service__link Разработка на Yii2
            a.other-service__item(href="#")
                .other-service__link Разработка на Laravel
            a.other-service__item(href="#")
                .other-service__link Поддержка сайтов
