section.optimize
    .optimize__wrapper
        .container
            .optimize__body
                ul.optimize__breadcrumbs
                    li.optimize__breadcrumbs-main
                        a(href='#') Главная
                    li.optimize__breadcrumbs-dot
                    li.optimize__breadcrumbs-current
                        p Оптимизация скорости
                .optimize__subtitle.section-h4
                    | Результат проверки скорости 
                    a(href='#') http://fastlocksmithvancouver.com
                .optimize__title
                    div.section-h1 Есть проблемы
                .optimize__text Вы можете ознакомиться с результатами ниже или сразу связаться с нами для получения помощи по оптимизации:
                .optimize__order
                    button.btn.btn-orange Заявка на оптимизацию
                .optimize__link
                    a.optimize__query(href='#')
                      +icons('#ic_doc', 24) 
                      span Получить PDF-отчет на почту
    img.optimize__img-rocket.lazyload(src='static/img/optimize/rocket.svg', alt='rocket')
    img.optimize__img-speed.lazyload(src='static/img/optimize/speed.svg', alt='speed') 
