include optimize-top.pug

section.why-important
    .container
        .why-important__wrapper
            h2 Почему важна скорость сайта?
            .why-important__body
                .why-important__item <span>1/</span> Пользователи не готовы ждать загрузки страниц. Им проще вернуться в поиск.
                .why-important__item <span>3/</span> Напротив, быстрые сайты пользователи дольше просматривают, заходят на большее количество страниц. Это влияет на конверсию интернет-магазинов.
                .why-important__item <span>2/</span> Ушедшие с сайта люди увеличивают процент отказов проекта. Тем временем поисковые системы считают эти сайты некачественными и понижают в выдаче.
                .why-important__item <span>4/</span> А если наблюдается пользовательский интерес, то поисковики выше ранжируют такие проекты. Высокие позиции привлекают больше клиентов на сайт.

section.how-understand
    .container
        h2 Как понять, что сайт нужно ускорять?
        p Измерьте скорость своего сайта прямо сейчас с помощью <a href="#">нашего инструмента.</a>
        p Или запросите <span class="clr-blue">аудит.</span> Если скорость вашего интернет-проекта набирает баллы <span class="clr-red">красной</span> и <span class="clr-orange">оранжевой</span> зоны, это сигнал к действиям.
        form.how-understand__field(action='#', method='')
            input.how-understand__field-inp-name(type=text, placeholder="Имя")
            input.how-understand__field-inp-number(type=text, placeholder="Телефон")
            button.how-understand__field-btn.btn.btn-primary нужен аудит
        p Нажимая на кнопку, вы соглашаетесь на обработку <a href="#" class="politic">персональных данных</a>



