section.optimize
    .optimize__wrapper
        .container
            .optimize__body
                ul.optimize__breadcrumbs
                    li.optimize__breadcrumbs-main
                        a(href='#') Главная
                    li.optimize__breadcrumbs-dot
                    li.optimize__breadcrumbs-current
                        p Оптимизация скорости
                h2.section-h2 Оптимизация скорости сайта стала проще
                .optimize__sub-title Мы оптимизировали более 500 сайтов и можем сделать так, чтобы ваш загружался молниеносно!
                .optimize__text Отправьте ссылку на сайт, чтобы получить БЕСПЛАТНЫЙ АУДИТ скорости, и наш сотрудник проверит ваш сайт и проконсультирует вас о возможностях оптимизации и решению проблем со скоростью.
                form.optimize__field(action='#', method='')
                    input.optimize__field-inp(type=text, placeholder='Введите адрес сайта')
                    button.optimize__field-btn.btn.btn-primary Проверить скорость
                .optimize__link
                    a.optimize__query(href='#') Отправить запрос на аудит
    img.optimize__img-rocket.lazyload(src='static/img/optimize/rocket.svg', alt='rocket')
    img.optimize__img-speed.lazyload(src='static/img/optimize/speed.svg', alt='speed') 
