section.small-text
    .container
        .small-text__body
            h3 Небольшой текст про оптимизацию
            p Техническая поддержка представляет собой целый комплекс услуг, которые направлены на обеспечение и поддержание стабильного функционирования веб-сайтов и их эффективное развитие. Такое профессиональное обслуживание позволяет обеспечить бесперебойную работу ресурса и избежать возможных внутренних сбоев.

section.what-make
    .container
        h2 Что мы делаем в рамках работы по оптимизации скорости сайта?
        .what-make__wrapper
            .what-make__item
                p Оптимизация вашего сайта на существующем хостинге
            .what-make__item
                p Конфигурация и настройка кэширования браузера
            .what-make__item
                p Оптимизация CSS и Javascript (JS), настройка, минимизация и объединение в соответствии с вашей темой
            .what-make__item
                p Оптимизация базы данных, очистка и плановое техническое обслуживание
            .what-make__item
                p Настройка SQL Server (если вы используете VPS и у нас есть доступ)
            .what-make__item
                p 301 Оптимизация перенаправления
            .what-make__item
                p Резервное копирование до и после
            .what-make__item
                p Оптимизация файла .HTACCESS
            .what-make__item
                p Настройка сжатия сервера по мере необходимости
            .what-make__item
                p Оптимизация записи DNS и настройка скорости
            .what-make__item
                p Конфигурация ленивой загрузки Livechat
            .what-make__item
                p Конфигурация ленивой загрузки изображений и видео (если подходит для вашей темы)
            .what-make__item
                p Усовершенствованное сжатие и оптимизация изображений с поддержкой формата файлов изображений .Webp
            .what-make__item
                p Расширенная оптимизация — предварительная загрузка страниц и своевременная предварительная загрузка
            .what-make__item
                p Необязательный перенос сервера или хостинга
            .what-make__item
                p Оптимизация для основных показателей веб-показателей Google.

section.other-service
    .container
        h2 Другие услуги
        .other-service__wrapper
            a.other-service__item(href="#")
                .other-service__link Сайт за 10 дней
            a.other-service__item(href="#")
                .other-service__link Контекстная реклама
            a.other-service__item(href="#")
                .other-service__link Лицензии «1С-Битрикc»
            a.other-service__item(href="#")
                .other-service__link Разработка на Yii2
            a.other-service__item(href="#")
                .other-service__link Разработка на Laravel
            a.other-service__item(href="#")
                .other-service__link Поддержка сайтов
