section.mainpage-about
    .container
        .mainpage-about__summary.wow.experienceRight
            .mainpage-about__title.section-h2 О компании
            .mainpage-about__caption.
                Создание, продвижение и сопровождение сайтов «под ключ»
                в студии Promicom – оптимальный вариант для развития бизнеса
                в интернете. Экономия времени и средств за счет комплексного
                интернет-маркетинга.
            .mainpage-about__clients
                .number >80
                .desc довольных<br>клиентов
        .mainpage-about__video.wow.experienceLeft
            .video-block
                .video-block__preview
                    picture
                        source(srcset="static/img/home/video.webp")
                        img.lazyload(loading="lazy" data-src="static/img/home/video.jpg" width=328 height=458)
                .video-block__play: +icons('#play', 20)
                .video-block__player(data-src="static/img/video/about.mp4")
                    video(controls="controls")
        .mainpage-about__more.wow.experience
            .mainpage-about__text.
                Лучшая награда – <strong>счастливые клиенты</strong>,
                лучший подарок – видеть <strong>взлет сделанного
                руками компании проекта</strong>. Для этого мы и существуем!
            ul.mainpage-about__numbers
                li
                    span.number >90
                    span.desc успешных проектов за 4 года
                li
                    span.number >10
                    span.desc специалистов в штате
                li
                    span.number >10 000
                    span.desc задач выполнено
            a(href="#").mainpage-about__btn.btn.btn-primary
                span Подробнее о нас
                +icons('#icon_arrow_right', 24)
            .mainpage-about__seo.
                Профессиональное продвижение сайтов (от 30000 руб. по Москве, от 20000 руб.
                в регионах России) Профессиональное SEO-продвижение сайтов в ТОП 10 Яндекс
                и Google. С нами работают специалисты мирового уровня в Москве, Минске,
                Лос-Анджелесе. Помимо раскрутки организаций в странах СНГ, мы оптимизируем
                и продвигаем сайты в Европе и США. Стоимость услуг зависит от размера
                семмантики (списка запросов), конкурентности тематики, региона, качества
                и авторитета сайта. Контекстная реклама (от 15000р в месяц) Настройка
                и ведение контекстной рекламы Яндекс Директ и Google Ads от профессионалов.
                В студия “Promicom” работают сертифицированные специалисты Яндекс и Google.
                Помимо качественной настройки, которая позволит оптимизировать бюджет на
                эффективную рекламу, вы получите все необходимые закрывающие налоговые документы.

