section.cmn-temp
    ._container
        h1.cmn-temp__title.section-h1.wow.experience.animated Разработка интернет-магазина стройматериалов Mottex
        //h2.cmn-temp__titleh2.section-h2.wow.experience.animated Один из крупнейших игроков на рынке элитной жилой недвижимости Москвы и Подмосковья
        .cmn-temp__caption.section-description.wow.experience.animated
            .cmn-temp__text-box
                p.cmn-temp__text Выполнили полную фронтенд-разработку интернет-магазина с использованием Vue.js для умного поиска, поиска по городам и меню каталога товаров. А также бэкенд-разработку всех ключевых страниц, а также глубокое тестирование вёрстки и функциональных особенностей сайта.
            a.cmn-temp__link-box(href='https://mottex.ru/' target='_blank')
                div.cmn-temp__link Mottex
                span.lazyload(style="background-image: url(static/img/svg/ic_link-new.svg)")
    .cmn-temp__img-box
        picture
            img.cmn-temp__img.lazyload(loading="lazy" data-src="static/img/mottex/first-img-bg.png" src="static/img/mottex/first-img-bg.png")

section.cmn-temp-about
    ._container
        .cmn-temp-about__wrapper
            .cmn-temp-about__top
                h2.cmn-temp-about__title-2.section-h2.wow.experience.animated О проекте
                .cmn-temp-about__text-box
                    p.cmn-temp-about__text.wow.experience.animated
                        | Данный проект был направлен на разработку высоконагруженного интернет-магазина стройматериалов, построенного на базе связки Vue. js и PHP. Серверная логика и управление контентом реализованы на PHP, а веб-сервер Nginx обеспечивает высокую скорость отдачи данных и стабильность системы под большими нагрузками. Ключевой особенностью решения является глубокая интеграция с Битрикс24, что позволяет автоматизировать сквозную воронку продаж: от момента падения заявки в корзину до управления логистикой и контроля взаимоотношений с клиентами в едином CRM-пространстве.
            .cmn-temp-about__middle
                span.name.wow.experience.animated Специалисты проекта:
                ul.wow.experience.animated
                    li Менеджер проектов
                    li Аналитик
                    li Frontend-разработчик
                    li Backend-разработчик
                    li QA-инженер

            .cmn-temp-about__bottom
                span.name.wow.experience.animated Использованные технологии и инструменты:
                ul.wow.experience.animated

                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_02.svg)")
                        span.info HTML
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/16-css.svg)")
                        span.info CSS
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_03.svg)")
                        span.info JS
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_04.svg)")
                        span.info Vue.js
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_06.svg)")
                        span.info PHP
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_10.svg)")
                        span.info Nginx
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/15-bitrix24.svg)")
                        span.info Битрикс24

section.cmn-temp-tasks
    ._container
        .cmn-temp-tasks__wrapper
            .cmn-temp-tasks__top
                h2.cmn-temp-tasks__title-2.section-h2.wow.experience.animated Задачи
                .cmn-temp-tasks__text-box
                    ul.wow.experience.animated
                        li Подготовить адаптивную кроссбраузерную вёрстку, которая будет корректно отображаться на всех возможных устройствах
                        li Внедрить фронтенд-функционал умного поиска товаров, поиска по городам и глобального меню каталога с несколькими уровнями вложенности
                        li Реализовать разработку бэкенда ключевых страниц, таких как: главная, каталог, категории, карточки товаров, корзина и оформление заказа
                        li Провести детальное тестирование технических систем, пользовательского интерфейса и удобства сайта с точки зрения UX
                        li Передать готовый интернет-магазин разработчикам на стороне клиента и, при необходимости, провести брифинг по нюансам разработки проекта для его дальнейшей поддержки

            .cmn-temp-tasks__bottom.wow.experience.animated
                .cmn-temp-tasks__bottom-avatar
                    .cmn-temp-tasks__bottom-avatar-wr
                        span.name Александр Юшкевич
                        span.desc Менеджер проектов
                .cmn-temp-tasks__bottom-content
                    p.cmn-temp-tasks__text «У нас огромный опыт в разработке сложных интернет-магазинов, локальных маркетплейсов и других подобных высоконагруженных систем. Для примера, реализовали и поддерживаем торговую площадку Vako, которая агрегирует как товары, так и интернет-магазины. И включает несколько отдельных личных кабинетов, систему контроля платежей и многое другое.
                    p.cmn-temp-tasks__text „Моттекс“ — крупный проект бренда, который работает более 15 лет и зарекомендовал себя в регионе. У них большая команда, включающая своих разработчиков. Мы наладили конструктивную связь с клиентом, проработали все необходимые страницы и технические аспекты. И передали их специалистам клиента для дальнейшей поддержки».

section.cmn-temp-details
    ._container
        h2.cmn-temp-details__title-2.section-h2.wow.experience.animated
            span Детали разработки
        .cmn-temp-details__text-box.cmn-temp-details__text-box--top
            p.cmn-temp-details__text.wow.experience.animated Создание современного интернет-магазина — это не только работа с программным кодом, но и проектирование сложной экосистемы, ориентированной на конверсию и масштабируемость. Мы не просто создаем интерфейсы и настраиваем базы данных — мы выстраиваем логику взаимодействия пользователя с брендом.

    .cmn-temp-details__first-sc.blockGrey.blockLogos
        ._container
            .cmn-temp-details__first-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Всё необходимое в одном интернет-магазине
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.wow.experience.animated Интернет-магазин «Mottex» превращает сложный процесс подбора стройматериалов в интуитивно понятный сценарий. Поиск необходимых материалов перестает быть рутиной и превращается в быстрый и технологичный этап реализации вашего строительного проекта.
            .cmn-temp-details__first-sc-top-wr
                .cmn-temp-details__img-box.wow.experience.animated
                    picture
                        img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-01.jpg" src="static/img/mottex/img-01.jpg")
                .cmn-temp-details__img-box.wow.experience.animated
                    picture
                        img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-02.jpg" src="static/img/mottex/img-02.jpg")


    .cmn-temp-details__second-sc.blockBlue.blockLogos
        ._container
            .cmn-temp-details__second-sc-wr
                .cmn-temp-details__second-sc-item.cmn-temp-details__second-sc-item--nw
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-04.jpg" src="static/img/mottex/img-04.jpg")
                    .cmn-temp-details__text-box.cmn-temp-details__text-box--nw
                        p.cmn-temp-details__text.wow.experience.animated Категории каталога включают все нужные блоки, чтобы быстро и комфортно находить нужные товары. Загрузка при переключении фильтров происходит мгновенно, а микроанимации плавные и современные благодаря профессиональному фронтенду.
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-05.jpg" src="static/img/mottex/img-05.jpg")


                .cmn-temp-details__second-sc-item
                    h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Удобный каталог, практичная адаптивность, быстрые продажи
                    .cmn-temp-details__text-box
                        p.cmn-temp-details__text.wow.experience.animated
                            | «Mottex» стал классикой современного e-commerce в строительной сфере благодаря синергии продуманной структуры и технического исполнения. Центр системы — интеллектуальный каталог, который позволяет пользователю мгновенно перемещаться между тысячами позиций, используя удобные фильтры и логичное распределение по категориям. Особое внимание при разработке было уделено мобильной адаптивности.

                    .nw-md-block
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-04.jpg" src="static/img/mottex/img-04.jpg")
                        .cmn-temp-details__text-box.cmn-temp-details__text-box--nw
                            p.cmn-temp-details__text.wow.experience.animated Категории каталога включают все нужные блоки, чтобы быстро и комфортно находить нужные товары. Загрузка при переключении фильтров происходит мгновенно, а микроанимации плавные и современные благодаря профессиональному фронтенду.
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-05.jpg" src="static/img/mottex/img-05.jpg")

                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-03.png" src="static/img/mottex/img-03.png")


    .cmn-temp-details__third-sc.blockWhite.blockLogos
        ._container
            .cmn-temp-details__third-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Фундамент надёжности и скорости
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.cmn-temp-details__text--16.wow.experience.animated За внешней эстетикой интерфейса «Mottex» стоит мощная серверная архитектура, разработанная с учётом экстремальных нагрузок и сложной бизнес-логики. Мы реализовали отказоустойчивую систему, которая гарантирует стабильную работу сайта даже в периоды сезонных распродаж.
            .cmn-temp-details__third-sc-wr
                .cmn-temp-details__third-sc-item
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-06.jpg" src="static/img/mottex/img-06.jpg")
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-07.jpg" src="static/img/mottex/img-07.jpg")

                    .cmn-temp-details__text-box.cmn-temp-details__text-box--mt-nw
                        p.cmn-temp-details__text.wow.experience.animated Практичный подход к оформлению заказа: благодаря грамотному бэкенду даже высоконагруженные экраны работают быстро и эффективно.
                .cmn-temp-details__third-sc-item
                    .cmn-temp-details__third-sc-item-wr
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-08.jpg" src="static/img/mottex/img-08.jpg")
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-09.jpg" src="static/img/mottex/img-09.jpg")
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-10.jpg" src="static/img/mottex/img-10.jpg")


    .cmn-temp-details__last-sc.blockBlue.blockLogos
        ._container
            .cmn-temp-details__last-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Доработка деталей и тестирование
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.wow.experience.animated Каждый элемент, от навигации до взаимодействия с карточками товаров, был продуман и доработан с одной целью — создать безупречно плавный и понятный опыт для клиентов.
            .cmn-temp-details__last-sc-wr
                .cmn-temp-details__last-sc-item
                    .cmn-temp-details__last-sc-item-slider.splide.wow.experience.animated
                        .splide__track
                            ul.splide__list
                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-slider-1.jpg" src="static/img/mottex/img-slider-1.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-slider-2.jpg" src="static/img/mottex/img-slider-2.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-slider-3.jpg" src="static/img/mottex/img-slider-3.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-slider-4.jpg" src="static/img/mottex/img-slider-4.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-slider-5.jpg" src="static/img/mottex/img-slider-5.jpg")

                .cmn-temp-details__last-sc-item
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/mottex/img-11-caption.png" src="static/img/mottex/img-11-caption.png")



section.cmn-temp-process
    ._container
        h2.cmn-temp-process__title-2.section-h2.wow.experience.animated
            span Процесс работы
        .cmn-temp-process__wrapper
            .cmn-temp-process__item
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 1. Адаптивная вёрстка и фронтенд-разработка
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/mottex/img-12.jpg" src="static/img/mottex/img-12.jpg")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Адаптивная вёрстка и кроссбраузерность — чистый опыт онлайн покупок через любое устройство
                        li <span>02</span> Проработка микроанимаций, любые взаимодействия с сайтов понятны и комфортны
                        li <span>03</span> Реализаций умного поиска, поиска по городам, большого меню каталога на Vue.js и многое другое

            .cmn-temp-process__item.cmn-temp-process__item--r
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 2. Бэкенд-разработка
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/mottex/img-13.jpg" src="static/img/mottex/img-13.jpg")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Разработка с учётом экстремальных нагрузок и сложной бизнес-логики
                        li <span>02</span> Безупречная синхронизация данных: каждое изменение цены или остатка на складе мгновенно отражается на «витрине»
                        li <span>03</span> Особое внимание уделено безопасности и чистоте кода на стороне сервера



            .cmn-temp-process__item
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 3. Тестирование, передача команде поддержки клиента
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/mottex/img-14.jpg" src="static/img/mottex/img-14.jpg")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Цикл комплексного тестирования, гарантирующий стабильность системы перед запуском
                        li <span>02</span> Глубокая проверка всех узлов: от нагрузочного тестирования backend-части до детального QA-аудита пользовательских интерфейсов на различных устройствах
                        li <span>03</span> Отдельное внимание было уделено безопасности транзакций и корректности обмена данными с CRM
                        li <span>04</span> Провели серию консультаций для специалистов разработки со стороны заказчика

section.cmn-temp-results
    ._container
        h2.cmn-temp-results__title-2.section-h2.wow.experience.animated
            span Итоги работы
        .cmn-temp-results__wrapper
            .cmn-temp-results__top.wow.experience.animated
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Качественно свёрстанный интернет-магазин, отлично выглядящий на всех устройствах
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Детально проработанная фронтенд- и бэкенд-логика, позволяющая сайту работать быстро и эффективно, приносить ощутимую выгоду бизнесу
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Глубокое тестирование, интеграция систем и подробный инструктаж по дальнейшей поддержке интернет-магазина для разработчиков клиента


            h3.cmn-temp-results__title-3.section-h3.wow.experience.animated Отзыв клиента:
            .cmn-temp-results__bottom-lt
                .cmn-temp-results__bottom.wow.experience.animated
                    .cmn-temp-results__bottom-avatar
                        span.icon(style="background-image: url(static/img/mottex/logo-client.svg)")
                        .cmn-temp-results__bottom-avatar-wr
                            span.name Станислав Мотовилов
                            span.desc Генеральный директор
                    .cmn-temp-results__bottom-content
                        p.cmn-temp-results__text.wow.experience.animated «От лица компании “Mottex” выражаю искреннюю признательность команде “Promicom” за профессиональную реализацию нашего масштабного проекта по созданию интернет-магазина стройматериалов. Коллеги взяли на себя полный цикл производства: от проработки сложной логики бэкенд-части и гибкого интерфейса до тщательного тестирования системы.
                        p.cmn-temp-results__text.wow.experience.animated Благодаря высокому уровню экспертизы “Promicom”, нам удалось запустить технологичный продукт, который бесшовно интегрирован в наши бизнес-процессы и уже сейчас показывает хорошие результаты в конверсии. Мы ценим ответственный подход к соблюдению сроков и внимание к деталям, которые позволили сделать покупку стройматериалов для наших клиентов максимально простой и удобной».

section.cmn-temp-team
    ._container
        h2.cmn-temp-team__title-2.section-h2.wow.experience.animated
            span Команда проекта
        .cmn-temp-team__content.wow.experience.animated
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Игорь Гудович
                .cmn-temp-team__content-item-desc Директор агентства Promicom
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Юшкевич
                .cmn-temp-team__content-item-desc Менеджер проектов
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Игорь Хроменков
                .cmn-temp-team__content-item-desc Frontend-разработчик
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Льдов
                .cmn-temp-team__content-item-desc UX/UI-Дизайнер
            .homespro-team__content-item
                .cmn-temp-team__content-item-name Сергей Данилкин
                .cmn-temp-team__content-item-desc Backend-разработчик
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Муравьёв
                .cmn-temp-team__content-item-desc QA-инженер

        a(href='/agency/').cmn-temp-team__btn.wow.experience.animated
            span Подробнее о нас

section.cmn-project
    ._container
        h2.cmn-project__title-2.section-h2.wow.experience.animated
            span Другие проекты
            a(href='/portfolio/').cmn-project__btn.wow.experience.animated
                span Все проекты
        .cmn-project__content
            .cmn-project__content_item(style="background-image: url(static/img/metrium/caseimg-1.png)")
                a(href='/portfolio/vako/').cmn-project__content_item-name Уникальная товарная площадка для магазинов и покупателей
                .cmn-project__content_item-tabs
                    a(href='/development/onlineshop/').cmn-project__tab Интернет-магазины
                    a(href='/development/').cmn-project__tab Порталы
                    a(href='/development/personal/').cmn-project__tab Личные кабинеты

            .cmn-project__content_item(style="background-image: url(static/img/mottex/caseimg-v2-01-vako.jpg)")
                a(href='/portfolio/csgrenovation/').cmn-project__content_item-name Сайт компании по ремонту частной и коммерческой недвижимости в Канаде
                .cmn-project__content_item-tabs
                    a(href='/development/corporate/').cmn-project__tab Корпоративные сайты

            .cmn-project__content_item(style="background-image: url(static/img/metrium/caseimg-3.png)")
                a(href='/portfolio/vogez/').cmn-project__content_item-name Корпоративный сайт ведущего производителя современного теплотехнического оборудования
                .cmn-project__content_item-tabs
                    a(href='/development/corporate/').cmn-project__tab Корпоративные сайты

            .cmn-project__content_item(style="background-image: url(static/img/metrium/caseimg-4.png)")
                a(href='/portfolio/patriki/').cmn-project__content_item-name Портал, личные кабинеты и организация проведения онлайн-кинофестиваля
                .cmn-project__content_item-tabs
                    a(href='/development/').cmn-project__tab Порталы
                    a(href='/development/personal/').cmn-project__tab Личные кабинеты