section.service-banner.service-banner--fullwidth
  .container
      .service-banner__text
        +breadcrumb([
          {
            link: "/",
            text: "Главная",
          },
          {
            link: "/",
            text: "Разработка",
          },
          {
            link: "/",
            text: "1С-Битрикс",
          },
          {
            link: "/",
            text: "Интернет-магазин 1С-Битрикс",
            isActive: true,
          }
        ], 'service-banner__breadcrumbs wow experience')
        h1.service-banner__title.section-h1.wow.experience Интернет-магазин<br> «под ключ» на 1С-Битрикс<br> за 10 дней
        .service-banner__caption.section-caption.wow.experience Оставьте свою заявку, и мы точно предложим оптимальное решение!
        a(href="#callback").service-banner__btn.btn.btn-primary.wow.experience Оставить заявку
      .service-banner__image
        picture
          source(srcset="static/img/shop/banner.webp" type="image/webp")
          img.wow.fadeIn(src="static/img/shop/banner.png" width="640" height="440")