.page-vogez {
  &__text {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    align-self: stretch;
    @media (min-width: 1153px) {
      font-size: 20px;
      line-height: 32px;
    }
  }

  &__link-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6E81B8;
    margin: 16px 0 4px;
  }

  &__link-box {
    display: flex;
    align-items: center;
  }

  &__link {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1F5AFF;
    @media (min-width: 1153px) {
      font-weight: 900;
      font-size: 20px;
      line-height: 32px;
      &:hover {
        color: #022fad;
        transition: .8s ease;
      }
    }
  }
}

.vogez-main {
  padding: 0;

  &__img-box {
    margin-bottom: 36px;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__text-block h2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 12px;

    span {
      color: #0258AE;
    }

    @media screen and (min-width: 1153px) {
      font-size: 48px;
      line-height: 56px;
      margin: 64px 0 24px;
    }
  }

  &__text-block p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    @media screen and (min-width: 1153px) {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 24px;
      &:last-child{
        margin-bottom: 40px;
      }
    }
  }
}