section.vakos
    ._container
        h1.vakos__title.section-h1.wow.experience.animated Разработка сайта товарной <br> площадки Vako
        .vakos__caption.section-description.wow.experience.animated
            .vakos__text-box
                p.vakos__text Создали дизайн и разработали товарную площадку с двумя личными кабинетами (для пользователей и магазинов), добавлением уникальной панели администрирования, удобной выгрузкой товаров и многим другим.
            a.vakos__link-box(href='https://vako.market/' target='_blank')
                div.vakos__link vako
                span.lazyload(style="background-image: url(static/img/svg/ic_link-new.svg)")
    .vakos__img-box.vakos__img-box--top-md
        picture
            img.vakos__img.lazyload(loading="lazy" data-src="static/img/vako/vako-top--md.jpg" src="static/img/vako/vako-top--md.jpg")
    .vakos__img-box.vakos__img-box--top
        .vakos__img-box.vakos__img--top
            picture
                img.vakos__img.lazyload(loading="lazy" data-src="static/img/vako/vako-top.jpg" src="static/img/vako/vako-top.jpg")
        span.par-c.lazyload(style="background-image: url(static/img/vako/img-parallax-cmp.png)" data-speed="0.04" data-depth="4.00")
        span.par-hl.lazyload(style="background-image: url(static/img/vako/img-parallax-hndl.png)" data-speed="0.02" data-depth="4.00")
        span.par-hr.lazyload(style="background-image: url(static/img/vako/img-parallax-hndr.png)" data-speed="0.04" data-depth="8.00")
section.vakos-about
    ._container
        .vakos-about__wrapper
            .vakos-about__top
                h2.vakos-about__title-2.section-h2.wow.experience.animated О проекте
                .vakos-about__text-box
                    p.vakos-about__text.wow.experience.animated Товарная площадка Vako. Market — платформа, которая отвечает на вопросы «где купить так, чтобы и оригинальное, и по хорошей цене?»
                    p.vakos-about__text.wow.experience.animated Здесь вы сможете не только найти нужное устройство, выбрать цену и магазин понадёжнее, но и перед покупкой подробно изучить характеристики, посмотреть видеообзоры, почитать отзывы реальных людей, которые уже приобрели данный девайс. Всё это в одном месте и практически в одном окне.
            .vakos-about__middle
                span.name.wow.experience.animated Специалисты проекта
                ul.wow.experience.animated
                    li Менеджер проектов
                    li Аналитик
                    li Дизайнер
                    li Frontend-разработчик
                    li Backend-разработчик
                    li QA-тестировщик
                    li Специалист по рекламе
                    li SEO-специалист
            .vakos-about__bottom
                span.name.wow.experience.animated Использованные технологии и инструменты
                ul.wow.experience.animated
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_01.svg)")
                        span.info Figma
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_02.svg)")
                        span.info HTML
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_03.svg)")
                        span.info JS
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_04.svg)")
                        span.info Vue.js
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_05.svg)")
                        span.info MySQL
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_06.svg)")
                        span.info PHP
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_07.svg)")
                        span.info Laravel
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_08.svg)")
                        span.info Laravel Nova
section.vakos-tasks
    ._container
        .vakos-tasks__wrapper
            .vakos-tasks__top
                h2.vakos-tasks__title-2.section-h2.wow.experience.animated Задачи
                .vakos-tasks__text-box
                    p.vakos-tasks__text.wow.experience.animated
                        b Требовался итерационный подход к проработке площадки, чтобы учесть все пожелания клиента. А также чтобы можно было изначально показать MVP проекта, а далее наращивать необходимый функционал. Перед нами стояли задачи:
                    ul.wow.experience.animated
                        li создать стильный современный дизайн, сочетающий простоту и функциональность;
                        li разработать уникальную панель администрирования на базе CMS Nova;
                        li ввести раздельные кабинеты пользователя и магазина;
                        li проработать создание и управление различными выгрузками;
                        li добавить функционал создания и управления уникальными посадочными страницами;
                        li настроить гибкую систему поиска;
                        li создать региональные поддомены для привлечения трафика из разных регионов страны.
                    p.vakos-tasks__text.wow.experience.animated Изначально планировался долгосрочный проект, в котором должны были сочетаться оперативность первоначальной версии и полноценность итоговых возможностей как для владельца, так и для потенциальных клиентов-магазинов.
            .vakos-tasks__bottom.wow.experience.animated
                .vakos-tasks__bottom-avatar
                    span.icon(style="background-image: url(static/img/vako/vako-avatar.png)")
                    .vakos-tasks__bottom-avatar-wr
                        span.name Игорь
                        span.desc Директор агентства Promicom
                .vakos-tasks__bottom-content
                    p.vakos-tasks__text «Мы изначально видели, что проект выглядит достаточно масштабным и амбициозным. Однако нашей экспертизы в B2C и B2B сегментах, а также создании уникальных интернет-магазинов и каталогов было достаточно для его реализации.
                    p.vakos-tasks__text Постепенно подключили всех необходимых специалистов. Некоторые из них участвовали в созвонах ещё до начала старта работы, чтобы лучше понимать специфику задач. Кто-то присоединился в процессе позднее. Поскольку Павел, наш клиент, давал очень подробную и качественную обратную связь, проблем в работе не возникло. Всё вышло отлично!»
section.vakos-details
    ._container
        h2.vakos-details__title-2.section-h2.wow.experience.animated
            span Детали дизайна <br> и разработки
        .vakos-details__text-box
            p.vakos-details__text.wow.experience.animated Прежде чем начать работу над дизайном, мы проанализировали все популярные торговые площадки, <br> маркетплейсы и интернет-магазины. Причём работали не только по целевому региону, но и по соседним. <br> В результате были выявлены лучшие практики и закономерности. Изначально использовали их в UI-ките <br> и дизайне, некоторые вещи также внедрили позднее в процессе разработки.
    .vakos-details__first-sc
        ._container
            .vakos-details__first-sc-top
                h3.vakos-details__title-3.section-h3.wow.experience.animated Создали MVP основных страниц
                .vakos-details__text-box
                    p.vakos-details__text.wow.experience.animated Минималистичная главная для старта и демонстрации функционала. Разместили только необходимые элементы и двинулись дальше вглубь каталога.
            .vakos-details__first-sc-top-wr
                .vakos-details__img-box.wow.experience.animated
                    picture
                        img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-fs01.png" src="static/img/vako/vako-detail-fs01.png")
                .vakos-details__img-box.wow.experience.animated
                    picture
                        img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-fs02.png" src="static/img/vako/vako-detail-fs02.png")
    .vakos-details__second-sc
        ._container
            .vakos-details__second-sc-wr
                .vakos-details__second-sc-item
                    h3.vakos-details__title-3.section-h3.wow.experience.animated Учитывали все нюансы
                    .vakos-details__text-box
                        p.vakos-details__text.wow.experience.animated Показали все нужные детали каталога, страницы товара, поиска и других вещей, чтобы в дальнейшем не было проблем и непродуманных взаимодействий.
                    .vakos-details__img-box.wow.experience.animated
                        picture
                            img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-ss01.png" src="static/img/vako/vako-detail-ss01.png")
                .vakos-details__second-sc-item
                    .vakos-details__img-box.wow.experience.animated
                        picture
                            img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-ss02.png" src="static/img/vako/vako-detail-ss02.png")
                    .vakos-details__text-box
                        p.vakos-details__text.wow.experience.animated Меню каталога, процесс поиска, пункты выдачи, адаптивы дизайна всех важных макетов и многое другое.
                    .vakos-details__img-box.wow.experience.animated
                        picture
                            img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-ss03.png" src="static/img/vako/vako-detail-ss03.png")
    .vakos-details__third-sc
        ._container
            .vakos-details__third-sc-top
                h3.vakos-details__title-3.section-h3.wow.experience.animated Личные кабинеты магазина и покупателя
                .vakos-details__text-box
                    p.vakos-details__text.wow.experience.animated Проработали два личных кабинета для двух типов пользователей: владельцев магазинов <br> и покупателей.
            .vakos-details__third-sc-wr
                .vakos-details__third-sc-item
                    .vakos-details__img-box.wow.experience.animated
                        picture
                            img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-ts01.png" src="static/img/vako/vako-detail-ts01.png")
                    .vakos-details__text-box
                        p.vakos-details__text.wow.experience.animated Отдельная посадочная страница для входа и регистрации магазинов.
                    .vakos-details__img-box.wow.experience.animated
                        picture
                            img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-ts02.png" src="static/img/vako/vako-detail-ts02.png")
                    .vakos-details__img-box.wow.experience.animated
                        picture
                            img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-ts03.png" src="static/img/vako/vako-detail-ts03.png")
                    .vakos-details__text-box
                        p.vakos-details__text.wow.experience.animated Вся необходимая статистика, настройки, отзывы на товары и прайс-листы всегда под рукой.
                .vakos-details__third-sc-item
                    .vakos-details__third-sc-item-wr
                        .vakos-details__img-box.wow.experience.animated
                            picture
                                img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-ts04.png" src="static/img/vako/vako-detail-ts04.png")
                        .vakos-details__img-box.wow.experience.animated
                            picture
                                img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-ts05.png" src="static/img/vako/vako-detail-ts05.png")
                    .vakos-details__text-box
                        p.vakos-details__text.wow.experience.animated Адаптивные варианты макетов для чёткого переноса идей в продакшн и демонстрации клиенту.
    .vakos-details__last-sc
        ._container
            .vakos-details__last-sc-top
                h3.vakos-details__title-3.section-h3.wow.experience.animated Постепенно наращивали функционал: <br> новая главная, FAQ, блог и многое <br> другое
                .vakos-details__text-box
                    p.vakos-details__text.wow.experience.animated Когда базовые потребности были закрыты, мы взялись за дополнительные <br> возможности и реализовали все задуманные изначально нюансы, которые <br> были излишни для начальной версии проекта.
            .vakos-details__last-sc-wr
                .vakos-details__last-sc-item
                    .vakos-details__last-sc-item-slider.splide.wow.experience.animated
                        .splide__track
                            ul.splide__list
                                li.splide__slide
                                    .vakos-details__img-box
                                        picture
                                            img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-sl01.png" src="static/img/vako/vako-detail-sl01.png")


                                li.splide__slide
                                    .vakos-details__img-box
                                        picture
                                            img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-sl02.png" src="static/img/vako/vako-detail-sl02.png")



                                li.splide__slide
                                    .vakos-details__img-box
                                        picture
                                            img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-sl03.png" src="static/img/vako/vako-detail-sl03.png")



                                li.splide__slide
                                    .vakos-details__img-box
                                        picture
                                            img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-sl04.png" src="static/img/vako/vako-detail-sl04.png")



                .vakos-details__last-sc-item
                    .vakos-details__img-box.wow.experience.animated
                        picture
                            img.vakos-details__img.lazyload(loading="lazy" data-src="static/img/vako/vako-detail-sl-l01.png" src="static/img/vako/vako-detail-sl-l01.png")



section.vakos-process
    ._container
        h2.vakos-process__title-2.section-h2.wow.experience.animated
            span Процесс работы
        .vakos-process__wrapper
            .vakos-process__item
                .vakos-process__item-top
                    h3.vakos-process__title-3.section-h3.wow.experience.animated 1. Аналитика и проектирование
                    .vakos-process__img-box.wow.experience.animated
                        picture
                            img.vakos-process__img.lazyload(loading="lazy" data-src="static/img/vako/vako-process01.jpg" src="static/img/vako/vako-process01.jpg")
                .vakos-process__item-middle
                    h5.vakos-process__title-5.section-h5.wow.experience.animated Описание работы:
                    .vakos-process__text-box
                        p.vakos-process__text.wow.experience.animated Рассмотрели все популярные торговые площадки, маркетплейсы и интернет-магазины в России и СНГ. После этого занялись аналитикой проекта и спроектировали этапы работы, общие требования и наработки для будущего дизайна страниц:
                        ul.wow.experience.animated
                            li Нашли общие паттерны, положительно влияющие на продажи через сайты
                            li Подготовили требования для десктопного и мобильного вида
                            li Собрали всю необходимую информацию, структурировали её и организовали поэтапный процесс работы
                .vakos-process__item-bottom
                    h5.vakos-process__title-5.section-h5.wow.experience.animated Кратко о проектировании:
                    ul.wow.experience.animated
                        li <span>01</span> Анализ рынка конкурентов и аналогичных проектов
                        li <span>02</span> Обсуждение необходимых аспектов работы, которые должны были быть учтены
                        li <span>03</span> Прямая связь специалистов с клиентом
            .vakos-process__item.vakos-process__item--r
                .vakos-process__item-top
                    h3.vakos-process__title-3.section-h3.wow.experience.animated 2. Дизайн
                    .vakos-process__img-box.wow.experience.animated
                        picture
                            img.vakos-process__img.lazyload(loading="lazy" data-src="static/img/vako/vako-process02.jpg" src="static/img/vako/vako-process02.jpg")
                .vakos-process__item-middle
                    h5.vakos-process__title-5.section-h5.wow.experience.animated Описание работы:
                    .vakos-process__text-box
                        p.vakos-process__text.wow.experience.animated В работе над дизайнов мы учитывали и старые наработки Vako, и тенденции рынка торговых площадок и маркетплейсов. Старались привнести всё лучшее, что существует среди проектов в пространстве СНГ и избежать ненужной перегруженности.
                        ul.wow.experience.animated
                            li Проработали первую версию дизайна только с необходимыми страницами: главная, каталог, категории товаров каталога, страницы товаров со всеми нужными разделами (о товаре, характеристики, отзывы, обзоры)
                            li Добавили страницы избранного и сравнения
                            li Проработали два личных кабинета: магазинов и покупателей. Постепенно внесли в кабинеты новые разделы и актуальные наработки
                            li Добавили шаблоны страниц без информации
                            li Ввели страницы справки (FAQ), cookies, добавили дизайн страниц с товарами с особыми характеристиками
                            li Проработали вторую версию главной, когда появился костяк наполнения торговой площадки товарами и необходимость их продвигать более разнообразно и заметно
                            li Добавили блог со всеми нужными типами статей, подборками, тегами и другим полезным функционалом
                            li Спустя время появилась также необходимость в отдельных от справки страницах контактов и информации о площадке
                .vakos-process__item-bottom
                    h5.vakos-process__title-5.section-h5.wow.experience.animated Кратко о дизайне:
                    ul.wow.experience.animated
                        li <span>01</span> Разработка MVP дизайна: только важные и нужные страницы и функционал для быстрого внедрения
                        li <span>02</span> Проработка двух личных кабинетов под нужды любых пользователей площадки
                        li <span>03</span> Постепенное наращивание функционала и точечные доработки для приведения в готовый вид
            .vakos-process__item
                .vakos-process__item-top
                    h3.vakos-process__title-3.section-h3.wow.experience.animated 3. Разработка, тестирование
                    .vakos-process__img-box.wow.experience.animated
                        picture
                            img.vakos-process__img.lazyload(loading="lazy" data-src="static/img/vako/vako-process03.jpg" src="static/img/vako/vako-process03.jpg")
                .vakos-process__item-middle
                    h5.vakos-process__title-5.section-h5.wow.experience.animated Описание работы:
                    .vakos-process__text-box
                        p.vakos-process__text.wow.experience.animated Было множество различных особенностей проекта, поскольку подобная площадка требует детального подхода:
                        ul.wow.experience.animated
                            li Уникальная панель администратора на базе CMS Nova позволяющая управлять всеми возможностями для наполнения сайта, как классические, так и разработанные под данный проект (отдельная работа со свойствами товаров, их группировка; настройка работы поиска по сайту с использованием ключевых и стоп слов; полное управление фильтрами товаров в категориях; управление связанными товарами; функциональность по созданию дубликатов товаров с возможностью выбора добавления контента из других товаров)
                            li Раздельные кабинеты пользователя и магазина, размещающего свои файлы с товарами, время и дни показа предложений в каталоге, статистикой по размещенным товарам, управлению отзывами, настройками доставки и оплаты, времени работы пунктов выдачи
                            li Создание и управление из панели собственными выгрузками товаров, возможность добавления выгрузок с различным наполнением и периодичностью
                            li Создание и управление  уникальных посадочных страниц по определенным параметрам с уникальными метатегами
                            li Гибкая система поиска для получения быстрого и релевантного результата, учитывающая ранжирование запросов, транслитерацию и запросы с ошибками, статистика по всем поисковым запросам пользователей
                            li Системы отдельных поддоменов каждого региона для привлечения трафика из широкого списка городов, включая уникальный robots.txt, карту сайта и заголовки страниц
                .vakos-process__item-bottom
                    h5.vakos-process__title-5.section-h5.wow.experience.animated Кратко о разработке:
                    ul.wow.experience.animated
                        li <span>01</span> Уникальная административная панель на основе CMS Nova
                        li <span>02</span> Управление выгрузками товаров
                        li <span>03</span> Гибкая система поиска
                        li <span>04</span> Региональные поддомены
section.vakos-results
    ._container
        h2.vakos-results__title-2.section-h2.wow.experience.animated
            span Итоги работы
        .vakos-results__wrapper
            .vakos-results__top.wow.experience.animated
                .vakos-results__item
                    .vakos-results__item-check
                        span.icon
                    .vakos-results__item-text
                        p.vakos-results__text <b>Запуск уникальной площадки,</b> которая отвечает как запросам клиента, так и требованиям к современным проектам в целом.
                .vakos-results__item
                    .vakos-results__item-check
                        span.icon
                    .vakos-results__item-text
                        p.vakos-results__text <b>Заинтересованность</b> владельцев магазинов из разных регионов РФ в привлечении покупателей через торговую площадку <b>Vako.Market.</b>
                .vakos-results__item
                    .vakos-results__item-check
                        span.icon
                    .vakos-results__item-text
                        p.vakos-results__text Технологичная платформа с возможностью последующего расширения и налаживание <b>долгосрочного сотрудничества.</b> Оно продолжается и сейчас!
            h3.vakos-results__title-3.section-h3.wow.experience.animated Отзыв клиента
            .vakos-results__bottom-lt
                .vakos-results__bottom.wow.experience.animated
                    .vakos-results__bottom-avatar
                        span.icon(style="background-image: url(static/img/vako/vako-avatar-vako.png)")
                        .vakos-results__bottom-avatar-wr
                            span.name Павел Алексеев
                            span.desc Постоянный клиент
                    .vakos-results__bottom-content
                        p.vakos-results__text.wow.experience.animated «Мы изначально видели, что проект выглядит достаточно масштабным и амбициозным. Однако нашей экспертизы в B2C и B2B сегментах, а также создании уникальных интернет-магазинов и каталогов было достаточно для его реализации.
                        p.vakos-results__text.wow.experience.animated Постепенно подключили всех необходимых специалистов. Некоторые из них участвовали в созвонах ещё до начала старта работы, чтобы лучше понимать специфику задач. Кто-то присоединился в процессе позднее. Поскольку Павел, наш клиент, давал очень подробную и качественную обратную связь, проблем в работе не возникло. Всё вышло отлично!»
section.vakos-team
    ._container
        h2.vakos-team__title-2.section-h2.wow.experience.animated
            span Команда проекта
        .vakos-team__content.wow.experience.animated
            .vakos-team__content-item
                .vakos-team__content-item-name Игорь Гудович
                .vakos-team__content-item-desc Директор агентства Promicom
            .vakos-team__content-item
                .vakos-team__content-item-name Александр Юшкевич
                .vakos-team__content-item-desc Менеджер проектов
            .vakos-team__content-item
                .vakos-team__content-item-name Александр Льдов
                .vakos-team__content-item-desc Дизайнер
            .vakos-team__content-item
                .vakos-team__content-item-name Игорь Хроменков
                .vakos-team__content-item-desc Frontend-разработчик
            .vakos-team__content-item
                .vakos-team__content-item-name Иван Васильчиков
                .vakos-team__content-item-desc Backend-разработчик
            .vakos-team__content-item
                .vakos-team__content-item-name Анна Самойлова
                .vakos-team__content-item-desc QA-тестировщик
            .vakos-team__content-item
                .vakos-team__content-item-name Мария Винник
                .vakos-team__content-item-desc Специалист по рекламе
            .vakos-team__content-item
                .vakos-team__content-item-name Екатерина Дмитриева
                .vakos-team__content-item-desc SMM- и SEO-специалист
        a(href='#').vakos-team__btn.wow.experience.animated
            span Подробнее о нас
