section.service-contains
    .container
        .service-contains__title.section-h2.wow.experience Что входит в создание и разработку сайта на Битриксе
        ul.service-contains__list
            li.wow.experienceRight Установка и настройка «1С-Битрикс»
            li.wow.experienceRight Установка готового решения и шаблона
            li.wow.experienceRight Подбор и Размещение сайта на хостинге
            li.wow.experienceRight Установка доп. модулей
            li.wow.experienceRight Внедрение вашего логотипа
            li.wow.experienceRight Замена иконки сайта (favicon.ico)
            li.wow.experienceRight Установка общих настроек решения (цветовая схема, фон, изменение структуры, вид отображения)
            li.wow.experienceRight Отрисовка 2-х баннеров для главной страницы
            li.wow.experienceRight Установка контактов для базового региона (в шапке, подвале)
            li.wow.experienceRight Настройка базового имени сайта в административной части
            li.wow.experienceRight Настройка email для администратора и менеджера сайта в административной части сайта
            li.wow.experienceRight Настройка корзины, способов доставки и оплаты
            li.wow.experienceRight Установка счетчиков статистики (не более 2-х штук)
            li.wow.experienceRight Подключение к Яндекс.Вебмастер
            li.wow.experienceRight Подключение к панели Google для вебмастеров
            li.wow.experienceRight Настройка SSL-сертификата