section.inresult-block
    .container
        .inresult-block__title.section-h2.wow.experience В результате вы получите:
        .inresult-block__items
            .inresult-block__item.wow.experienceRight
                .inresult-block__item-icon: img.lazyload(loading="lazy" data-src="../static/img/context/res-1.svg" width=60 height=60)
                .inresult-block__item-caption Использование в рекламной кампании новейших инструментов Google и Яндекс
            .inresult-block__item.wow.experienceRight
                .inresult-block__item-icon: img.lazyload(loading="lazy" data-src="../static/img/context/res-2.svg" width=60 height=60)
                .inresult-block__item-caption Постоянную корректировку бюджета и объявлений при необходимости
            .inresult-block__item.wow.experienceRight
                .inresult-block__item-icon: img.lazyload(loading="lazy" data-src="../static/img/context/res-3.svg" width=60 height=60)
                .inresult-block__item-caption Точное определение целевой аудитории и корректную настройку таргетинга
            .inresult-block__item.wow.experienceRight
                .inresult-block__item-icon: img.lazyload(loading="lazy" data-src="../static/img/context/res-4.svg" width=60 height=60)
                .inresult-block__item-caption Выгодную стоимость привлечения клиентов по сравнению с офлайн рекламой
            .inresult-block__item.wow.experienceRight
                .inresult-block__item-icon: img.lazyload(loading="lazy" data-src="../static/img/context/res-5.svg" width=60 height=60)
                .inresult-block__item-caption Оперативную подачу информации о рекламном продукте конечному потребителю
            .inresult-block__item.wow.experienceRight
                .inresult-block__item-icon: img.lazyload(loading="lazy" data-src="../static/img/context/res-6.svg" width=60 height=60)
                .inresult-block__item-caption Ваш сайт постоянно в ТОПе поисковой выдачи по высокочастотным запросам
            .inresult-block__item.wow.experienceRight
                .inresult-block__item-icon: img.lazyload(loading="lazy" data-src="../static/img/context/res-7.svg" width=60 height=60)
                .inresult-block__item-caption Усиление трафика за счет «теплых» лидов и повышение продаж за счет контента целевых страниц
            .inresult-block__item.wow.experienceRight
                .inresult-block__item-icon: img.lazyload(loading="lazy" data-src="../static/img/context/res-8.svg" width=60 height=60)
                .inresult-block__item-caption Ориентированность на клиента: за одним специалистом одновременно закреплено не более 5 клиентов