section.steps-block.block-with--lines
    .container
        .steps-block__title.section-h2.wow.experience Этапы работы
        .steps-block__caption.section-caption.wow.experience Как мы будем работать над вашим проектом
        .steps-block__items
            .steps-block__item.wow.experience
                .steps-block__item-number 01
                .steps-block__item-content
                    .steps-block__item-title Подготовительные работы
                    .steps-block__item-days От 3 до 5 дней
                    .steps-block__item-features.edit-content
                        ol
                            li Настраиваем или создаем доступ к счетчикам аналитики для отслеживания действий по сайту
                            li Подключаем Google Tag Manager, для установки счетчиков на сайт без привлечения разработчиков
                .steps-block__item-toggle
                    .steps-block__item-toggle--expand: +icons('#icon_plus_32', 32)
                    .steps-block__item-toggle--hide: +icons('#icon_minus_32', 32)
            .steps-block__item.wow.experience
                .steps-block__item-number 02
                .steps-block__item-content
                    .steps-block__item-title Настройка счетчиков веб-аналитики
                    .steps-block__item-days От 1 до 3 часов
                    .steps-block__item-features.edit-content
                        ol
                            li Настраиваем или создаем доступ к счетчикам аналитики для отслеживания действий по сайту
                            li Подключаем Google Tag Manager, для установки счетчиков на сайт без привлечения разработчиков
                .steps-block__item-toggle
                    .steps-block__item-toggle--expand: +icons('#icon_plus_32', 32)
                    .steps-block__item-toggle--hide: +icons('#icon_minus_32', 32)
            .steps-block__item.wow.experience
                .steps-block__item-number 03
                .steps-block__item-content
                    .steps-block__item-title Подготовка целей для рекламных кампаний
                    .steps-block__item-days От 2 до 4 часов
                    .steps-block__item-features.edit-content
                        ol
                            li Настраиваем или создаем доступ к счетчикам аналитики для отслеживания действий по сайту
                            li Подключаем Google Tag Manager, для установки счетчиков на сайт без привлечения разработчиков
                .steps-block__item-toggle
                    .steps-block__item-toggle--expand: +icons('#icon_plus_32', 32)
                    .steps-block__item-toggle--hide: +icons('#icon_minus_32', 32)
            .steps-block__item.wow.experience
                .steps-block__item-number 04
                .steps-block__item-content
                    .steps-block__item-title Подготовка рекламных кампаний к запуску
                    .steps-block__item-days От 3 до 15 дней
                    .steps-block__item-features.edit-content
                        ol
                            li Настраиваем или создаем доступ к счетчикам аналитики для отслеживания действий по сайту
                            li Подключаем Google Tag Manager, для установки счетчиков на сайт без привлечения разработчиков
                .steps-block__item-toggle
                    .steps-block__item-toggle--expand: +icons('#icon_plus_32', 32)
                    .steps-block__item-toggle--hide: +icons('#icon_minus_32', 32)
            .steps-block__item.wow.experience
                .steps-block__item-number 05
                .steps-block__item-content
                    .steps-block__item-title Анализ и оптимизация рекламных кампаний
                    .steps-block__item-days Выполняется на протяжении всего срока сотрудничества
                    .steps-block__item-features.edit-content
                        ol
                            li Настраиваем или создаем доступ к счетчикам аналитики для отслеживания действий по сайту
                            li Подключаем Google Tag Manager, для установки счетчиков на сайт без привлечения разработчиков
                .steps-block__item-toggle
                    .steps-block__item-toggle--expand: +icons('#icon_plus_32', 32)
                    .steps-block__item-toggle--hide: +icons('#icon_minus_32', 32)