section.contacts-block
    .container
        h1.contacts-block__title.section-h1.wow.experience Контакты
        .contacts-block__caption.section-caption.wow.experience Наш офис находится в Беларуси, но это никогда не мешало нам сотрудничать с компаниями из других стран и мировыми брендами. Мы умеем построить работу так, чтобы всем было комфортно.
        .contacts-block__content
            .contacts-block__info.wow.experienceRight
                .contacts-block__info-items
                    .contacts-block__info-item
                        .title.section-h3 Офис в Москве
                        .address
                            .address-caption Адрес:
                            .address-value Волгоградский проспект 17, стр. 1
                        a(href="tel:+79267313545").phone +7 (926) 731-35-45
                    .contacts-block__info-item
                        .title.section-h3 Офис в Беларуси
                        .address
                            .address-caption Адрес:
                            .address-value Беларусь, г. Могилев, ул. Ленинская, офис 609
                        a(href="tel:+375293116611").phone +375 (29) 311-66-11
                .contacts-block__info-mail
                    .caption Эл. почта:
                    a(href="#").link info@promicom.ru
                .contacts-block__info-socials
                    a(href="#").contacts-block__info-social
                        img.lazyload(loading="lazy" data-src="static/img/svg/telegram.svg" width=32 height=32)
                    a(href="#").contacts-block__info-social
                        img.lazyload(loading="lazy" data-src="static/img/svg/whatsapp.svg" width=32 height=32)
                    a(href="#").contacts-block__info-social
                        img.lazyload(loading="lazy" data-src="static/img/svg/skype.svg" width=32 height=32)
            .contacts-block__map.wow.experienceLeft
                .contacts-block__map-points
                    .contacts-block__map-point(style="top:calc(142/496*100%);left:calc(510/864*100%)"): img(src="static/img/contacts/point.svg" width=28 height=28)
                    .contacts-block__map-point(style="top:calc(162/496*100%);left:calc(478/864*100%)"): img(src="static/img/contacts/point.svg" width=28 height=28)
                .contacts-block__map-image: img(src="static/img/contacts/map.svg" width=345 height=197)