section.mainpage-tech
    .container
        .mainpage-tech__title.section-h2.wow.experience Технологии
        .mainpage-tech__caption.section-caption.wow.experience.
            Наша команда успешно работает с данными системами управления (CMS) 
            и фреймворками, как для поддержки сайтов, так и для их комплексного
            администрирования.
        .mainpage-tech__items.wow.experience
            .mainpage-tech__item
                picture
                    source(srcset="static/img/home/tech-1.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="static/img/home/tech-1.png" width=156 height=64)
            .mainpage-tech__item
                picture
                    source(srcset="static/img/home/tech-2.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="static/img/home/tech-2.png" width=156 height=64)
            .mainpage-tech__item
                picture
                    source(srcset="static/img/home/tech-3.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="static/img/home/tech-3.png" width=156 height=64)
            .mainpage-tech__item
                picture
                    source(srcset="static/img/home/tech-4.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="static/img/home/tech-4.png" width=156 height=64)
            .mainpage-tech__item
                picture
                    source(srcset="static/img/home/tech-5.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="static/img/home/tech-5.png" width=156 height=64)