section.mainpage-tech.mainpage-tech-vogez
    .container
        .mainpage-tech-vogez__title.section-h2.wow.experience Использованные <span>технологии</span>
        .mainpage-tech-vogez__caption.section-caption.wow.experience.
            Наша команда успешно работает с данными системами управления (CMS)
            и фреймворками, как для поддержки сайтов, так и для их комплексного
            администрирования.
        .mainpage-tech-vogez__items.wow.experience
            .mainpage-tech-vogez__item
                picture
                    source(srcset="static/img/home/tech-1-new.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="static/img/home/tech-1-new.png" width=288 height=64)
            .mainpage-tech-vogez__item
                picture
                    source(srcset="static/img/home/tech-2-new.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="static/img/home/tech-2-new.png" width=288 height=64)
            .mainpage-tech-vogez__item
                picture
                    source(srcset="static/img/home/tech-3-new.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="static/img/home/tech-3-new.png" width=288 height=64)
            .mainpage-tech-vogez__item
                picture
                    source(srcset="static/img/home/tech-4-new.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="static/img/home/tech-4-new.png" width=288 height=64)

