section.tarrifs-block
    .container
        .tarrifs-block__title.section-h2.wow.experience Тарифы
        .tarrifs-block__caption.section-caption.wow.experience Подходят и малым коммерческим проектам, и крупным порталам
        .tarrifs-block__slider.splide.wow.experienceRight
            .splide__track
                ul.splide__list
                    li.splide__slide.tarrifs-block__item
                        .tarrifs-block__item-name.section-h3 Старт
                        .tarrifs-block__item-boxes
                            .tarrifs-block__item-box
                                span Яндекс.Директ или Google Ads
                                strong От 15 000 ₽
                            .tarrifs-block__item-box
                                span Яндекс.Директ + Google Ads
                                strong От 25 000 ₽
                        ul.tarrifs-block__item-list
                            li
                                span Срок изготовления:
                                strong от 5 дней
                            li
                                span Ведение компании после настройки:
                                strong 7 дней
                            li
                                span Описание:
                                strong Услуги b2b, b2c, продажа товаров ограниченного ассортимента
                        .tarrifs-block__item-features
                            .tarrifs-block__item-features__title Особенности:
                            ul.tarrifs-block__item-features__list
                                li Поисковая компания
                                li Медийная кампания (РСЯ/КМС)
                    li.splide__slide.tarrifs-block__item
                        .tarrifs-block__item-name.section-h3 Продвинутый
                        .tarrifs-block__item-boxes
                            .tarrifs-block__item-box
                                span Яндекс.Директ или Google Ads
                                strong От 25 000 ₽
                            .tarrifs-block__item-box
                                span Яндекс.Директ + Google Ads
                                strong От 40 000 ₽
                        ul.tarrifs-block__item-list
                            li
                                span Срок изготовления:
                                strong от 7 дней
                            li
                                span Ведение компании после настройки:
                                strong 14 дней
                            li
                                span Описание:
                                strong Сайт каталог в тематике b2b, b2с. Более 10 товарных групп и 100 товаров.
                        .tarrifs-block__item-features
                            .tarrifs-block__item-features__title Тариф «Старт» плюс:
                            ul.tarrifs-block__item-features__list.tarrifs-block__item-features__list--plus
                                li Ремаркетинг / ретаргетинг
                                li По конкурентам
                    li.splide__slide.tarrifs-block__item
                        .tarrifs-block__item-name.section-h3 Безлимит
                        .tarrifs-block__item-boxes
                            .tarrifs-block__item-box
                                span Яндекс.Директ или Google Ads
                                strong От 40 000 ₽
                            .tarrifs-block__item-box
                                span Яндекс.Директ + Google Ads
                                strong От 70 000 ₽
                        ul.tarrifs-block__item-list
                            li
                                span Срок изготовления:
                                strong от 10 дней
                            li
                                span Ведение компании после настройки:
                                strong 30 дней
                            li
                                span Описание:
                                strong E-commerce, которому необходим современный и полный набор инструментов интернет-маркетинга
                        .tarrifs-block__item-features
                            .tarrifs-block__item-features__title Тариф «Продвинутый» плюс:
                            ul.tarrifs-block__item-features__list
                                li Динамическое объявление (при наличии yml)
                                li По аудиториям / сегментам
                                li Смарт баннеры
        .tarrifs-block__btn
            a(href="#").btn.btn-primary Подобрать тариф