section.tarrifs-block
    .container
        .tarrifs-block__title.section-h2.wow.experience Тарифы
        .tarrifs-block__caption.section-caption.wow.experience У нас действуют стандартные и индивидуальные тарифные планы. Все они учитывают персональные задачи и потребности каждого заказчика услуг. Это может быть комплексное абонентское обслуживание сайта или краткосрочное разовое сопровождение.
        .tarrifs-block__slider.splide.wow.experienceRight
            .splide__track
                ul.splide__list
                    li.splide__slide.tarrifs-block__item
                        .tarrifs-block__item-name.section-h3 Минимум
                        .tarrifs-block__item-boxes
                            .tarrifs-block__item-box
                                span Стоимость в месяц
                                strong 25 000 – 37 500 ₽
                        ul.tarrifs-block__item-list
                            li
                                span Стоимость дополнительного часа специалиста:
                                strong 2 500 ₽
                            li
                                span Объем работы:
                                strong 10-15 часов в месяц
                    li.splide__slide.tarrifs-block__item
                        .tarrifs-block__item-name.section-h3 Оптимум
                        .tarrifs-block__item-boxes
                            .tarrifs-block__item-box
                                span Стоимость в месяц
                                strong 32 000 – 60 000 ₽
                        ul.tarrifs-block__item-list
                            li
                                span Стоимость дополнительного часа специалиста:
                                strong 2 000 ₽
                            li
                                span Объем работы:
                                strong 16-30 часов в месяц
                    li.splide__slide.tarrifs-block__item
                        .tarrifs-block__item-name.section-h3 Расширенный
                        .tarrifs-block__item-boxes
                            .tarrifs-block__item-box
                                span Стоимость в месяц
                                strong От 64 000 ₽
                        ul.tarrifs-block__item-list
                            li
                                span Стоимость дополнительного часа специалиста:
                                strong 2 200 ₽
                            li
                                span Объем работы:
                                strong от 32 часов в месяц
        .tarrifs-block__btn.tarrifs-block__btn--center
            a(href="#").btn.btn-primary Подобрать тариф