section.other-projects
    .other-projects__box-prev
        a.other-projects__link-prev(href='#')
            .container
                .other-projects__title Предыдущий проет
                .other-projects__name Транспортная компания «Астра»
                .other-projects__sub-text Корпоративный сайт + личный кабинет для транспортной компании Астра
    .other-projects__box-next
        a.other-projects__link-next(href='#')
            .container
                .other-projects__title Следующий проект
                .other-projects__name СЭЗ «Могилев»
                .other-projects__sub-text Масштабный проект для Администрации СЭЗ «Могилев», привлечением инвестиций для производств