section.cmn-temp
    ._container
        h1.cmn-temp__title.section-h1.wow.experience.animated Разработка сайта компании, занимающейся обновлением недвижимости в Канаде
        //h2.cmn-temp__titleh2.section-h2.wow.experience.animated Один из крупнейших игроков на рынке элитной жилой недвижимости Москвы и Подмосковья
        .cmn-temp__caption.section-description.wow.experience.animated
            .cmn-temp__text-box
                p.cmn-temp__text Выполнили дизайн и запрограммировали сайт компании по ремонту и обновлению частной и коммерческой недвижимости в Канаде. Учли многие пожелания клиента, чтобы предоставить максимально комфортный и одновременно приносящий прибыль инструмент. Внедрили нестандартный функционал хронологией цикла работы клиента и интерактивную карту локаций предоставления услуг.
            a.cmn-temp__link-box(href='https://csgrenovation.ca/' target='_blank')
                div.cmn-temp__link CSG Renovation
                span.lazyload(style="background-image: url(static/img/svg/ic_link-new.svg)")
    .cmn-temp__img-box
        picture
            img.cmn-temp__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/first-img-bg.jpg" src="static/img/csgrenovation/first-img-bg.jpg")

section.cmn-temp-about
    ._container
        .cmn-temp-about__wrapper
            .cmn-temp-about__top
                h2.cmn-temp-about__title-2.section-h2.wow.experience.animated О проекте
                .cmn-temp-about__text-box
                    p.cmn-temp-about__text.wow.experience.animated
                        | CSG Renovation — это ремонтная компания, которая предлагает качественный сервис и 100% удовлетворенность клиентов. Они упрощают обновление частной и коммерческой недвижимости благодаря своей квалифицированной команде и гордятся тем, что заботятся обо всех потребностях в ремонте под ключ.
            .cmn-temp-about__middle
                span.name.wow.experience.animated Специалисты проекта:
                ul.wow.experience.animated
                    li Менеджер проектов
                    li Аналитик
                    li UX/UI-Дизайнер
                    li Frontend-разработчик
                    li Backend-разработчик
                    li QA-инженер
                    li Специалист по рекламе
                    li SEO-специалист
            .cmn-temp-about__bottom
                span.name.wow.experience.animated Использованные технологии и инструменты:
                ul.wow.experience.animated
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_01.svg)")
                        span.info Figma
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_02.svg)")
                        span.info HTML
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/16-css.svg)")
                        span.info CSS
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_03.svg)")
                        span.info JS
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/17-pwa.svg)")
                        span.info PWA

                    li
                        span.icon(style="background-image: url(static/img/vako/svg/04-wordpress.svg)")
                        span.info WordPress
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_05.svg)")
                        span.info MySQL
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_11.svg)")
                        span.info Splide
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/20-open-graph.svg)")
                        span.info Open Graph
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/22-litespeed.svg)")
                        span.info LiteSpeed
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/21-userway.svg)")
                        span.info UserWay
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/18-gmaps.svg)")
                        span.info Google Maps
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/23-google-analytics.svg)")
                        span.info Google Analytics
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/19-google-tag-manager.svg)")
                        span.info Google Tag Manager

section.cmn-temp-tasks
    ._container
        .cmn-temp-tasks__wrapper
            .cmn-temp-tasks__top
                h2.cmn-temp-tasks__title-2.section-h2.wow.experience.animated Задачи
                .cmn-temp-tasks__text-box
                    ul.wow.experience.animated
                        li Создать конкурентоспособный продукт, успешно презентующий компанию на рынке, привлекающий новых клиентов и закрывающий их потребности и «боли»
                        li Проработать проект в соответствии со всеми пожеланиями клиента вплоть до мельчайших деталей
                        li Учесть идеальную адаптацию под мобильные устройства с учётом нестандартного для нас региона работы клиента (Канада)
                        li Подключить 3D-галереи для просмотра недвижимости «изнутри»
                        li Добавить оригинальный блок с демонстрацией от 30- до 70-дневного цикла выполнения ремонтов в «CSG Renovation»
                        li Внедрить интерактивную карту Канады с возможностью выбора подходящего региона
            .cmn-temp-tasks__bottom.wow.experience.animated
                .cmn-temp-tasks__bottom-avatar
                    .cmn-temp-tasks__bottom-avatar-wr
                        span.name Александр Юшкевич
                        span.desc Менеджер проектов
                .cmn-temp-tasks__bottom-content
                    p.cmn-temp-tasks__text «Работа над этим проектом стала для нашей команды отличным примером того, как синергия видения клиента и нашего технического опыта создает по-настоящему качественный продукт.
                    p.cmn-temp-tasks__text При разработке сайта для крупной канадской компании по ремонту недвижимости мы преследовали цель не просто сделать „красивую визитку“, а создать инструмент, который будет <b>продавать сложные услуги через доверие и наглядность.</b>
                    p.cmn-temp-tasks__text Чтобы выделить проект на фоне конкурентов, мы внедрили несколько интерактивных решений: интерактивную карту с регионами Канады, 3D-галерею просмотра объектов недвижимости ДО и ПОСЛЕ выполнения работ, а также визуализировали рабочий цикл „CSG Renovation“ через оригинальный блок с шагами и днями.
                    p.cmn-temp-tasks__text В результате создали технологичный, статусный сайт, который полностью отражает профессионализм клиента и говорит с канадским пользователем одновременно на языке современных трендов и удобства».

section.cmn-temp-details
    ._container
        h2.cmn-temp-details__title-2.section-h2.wow.experience.animated
            span Детали дизайна <br> и разработки
        .cmn-temp-details__text-box.cmn-temp-details__text-box--top
            p.cmn-temp-details__text.wow.experience.animated Мы изучили региональный рынок и конкурентов, чтобы предложить оригинальное, но привычное решение — потенциальные посетители и клиенты компании никогда не будут чувствовать себя неуютно. Мы вели активную коммуникацию и в итоге разработали сайт, удовлетворяющий все стороны, конкретный эффективный инструмент продаж и продвижения услуг.

    .cmn-temp-details__first-sc(style="background: #F2F2F2;")
        ._container
            .cmn-temp-details__first-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Бизнес с человеческим лицом
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.wow.experience.animated Сделали акцент не только на отличном качестве ремонтов, но и на конкретных людях, которые выполняют работы на местах, а также показали владельца и основателя бизнеса.
            .cmn-temp-details__first-sc-top-wr
                .cmn-temp-details__img-box.wow.experience.animated
                    picture
                        img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-01.jpg" src="static/img/csgrenovation/img-01.jpg")
                .cmn-temp-details__img-box.wow.experience.animated
                    picture
                        img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-02.jpg" src="static/img/csgrenovation/img-02.jpg")


    .cmn-temp-details__second-sc.bgBlock1(style="background-image: url(static/img/csgrenovation/bg-img.jpg)")
        ._container
            .cmn-temp-details__second-sc-wr
                .cmn-temp-details__second-sc-item.cmn-temp-details__second-sc-item--nw
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-04.jpg" src="static/img/csgrenovation/img-04.jpg")
                    .cmn-temp-details__text-box.cmn-temp-details__text-box--nw
                        p.cmn-temp-details__text.wow.experience.animated Виртуальный тур по объектам: Смотрите фото ДО и ПОСЛЕ работ «CSG Renovation» или «пройдитесь» по недвижимости лично в удобных 3D-галереях.
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-05.jpg" src="static/img/csgrenovation/img-05.jpg")
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-06.jpg" src="static/img/csgrenovation/img-06.jpg")

                .cmn-temp-details__second-sc-item
                    h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Акцент на оригинальном подходе, не мешающему восприятию
                    .cmn-temp-details__text-box
                        p.cmn-temp-details__text.wow.experience.animated
                            | Чтобы выделить проект на фоне конкурентов, мы внедрили несколько интерактивных решений:
                        ul.wow.experience.animated
                            li Интерактивная карта Канады: Позволяет потенциальным клиентам мгновенно увидеть географию работы по провинциям.
                            li Иммерсивная 3D-галерея: Модуль для просмотра объектов, который позволяет пользователю буквально «прогуляться» по отремонтированным помещениям.
                            li Визуализация рабочих процессов: Детально проработали блок описания цикла работ.
                    .nw-md-block
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-04.jpg" src="static/img/csgrenovation/img-04.jpg")
                        .cmn-temp-details__text-box.cmn-temp-details__text-box--nw
                            p.cmn-temp-details__text.wow.experience.animated Виртуальный тур по объектам: Смотрите фото ДО и ПОСЛЕ работ «CSG Renovation» или «пройдитесь» по недвижимости лично в удобных 3D-галереях.
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-05.jpg" src="static/img/csgrenovation/img-05.jpg")
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-06.jpg" src="static/img/csgrenovation/img-06.jpg")

                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-03.png" src="static/img/csgrenovation/img-03.png")


    .cmn-temp-details__third-sc
        ._container
            .cmn-temp-details__third-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Полноценная работа от и до: все нужные страницы, адаптив под мобильные, детали
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.cmn-temp-details__text--16.wow.experience.animated Отрисовали дизайн с нуля и проработали каждую внутреннюю страницу — от главной до самых мелких разделов. Конечно, не забыли про идеальную мобильную версию и внимание к деталям. Для нас в «Promicom» это не просто список задач, а наш стандарт: делать каждый кейс как для самих себя.
            .cmn-temp-details__third-sc-wr
                .cmn-temp-details__third-sc-item
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-07.jpg" src="static/img/csgrenovation/img-07.jpg")
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-08.jpg" src="static/img/csgrenovation/img-08.jpg")

                    .cmn-temp-details__text-box.cmn-temp-details__text-box--mt-nw
                        p.cmn-temp-details__text.wow.experience.animated Видеообзоры работ, отзывы, награды и сертификаты компании — презентация бизнеса на высоте. Вы будете вызывать доверие и привлекать много довольных клиентов.
                .cmn-temp-details__third-sc-item
                    .cmn-temp-details__third-sc-item-wr
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-09.jpg" src="static/img/csgrenovation/img-09.jpg")
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-10.jpg" src="static/img/csgrenovation/img-10.jpg")


    .cmn-temp-details__last-sc(style="background-image: url(static/img/csgrenovation/bg-img2.png)")
        ._container
            .cmn-temp-details__last-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Глубокие коммуникация и тестирование
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.wow.experience.animated Всё время были на связи с клиентом, предоставляя возможность влиять на получающийся продукт. Все доработки вносим с учётом своего обширного опыта и отговариваем от неподходящих решений, если требуется.
            .cmn-temp-details__last-sc-wr
                .cmn-temp-details__last-sc-item
                    .cmn-temp-details__last-sc-item-slider.splide.wow.experience.animated
                        .splide__track
                            ul.splide__list
                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-slider-1.jpg" src="static/img/csgrenovation/img-slider-1.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-slider-1.jpg" src="static/img/csgrenovation/img-slider-2.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-slider-3.jpg" src="static/img/csgrenovation/img-slider-3.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-slider-4.jpg" src="static/img/csgrenovation/img-slider-4.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-slider-5.jpg" src="static/img/csgrenovation/img-slider-5.jpg")

                .cmn-temp-details__last-sc-item
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-11-caption.png" src="static/img/csgrenovation/img-11-caption.png")



section.cmn-temp-process
    ._container
        h2.cmn-temp-process__title-2.section-h2.wow.experience.animated
            span Процесс работы
        .cmn-temp-process__wrapper
            .cmn-temp-process__item
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 1. Анализ конкурентов и дизайн
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-12.jpg" src="static/img/csgrenovation/img-12.jpg")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Анализ конкурентов на рынке в целом и в конкретном регионе работы
                        li <span>02</span> Сбор необходимых данных для работы, детальная коммуникация с менеджером проектов со стороны клиента
                        li <span>03</span> Проработка нескольких вариантов прототипов дизайна для выбора наиболее подходящего
                        li <span>04</span> Отрисовка дизайна, максимально подходящего и под пожелания клиента, и под технические требования

            .cmn-temp-process__item.cmn-temp-process__item--r
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 2. Разработка, внедрение решений
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-13.jpg" src="static/img/csgrenovation/img-13.jpg")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Адаптивная вёрстка дизайна под все нужные браузеры и мобильные устройства
                        li <span>02</span> Разработка интерактивной карты с провинциями Канады
                        li <span>03</span> Внедрение 3D-галереи для максимального «живого» и вовлекающего просмотра объектов
                        li <span>04</span> Добавление уникального пошагового отображения цикла работы клиента



            .cmn-temp-process__item
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 3. Тестирование и запуск
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/csgrenovation/img-14.jpg" src="static/img/csgrenovation/img-14.jpg")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Цикл комплексного тестирования, гарантирующий стабильность сайта перед запуском
                        li <span>02</span> Внесение финальных доработок со стороны клиента
                        li <span>03</span> Отдельное внимание было уделено опыту взаимодействия с сайтом с точки зрения UX

section.cmn-temp-results
    ._container
        h2.cmn-temp-results__title-2.section-h2.wow.experience.animated
            span Итоги работы
        .cmn-temp-results__wrapper
            .cmn-temp-results__top.wow.experience.animated
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Запоминающийся сайт с уникальным функционалом, который при этом является и практичным инструментом продажи услуг клиента
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Детально проработанная фронтенд- и бэкенд-логика, позволяющая сайту работать быстро и эффективно, приносить ощутимую выгоду бизнесу
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Глубокое тестирование, внесение всех правок от заказчика, подходящих под техническую и бизнес-логику, и не мешающих пользовательскому опыту


            h3.cmn-temp-results__title-3.section-h3.wow.experience.animated Отзыв клиента:
            .cmn-temp-results__bottom-lt
                .cmn-temp-results__bottom.wow.experience.animated
                    .cmn-temp-results__bottom-avatar
                        span.icon(style="background-image: url(static/img/csgrenovation/logo_desktop.svg)")
                        .cmn-temp-results__bottom-avatar-wr
                            span.name Владимир Лебедев
                            span.desc Основатель CSG Renovation
                    .cmn-temp-results__bottom-content
                        p.cmn-temp-results__text.wow.experience.animated «Результат оправдал все ожидания: команде Промиком удалось идеально совместить наши идеи с их глубоким техническим видением, создав мощный маркетинговый инструмент. Впечатлила реализация интерактивной карты и 3D-галереи: наши клиенты теперь могут наглядно оценить качество реновации ещё до личной встречи, а детальное описание рабочих циклов сняло все вопросы о прозрачности процессов. Это был качественный подход от первой консультации до запуска. Мы рады, что доверили цифровое представление нашей компании именно этим людям».

section.cmn-temp-team
    ._container
        h2.cmn-temp-team__title-2.section-h2.wow.experience.animated
            span Команда проекта
        .cmn-temp-team__content.wow.experience.animated
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Игорь Гудович
                .cmn-temp-team__content-item-desc Директор агентства Promicom
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Юшкевич
                .cmn-temp-team__content-item-desc Менеджер проектов
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Льдов
                .cmn-temp-team__content-item-desc UX/UI-Дизайнер
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Игорь Хроменков
                .cmn-temp-team__content-item-desc Frontend-разработчик
            .homespro-team__content-item
                .cmn-temp-team__content-item-name Сергей Данилкин
                .cmn-temp-team__content-item-desc Backend-разработчик
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Муравьёв
                .cmn-temp-team__content-item-desc QA-инженер
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Мария Винник
                .cmn-temp-team__content-item-desc Специалист по рекламе
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Екатерина Дмитриева
                .cmn-temp-team__content-item-desc SEO-специалист
        a(href='/agency/').cmn-temp-team__btn.wow.experience.animated
            span Подробнее о нас

section.cmn-project
    ._container
        h2.cmn-project__title-2.section-h2.wow.experience.animated
            span Другие проекты
            a(href='/portfolio/').cmn-project__btn.wow.experience.animated
                span Все проекты
        .cmn-project__content
            .cmn-project__content_item(style="background-image: url(static/img/csgrenovation/max.jpg)")
                a(href='/portfolio/vako/').cmn-project__content_item-name Корпоративный сайт группы компаний, проектирующих чистые помещения
                .cmn-project__content_item-tabs
                    a(href='/development/corporate/').cmn-project__tab Корпоративные сайты
                    a(href='/development/personal/').cmn-project__tab CRM и кабинеты

            .cmn-project__content_item(style="background-image: url(static/img/csgrenovation/homepro.jpg)")
                a(href='/portfolio/homespro/').cmn-project__content_item-name Проектирование и строительство современных жилых пространств
                .cmn-project__content_item-tabs
                    a(href='/development/corporate/').cmn-project__tab Корпоративные сайты

            .cmn-project__content_item(style="background-image: url(static/img/metrium/caseimg-3.png)")
                a(href='/portfolio/vogez/').cmn-project__content_item-name Корпоративный сайт ведущего производителя современного теплотехнического оборудования
                .cmn-project__content_item-tabs
                    a(href='/development/corporate/').cmn-project__tab Корпоративные сайты

            .cmn-project__content_item(style="background-image: url(static/img/metrium/caseimg-4.png)")
                a(href='/portfolio/patriki/').cmn-project__content_item-name Портал, личные кабинеты и организация проведения онлайн-кинофестиваля
                .cmn-project__content_item-tabs
                    a(href='/development/').cmn-project__tab Порталы
                    a(href='/development/personal/').cmn-project__tab Личные кабинеты