include card-pagespeed.pug

- 
    const errors = [
        {
            title: 'Кликабельные объекты',
            icon: 'ic_ps-ok',
            subtitle: 'Есть проблемы',
            text: 'Мобильные страницы лучше показываются в результатах поиска. Убедитесь, что интерактивные элементы, такие как кнопки и ссылки, не слишком маленькие и не расположены слишком близко друг к другу.',
        },
        {
            title: 'Редиректы страниц',
            icon: 'ic_ps-cross',
            subtitle: 'Тут не помешала бы настройка',
            text: 'Множественные перенаправления могут замедлить загрузку вашего сайта. Стремитесь к не более чем одному перенаправлению.',
        },
        {
            title: 'Минимизированный CSS',
            icon: 'ic_ps-cross',
            subtitle: 'Ваше веб-кэшеривание на мировом уровне',
            text: 'Когда ваш CSS правильно сжат, ваш сайт работает намного быстрее.',
        },
        {
            title: 'Мета-описание',
            icon: 'ic_ps-cross',
            subtitle: 'Нужно поработать!',
            text: 'Метаописания сообщают людям, о чем ваша страница в результатах поиска.',
        },
        {
            title: 'Описательный текст ссылок',
            icon: 'ic_ps-cross',
            subtitle: 'Слишком обобщенно',
            text: 'Описательный текст ссылки помогает посетителям понять, что они увидят, если нажмут на ссылку. «Связаться с нами» не всегда подходит.',
        },
        {
            title: 'Запросы страниц',
            icon: 'ic_ps-graph',
            subtitle: 'Много запросов',
            text: 'Чем больше HTTP-запросов делает ваш сайт, тем медленнее он становится. Попробуйте уменьшить количество файлов, загружаемых вашим сайтом.',
        },
         
    ]

section.section-pagespeed-errors
    .container
        .pagespeed-errors
            .pagespeed-errors__title.section-h2 <span>6</span> ошибок
            .pagespeed-errors__desc Критические ошибки, которые нужно срочно исправить, отмечены <span class="pagespeed--red" >красным цветом</span>. Другие проблемы, требующие устанения для лучшей производительности и доступности сайта, отмечены <span class="pagespeed--red" >оранжевым цветом</span>.
            .pagespeed-errors__list
                each item in errors
                    .pagespeed-errors__item
                        +card-pagespeed(item)

section.section-pagespeed-call
    .container
        .pagespeed-call
            .pagespeed-text Свяжитесь с нами для бесплатной консультации и решения всех проблем оптимизации Вашего сайта:
            .pagespeed-button
                button.btn.btn-primary Оставить заявку


