.section-pagespeed-errors {
    background-color: #F0F2F7;
    padding: 35px 0;

    @media screen and (min-width: $w576) {
        padding: 50px 0;
    }

    @media screen and (min-width: $w1441) {
        padding: 62px 0;
        margin: 45px 30px 10px 30px;
    }
}

.pagespeed--red {
    color: var(--color-red);
    font-weight: 600;
}

.pagespeed--orange {
    color: var(--color-orange);
    font-weight: 600;
}

.pagespeed--green {
    color: var(--color-green);
    font-weight: 600;
}

.pagespeed-errors {

    &__title {
        text-align: center;

        @media screen and (min-width: $w1441) {
            margin-bottom: 10px;
        }
    }

    &__desc {
        padding-bottom: 30px;
        text-align: center;
        max-width: 804px;
        margin: 0 auto;

        @media screen and (min-width: $w1441) {
            padding-bottom: 51px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -12px;

    }

    &__item {
        padding: 12px;
        width: 100%;
        animation-delay: 0.3s;

        &:nth-child(1) {
            animation-delay: 0.1s;
        }

        &:nth-child(2) {
            animation-delay: 0.15s;
        }

        &:nth-child(3) {
            animation-delay: 0.20s;
        }

        &:nth-child(4) {
            animation-delay: 0.25s;
        }

        &:nth-child(5) {
            animation-duration: 0.3s;
        }

        &:nth-child(6) {
            animation-duration: 0.35s;
        }

        @media screen and (min-width: 992px) {
            width: 50%;
        }
    }
}

.card-pagespeed {
    background-color: #fff;
    padding: 25px;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;

    @media screen and (min-width: $w576) {
        flex-direction: row;
    }

    &__icon {
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
    }


    &__main {
        @media screen and (min-width: $w576) {
            padding-left: 24px;
        }
    }

    &__title {
        padding-bottom: 15px;
        text-align: center;

        @media screen and (min-width: $w576) {
            text-align: left;
        }
    }

    &__subtitle {
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;

        @media screen and (min-width: $w576) {
            text-align: left;
        }
    }

    &__text {
        text-align: center;

        @media screen and (min-width: $w576) {
            text-align: left;
        }
    }

    &--red {
        & .state-icon {
            &__bg {
                background-color: var(--color-red);
            }
        }

        & .card-pagespeed {
            &__audit {
                color: var(--color-red);
            }

        }
    }

    &--green {
        & .state-icon {
            &__bg {
                background-color: var(--color-green);
            }
        }

        & .card-pagespeed {
            &__audit {
                color: var(--color-green);
            }
        }
    }

    &--orange {
        & .state-icon {
            &__bg {
                background-color: var(--color-orange);
            }
        }

        & .card-pagespeed {
            &__audit {
                color: var(--color-orange);
            }
        }
    }

    &--vertical {
        text-align: center;

        & .card-pagespeed {
            &__icon {
                display: flex;
                justify-content: center;
                padding-bottom: 15px;

            }

            &__audit {
                font-weight: bold;
                padding-bottom: 20px;
            }

            &__subtitle,
            &__title,
            &__text {
                text-align: center;
            }
        }
    }

}

.state-icon {
    width: 80px;
    height: 80px;
    position: relative;


    &__bg {
        background-color: #c0c0c0;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 50%;
        z-index: 1;
        background-position: center;
        background-repeat: no-repeat;
        animation: butterfly 1.5s infinite;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjcyMyA2Ljk5YS44MjkuODI5IDAgMDAtMS4xNDgtLjIzMSAyMC43ODQgMjAuNzg0IDAgMDAtOC40MDEgMTEuMzI0LjgyOC44MjggMCAxMDEuNTg1LjQ3NSAxOS4xMjIgMTkuMTIyIDAgMDE3LjczMi0xMC40Mi44MjguODI4IDAgMDAuMjMyLTEuMTQ4em0yLjAwMy0uMzdhLjgyOC44MjggMCAxMDAtMS42NTQuODI4LjgyOCAwIDAwMCAxLjY1NXoiIGZpbGw9IiNmZmYiLz48cGF0aCBkPSJNMjQgMGEyNCAyNCAwIDEwMjQgMjRBMjQuMDI3IDI0LjAyNyAwIDAwMjQgMHptMCA0Ni4zNDVBMjIuMzQ1IDIyLjM0NSAwIDExNDYuMzQ1IDI0IDIyLjM3IDIyLjM3IDAgMDEyNCA0Ni4zNDV6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
    }

    &__svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@-webkit-keyframes butterfly {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -o-transform: rotate(0deg);
        /* Opera */
        -webkit-transform: rotate(0deg);
        /* Safari */
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(13deg);
        -ms-transform: rotate(13deg);
        /* IE 9 */
        -moz-transform: rotate(13deg);
        /* Firefox */
        -o-transform: rotate(13deg);
        /* Opera */
        -webkit-transform: rotate(13deg);
        /* Safari */
        transform: rotate(13deg);
    }

    50% {
        transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        /* IE 9 */
        -moz-transform: rotate(-10deg);
        /* Firefox */
        -o-transform: rotate(10deg);
        /* Opera */
        -webkit-transform: rotate(10deg);
        /* Safari */
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -o-transform: rotate(0deg);
        /* Opera */
        -webkit-transform: rotate(0deg);
        /* Safari */
        transform: rotate(0deg);
    }
}

@-moz-keyframes butterfly {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -o-transform: rotate(0deg);
        /* Opera */
        -webkit-transform: rotate(0deg);
        /* Safari */
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(13deg);
        -ms-transform: rotate(13deg);
        /* IE 9 */
        -moz-transform: rotate(13deg);
        /* Firefox */
        -o-transform: rotate(13deg);
        /* Opera */
        -webkit-transform: rotate(13deg);
        /* Safari */
        transform: rotate(13deg);
    }

    50% {
        transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        /* IE 9 */
        -moz-transform: rotate(-10deg);
        /* Firefox */
        -o-transform: rotate(10deg);
        /* Opera */
        -webkit-transform: rotate(10deg);
        /* Safari */
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -o-transform: rotate(0deg);
        /* Opera */
        -webkit-transform: rotate(0deg);
        /* Safari */
        transform: rotate(0deg);
    }
}

@-o-keyframes butterfly {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -o-transform: rotate(0deg);
        /* Opera */
        -webkit-transform: rotate(0deg);
        /* Safari */
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(13deg);
        -ms-transform: rotate(13deg);
        /* IE 9 */
        -moz-transform: rotate(13deg);
        /* Firefox */
        -o-transform: rotate(13deg);
        /* Opera */
        -webkit-transform: rotate(13deg);
        /* Safari */
        transform: rotate(13deg);
    }

    50% {
        transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        /* IE 9 */
        -moz-transform: rotate(-10deg);
        /* Firefox */
        -o-transform: rotate(10deg);
        /* Opera */
        -webkit-transform: rotate(10deg);
        /* Safari */
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -o-transform: rotate(0deg);
        /* Opera */
        -webkit-transform: rotate(0deg);
        /* Safari */
        transform: rotate(0deg);
    }
}

@keyframes butterfly {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -o-transform: rotate(0deg);
        /* Opera */
        -webkit-transform: rotate(0deg);
        /* Safari */
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(13deg);
        -ms-transform: rotate(13deg);
        /* IE 9 */
        -moz-transform: rotate(13deg);
        /* Firefox */
        -o-transform: rotate(13deg);
        /* Opera */
        -webkit-transform: rotate(13deg);
        /* Safari */
        transform: rotate(13deg);
    }

    50% {
        transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        /* IE 9 */
        -moz-transform: rotate(-10deg);
        /* Firefox */
        -o-transform: rotate(10deg);
        /* Opera */
        -webkit-transform: rotate(10deg);
        /* Safari */
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -o-transform: rotate(0deg);
        /* Opera */
        -webkit-transform: rotate(0deg);
        /* Safari */
        transform: rotate(0deg);
    }
}


/* ============================================== */
/* ============================================== */

.section-pagespeed-call {
    background-color: #F0F2F7;
    padding: 24px 0;

    @media screen and (min-width: $w992) {
        margin: 0 30px;
    }


}

.pagespeed-call {
    display: flex;
    margin: -12px;
    flex-wrap: wrap;
    align-items: center;

    &>div {
        padding: 12px;
        flex-grow: 1;

        @media screen and (min-width: $w992) {
            width: 50%;
        }
    }

    &__text {
        text-align: center;
        line-height: 150%;

        @media screen and (min-width: $w992) {
            text-align: right;
            font-size: 20px;
            font-weight: 600;
        }
    }

    &__button {
        & button {
            width: 100%;

            @media screen and (min-width: $w576) {
                width: auto;
            }
        }
    }
}