section.cmn-temp
    ._container
        h1.cmn-temp__title.section-h1.wow.experience.animated Сайт и личный кабинет клиента группы компаний MAX Clean Room
        .cmn-temp__caption.section-description.wow.experience.animated
            .cmn-temp__text-box
                ul.cmn-temp__list
                    li Сделали редизайн действующего корпоративного сайта группы компаний, специализирующейся на проектировании и строительстве чистых помещений.
                    li Спроектировали большой массив уникальных страниц с удобной адаптацией под мобильные устройства.
                    li Добавили современные микроанимации и наглядную систему выбора категорий подходящей продукции с помощью 3D-рендера чистого помещения.
                    li Внедрили удобный и понятный личный кабинет пользователя с контактной информацией, документами, файлами, обратной связью, слежением по заказам.
            a.cmn-temp__link-box(href='#' target='_blank')
                div.cmn-temp__link MaxCR
                span.lazyload(style="background-image: url(static/img/svg/ic_link-new.svg)")
    .cmn-temp__img-box
        picture
            img.cmn-temp__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-top.jpg" src="static/img/maxcr/i-top.jpg")
section.cmn-temp-about
    ._container
        .cmn-temp-about__wrapper
            .cmn-temp-about__top
                h2.cmn-temp-about__title-2.section-h2.wow.experience.animated О проекте
                .cmn-temp-about__text-box
                    p.cmn-temp-about__text.wow.experience.animated Группа компаний MAX Clean Room была основана в 2006 году. За более чем 18 лет работы на рынках стран СНГ, Азии и Европы MAX Clean Room превратилась в одну из ведущих компаний в области проектирования и строительства чистых помещений.
                    p.cmn-temp-about__text.wow.experience.animated С 2019 года работают по заявкам Гособоронзаказа со специальными счетами в Альфа-Банк и Промсвязьбанк. Получили сертификат собственного производства Торгово-промышленной палаты.
            .cmn-temp-about__middle
                span.name.wow.experience.animated Специалисты проекта
                ul.wow.experience.animated
                    li Менеджер проектов
                    li Аналитик
                    li UX/UI-дизайнер
                    li Frontend-разработчик
                    li Backend-разработчик
                    li QA-инженер
                    li Специалист по рекламе
                    li SEO-специалист
            .cmn-temp-about__bottom
                span.name.wow.experience.animated Использованные технологии и инструменты
                ul.wow.experience.animated
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_01.svg)")
                        span.info Figma
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_02.svg)")
                        span.info HTML
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_03.svg)")
                        span.info JS
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_09.svg)")
                        span.info 1С-Битрикс
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_06.svg)")
                        span.info PHP
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_10.svg)")
                        span.info Nginx
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_11.svg)")
                        span.info Splide
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_12.svg)")
                        span.info Яндекс.Метрика
section.cmn-temp-tasks
    ._container
        .cmn-temp-tasks__wrapper
            .cmn-temp-tasks__top
                h2.cmn-temp-tasks__title-2.section-h2.wow.experience.animated Задачи
                .cmn-temp-tasks__text-box
                    p.cmn-temp-tasks__text.wow.experience.animated
                        b Cайт для MAX Clean Room — основной источник запросов на расчёты коммерческих предложений, главной задачей было поднять конверсию и презентовать группу компаний как одних из лидеров рынка. Сайт должен отражать передовые позиции и показывать то, что MCR — крупная и надежная компания. Сайт должен содержать:
                    ul.wow.experience.animated
                        li объемный каталог оборудования с описанием;
                        li ключевую информацию касательно компании, ее деятельности, основных преимуществ работы с ней;
                        li понятный личный кабинет со всей необходимой информацией.
                    p.cmn-temp-tasks__text.wow.experience.animated Также мы учли мультирегиональную направленность с возможностью разграничения поставляемой продукции и оказываемых услуг.
            .cmn-temp-tasks__bottom.cmn-temp-tasks__bottom--nft.wow.experience.animated
                .cmn-temp-tasks__bottom-avatar
                    span.icon(style="background-image: url(static/img/homespro/ic_avatar-b.png)")
                    .cmn-temp-tasks__bottom-avatar-wr
                        span.name Александр Юшкевич
                        span.desc Менеджер проектов
                .cmn-temp-tasks__bottom-content
                    p.cmn-temp-tasks__text «Отправной точкой для подготовки проекта послужило составленное техническое задание, включающее в себя цели, описание аудитории и назначения сайта, технические требования, требования к дизайну, критерии приёмки, структуру сайта, для которой была подготовлена также структурная схема.
                    p.cmn-temp-tasks__text Чёткое видение нового дизайна заказчиком помогло подготовить обновленную версию в кратчайшие сроки. А предложенные нами технические решения по структуре и управлению сайтом помогли без проблем протестировать и принять работы в полном объёме. Проект содержит интересные интеграционные решения, которые в дальнейшем помогут его активно развивать и использовать».
section.cmn-temp-details
    ._container
        h2.cmn-temp-details__title-2.section-h2.wow.experience.animated
            span Детали дизайна <br> и разработки
        .cmn-temp-details__text-box.cmn-temp-details__text-box--top
            p.cmn-temp-details__text.wow.experience.animated Получив исходные данные в виде имеющегося сайта, технического задания, позиционирования и целевой аудитории, провели подробный аудит. Декомпозировали и категоризировали необходимые страницы. Проанализировали потенциальную аудиторию. Продумали возможные сценарии работы с сайтом и персоны.
            p.cmn-temp-details__text.wow.experience.animated После выведения общего знаменателя из вышеперечисленного приступили к прототипам и дизайну нового вида сайта.
    .cmn-temp-details__first-sc.cmn-temp-details__first-sc--maxcr
        ._container
            .cmn-temp-details__first-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Базовые аспекты концепции дизайна
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.wow.experience.animated Избавление от устаревших подходов в оформлении блоков. Добавление элементов моушн-дизайна и микроанимаций. Красивое и функциональное цветовое и стилистическое оформление. Логичное, последовательное взаимодействие с сайтом.
            .cmn-temp-details__first-sc-top-wr
                .cmn-temp-details__img-box.wow.experience.animated
                    picture
                        img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-fs01.png" src="static/img/maxcr/i-detail-fs01.png")
                .cmn-temp-details__img-box.wow.experience.animated
                    picture
                        img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-fs02.png" src="static/img/maxcr/i-detail-fs02.png")
    .cmn-temp-details__second-sc.cmn-temp-details__second-sc--maxcr
        ._container
            .cmn-temp-details__second-sc-wr
                .cmn-temp-details__second-sc-item
                    h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Показали карту продукции с помощью 3D-рендера чистого помещения
                    .cmn-temp-details__text-box
                        p.cmn-temp-details__text.wow.experience.animated А также подробный каталог продукции с фильтрами, карту выполненных проектов на объектах СНГ и других стран, множество страниц о разных сторонах компании.
                    .nw-md-block
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-ss02.png" src="static/img/maxcr/i-detail-ss02.png")
                        .cmn-temp-details__text-box.cmn-temp-details__text-box--nw
                            p.cmn-temp-details__text.wow.experience.animated Проработка фильтров и блоков проектов с учётом всех возможных взаимодействий, состояний и размеров контента.
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-ss03.png" src="static/img/maxcr/i-detail-ss03.png")

                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-ss01.png" src="static/img/maxcr/i-detail-ss01.png")
                .cmn-temp-details__second-sc-item.cmn-temp-details__second-sc-item--nw
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-ss02.png" src="static/img/maxcr/i-detail-ss02.png")
                    .cmn-temp-details__text-box.cmn-temp-details__text-box--nw
                        p.cmn-temp-details__text.wow.experience.animated
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-ss03.png" src="static/img/maxcr/i-detail-ss03.png")
    .cmn-temp-details__third-sc.cmn-temp-details__third-sc--maxcr
        ._container
            .cmn-temp-details__third-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Личный кабинет для клиентов
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.cmn-temp-details__text--16.wow.experience.animated С полезными документами, важными контактами, в том числе, личного менеджера, и подробной информацией <br> о заказах на каждом этапе их выполнения.
            .cmn-temp-details__third-sc-wr
                .cmn-temp-details__third-sc-item
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-ts01.png" src="static/img/maxcr/i-detail-ts01.png")
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-ts02.png" src="static/img/maxcr/i-detail-ts02.png")
                    .cmn-temp-details__text-box.cmn-temp-details__text-box--mt-nw
                        p.cmn-temp-details__text.wow.experience.animated Вся необходимая статистика, настройки, отзывы на товары и прайс-листы всегда под рукой.
                .cmn-temp-details__third-sc-item
                    .cmn-temp-details__third-sc-item-wr
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-ts04.png" src="static/img/maxcr/i-detail-ts04.png")
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-ts05.png" src="static/img/maxcr/i-detail-ts05.png")
    .cmn-temp-details__last-sc.cmn-temp-details__last-sc--maxcr
        ._container
            .cmn-temp-details__last-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Более 50 макетов проработанных страниц, окон, <br> графических элементов
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.wow.experience.animated Не упустили ни одной как ключевой, так и второстепенной детали сайта. Проработали адаптив <br> под мобильные  устройства. Учли все модальные окна, страницы без контента, результаты поиска.
            .cmn-temp-details__last-sc-wr
                .cmn-temp-details__last-sc-item
                    .cmn-temp-details__last-sc-item-slider.splide.wow.experience.animated
                        .splide__track
                            ul.splide__list
                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-sl01.png" src="static/img/maxcr/i-detail-sl01.png")


                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-sl02.png" src="static/img/maxcr/i-detail-sl02.png")



                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-sl03.png" src="static/img/maxcr/i-detail-sl03.png")
                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-sl04.png" src="static/img/maxcr/i-detail-sl04.png")
                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-sl05.png" src="static/img/maxcr/i-detail-sl05.png")
                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-sl06.png" src="static/img/maxcr/i-detail-sl06.png")


                .cmn-temp-details__last-sc-item
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-detail-sl-l01.png" src="static/img/maxcr/i-detail-sl-l01.png")



section.cmn-temp-process
    ._container
        h2.cmn-temp-process__title-2.section-h2.wow.experience.animated
            span Процесс работы
        .cmn-temp-process__wrapper
            .cmn-temp-process__item
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 1. Глубокий аудит и анализ конкурентов
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-process01.png" src="static/img/maxcr/i-process01.png")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Оптимизация пользовательских сценариев и детальный анализ помогли выявить ключевые элементы, которые повышают конверсию и улучшают пользовательский опыт
                        li <span>02</span> Подготовили отчёт для клиента с демонстрацией сильных и слабых сторон конкурентов, преимуществ разных подходов
                        li <span>03</span> Предложили своё видение визуального оформления, выстроили позитивную и динамичную коммуникацию
            .cmn-temp-process__item.cmn-temp-process__item--r
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 2. Дизайн сайта и элементов
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-process02.png" src="static/img/maxcr/i-process02.png")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Прототипирование в начале для быстрой и удобной демонстрации клиенту общей концепции и микроанимаций
                        li <span>02</span> Работа над дизайном по прототипам с учётом необходимости максимально ясно и подробно показать нужное
                        li <span>03</span> Внедрению уникальных элементов и личного кабинета
            .cmn-temp-process__item
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 3. Разработка, тестирование
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/maxcr/i-process03.png" src="static/img/maxcr/i-process03.png")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Подготовка фронтенда и бэкенда страниц с использованием актуального и современного стека технологий
                        li <span>02</span> Внедрение анимированных элементов и блоков не влияющих на скорость работы и загрузки страниц
                        li <span>03</span> Подготовка панели управления сайтом для удобного использования администратором
                        li <span>04</span> Подключение мультирегиональности
                        li <span>05</span> Тестирование фронтенда на различных устройствах и платформах
                        li <span>06</span> Тестирование бэкенда, наполнения и интеграций сайта
                        li <span>07</span> Архивирование старой версии сайта с сохранением всех данных
                        li <span>08</span> Публикация обновленного сайта
section.cmn-temp-results
    ._container
        h2.cmn-temp-results__title-2.section-h2.wow.experience.animated
            span Итоги работы
        .cmn-temp-results__wrapper
            .cmn-temp-results__top.wow.experience.animated
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Актуальная и внушительная презентация группы компаний в сети, понятная для посетителей любого уровня
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Более 20 видов страниц сайта: информационные, категории каталога, услуги по созданию чистых помещений и многое другое
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Взаимовыгодное и позитивное сотрудничество с перспективой дальнейшей работы над новыми проектами
            h3.cmn-temp-results__title-3.section-h3.wow.experience.animated Отзыв клиента
            .cmn-temp-results__bottom-lt
                .cmn-temp-results__bottom.wow.experience.animated
                    .cmn-temp-results__bottom-avatar.cmn-temp-results__bottom-avatar--maxcr
                        span.icon(style="background-image: url(static/img/maxcr/maxcr-avatar-maxcr.png)")
                        .cmn-temp-results__bottom-avatar-wr
                            span.name Михаил Калинин
                            span.desc Представитель группы компаний MAX Clean Room
                    .cmn-temp-results__bottom-content
                        p.cmn-temp-results__text.wow.experience.animated «От лица нашей команды хочу выразить искреннюю благодарность за профессионализм и качественную работу, проделанную Промиком при разработке нашего сайта. Ваши специалисты не только учли все наши пожелания, но и предложили ряд технических и дизайнерских решений, которые значительно улучшили пользовательский опыт.
                        p.cmn-temp-results__text.wow.experience.animated Мы ценим ваш подход к делу, внимание к деталям и стремление воплотить все наши идеи в реальность. Благодаря вашей работе наш сайт стал не только функциональным, но и эстетически привлекательным, что, без сомнения, положительно скажется на имидже компании.
                        p.cmn-temp-results__text.wow.experience.animated С нетерпением ждем возможности продолжить сотрудничество и уверены, что совместная работа принесет нам еще больше успехов в будущем!».
section.cmn-temp-team
    ._container
        h2.cmn-temp-team__title-2.section-h2.wow.experience.animated
            span Команда проекта
        .cmn-temp-team__content.wow.experience.animated
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Игорь Гудович
                .cmn-temp-team__content-item-desc Директор агентства Promicom
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Юшкевич
                .cmn-temp-team__content-item-desc Менеджер проектов
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Льдов
                .cmn-temp-team__content-item-desc Дизайнер
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Игорь Хроменков
                .cmn-temp-team__content-item-desc Frontend-разработчик
            .homespro-team__content-item
                .cmn-temp-team__content-item-name Иван Васильчиков
                .cmn-temp-team__content-item-desc Backend-разработчик
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Муравьёв
                .cmn-temp-team__content-item-desc QA-тестировщик
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Мария Винник
                .cmn-temp-team__content-item-desc Специалист по рекламе
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Екатерина Дмитриева
                .cmn-temp-team__content-item-desc SEO-специалист
        a(href='#').cmn-temp-team__btn.wow.experience.animated
            span Подробнее о нас
