section.renovations
    .container
        .renovations__title.section-h1.wow.experience CSG Renovation
        .renovations__caption.section-description.wow.experience
            p.renovations__text.wow.experience CSG Renovation is a renovation company that offers quality service and 100% customer satisfaction. They make apartment renovation simple, with their qualified team they take pride in taking care of all renovation needs under one roof.
            p.renovations__link-text.wow.experience Project link:
            .renovations__link-box.wow.experience
                img.lazyload(loading="lazy" data-src="static/img/svg/ic_link.svg" width="26" height="26" src="static/img/svg/ic_link.svg")
                a.renovations__link.wow.experience(href='https://csgrenovation.ca/' target='_blank') https://csgrenovation.ca
    .renovations__img-box-new.img-box-full.wow.experience
        picture
            img.renovations__img-online-festival.lazyload(loading="lazy" data-src="static/img/renovation/renovation-main.jpg" src="static/img/renovation/renovation-main.jpg")
    .container
        .renovations__text-block.section-h3.wow.experience
            h2 Task
            p Our task was to create a website that would be competitive in the market of providing renovation services for houses, basements, offices. Website had to meet all the wishes of the client and be worked out to the smallest detail. And, of course, perfectly adapted for tablets and smartphones.
        .renovations__text-block.section-h3.wow.experience
            h2 Solution
            p We took into account all the wishes of the client, adding our professional adjustments. Developed necessary functionality to meet the needs of all types of potential visitors. And have worked out all the details, modal windows and elements. See for yourself!
    .renovations__img-box.wow.experience
        picture
            img.renovations__img-online-festival.lazyload(loading="lazy" data-src="static/img/renovation/pages-md.jpg" src="static/img/renovation/pages-md.jpg")
    .renovations__img-box.wow.experience
        picture
            img.renovations__img-online-festival.lazyload(loading="lazy" data-src="static/img/renovation/adaptive-md.jpg" src="static/img/renovation/adaptive-md.jpg")
    .renovations__img-box.wow.experience
        picture
            img.renovations__img-online-festival.lazyload(loading="lazy" data-src="static/img/renovation/screens-md.jpg" src="static/img/renovation/screens-md.jpg")
    .renovations__img-box.wow.experience
        picture
            img.renovations__img-online-festival.lazyload(loading="lazy" data-src="static/img/renovation/detail-md.jpg" src="static/img/renovation/detail-md.jpg")




    .renovations__wrapper(style='background-image: url(static/img/renovation/bg_dark.png);')
        .container-new
            .renovations__text-block.single-text.single-text-colored.section-h3.wow.experience
                h2 <span>Site</span> Pages
                p <span>All the necessary pages: services, locations listed and on the map, text and video reviews, contacts and more.</span>
            .renovations__img-box-new.wow.experience
                picture
                    img.renovations__img-online-festival.lazyload(loading="lazy" data-src="static/img/renovation/renovation-site-page01.jpg" src="static/img/renovation/renovation-site-page01.jpg")
            .renovations__img-box-new.wow.experience
                picture
                    img.renovations__img-online-festival.lazyload(loading="lazy" data-src="static/img/renovation/renovation-site-page02.jpg" src="static/img/renovation/renovation-site-page02.jpg")
            .renovations__img-box-new.wow.experience
                picture
                    img.renovations__img-online-festival.lazyload(loading="lazy" data-src="static/img/renovation/renovation-site-page03.jpg" src="static/img/renovation/renovation-site-page03.jpg")

section.renovations.scs
    .renovations__wrapper-adaptive
        .container-adaptive
            .renovations__text-block.single-text-colored.single-text-sizing.section-h3.wow.experience
                h2 <span>Adaptability</span>
                h4 For mobile devices
                p Since most modern users visit websites on smartphones, we have paid close attention to adapting the site for mobiles. All pages and screens have been designed to be used on any device.
            .renovations__img-box-new.img-box-margined.wow.experience
                picture
                    img.renovations__img-online-festival.lazyload(loading="lazy" data-src="static/img/renovation/adaptive.jpg" src="static/img/renovation/adaptive.jpg")

section.renovations.scs
    .renovations__wrapper-colored
        .container-adaptive
            .renovations__text-block.single-text.single-text-colored.single-text-sizing.section-h3.wow.experience
                h2 <span>Pages  60 </span> <span style="color:#20283D">& Screens</span>
                p All the necessary pages: services, locations listed and on the map, text and video reviews, contacts and more.
        .renovations__img-box-new.img-box-full.wow.experience
            picture
                img.renovations__img-online-festival.lazyload(loading="lazy" data-src="static/img/renovation/pages.jpg" src="static/img/renovation/pages.jpg")


section.renovations.no-sizing.scs
    .renovations__wrapper(style='background-image: url(static/img/renovation/bg_dark-small.jpg);')
        .container-adaptive
            .renovations__text-block.single-text.single-text-colored.no-single.section-h3.wow.experience
                h2 <span>Attention</span> to Detail
                p <span>We showed all the necessary nuances, guidance, drop-down lists, pop-ups and animations.</span>
        .renovations__img-box-new.img-box-resp.wow.experience
            picture
                img.renovations__img-online-festival.lazyload(loading="lazy" data-src="static/img/renovation/detail-new.png" src="static/img/renovation/detail-new.png")
        .renovations__conclusions
            h4 Thanks for watching!
            span(style='background-image: url(static/img/renovation/heart.svg);')
