section.service-about
  .container
    .service-about__title.section-h2.wow.experience Что такое техническая поддержка
    .service-about__text.edit-content.wow.experience
      p Техническая поддержка представляет собой целый комплекс услуг, которые направлены на обеспечение и поддержание стабильного функционирования веб-сайтов и их эффективное развитие. Такое профессиональное обслуживание позволяет обеспечить бесперебойную работу ресурса и избежать возможных внутренних сбоев.
      p Комплексная техническая поддержка сайтов — оптимальное решение для всех, кто хочет имееть современный и стабильно функционирующий сайт, приносящий реальную пользу и прибыль.
      p Мы работаем на основании официального договора, в котором четко прописываются все наши услуги. В распоряжении каждого нашего клиента будет персональный менеджер, который курирует работу специалистов, консультирует заказчика и всегда остается на связи.