section.service-about
    .container
        .service-about__title.section-h2.wow.experience О нас
        .service-about__text.edit-content.wow.experience
            p Создаем на Yii 2 проекты любой сложности. Данный framework отвечает потребностям интернет-магазинов, веб-сервисов, сервисов электронной коммерции и многокомпонентных порталов. Благодаря быстродействию, подключению к сторонним CMS, возможности создавать сложные комбинированные панели администратора он подходит для разнонаправленных проектов.
            p При создании сайтов на Yii 2 мы всесторонне изучаем пожелания заказчика и упаковываем готовый продукт, готовый к запуску. Вам нужна помощь и поддержка после запуска проекта? Мы не бросим вас лицом к лицу с проблемой и всегда придем на помощь, чтобы проект оказался столь же успешным, как и на старте.