section.service-about
    .container
        .service-about__title.section-h2.wow.experience О нас
        .service-about__text.edit-content.wow.experience
            p Promicom – команда разработчиков, использующих современные технологии для создания сайта. Вы получите полностью готовый к эффективному продвижению ресурс, соответствующий требованиям вашей компании.
            h3 Ресурсы любой сложности!
            p Создаем крупные порталы, форумы, маркетплейсы с расширенным функционалом на базе фреймворков Yii и Laravel. Технически реализуем любую задумку заказчика. Нашим программистам по плечу самые сложные задачи:
            ul
                li Адаптируем ваш ресурс под требования поисковых систем, чтобы быстро вывести его в ТОП по нужным запросам.
                li Запустим синхронизацию с базами данных вашей компании в 1С, Класс 365, и т. п.
                li Создадим максимально удобную систему управления каталогом: администрирование ресурса и редактирование контента в один клик.
                li Подключим нужный сервис интернет-платежей: Яндекс.Касса, Robokassa, PayPal, Qiwi, WebMoney, и т. п.
            h3 Просто и эффективно
            p Возможно изготовление сайта на популярной CMS Wordpress. Это самая распространенная система, позволяющая быстро разрабатывать различные интернет-проекты. Также используем платформы Opencart и Bitrix для оперативного создания интернет-магазинов.
            h3 Процесс разработки сайта
            ol
                li Выбор домена.
                li Разработка прототипа.
                li Утверждение дизайна.
                li Верстка и программирование.
                li Наполнение структуры содержимым.
                li Тестирование.
                li Перенос на хостинг и финальный запуск.
            p В дальнейшем мы гарантируем вам бесперебойную техническую поддержку, а также предлагаем продвижение компании в поиске Яндекс и Google. Ознакомьтесь с нашим портфолио – у Promicom есть много успешных проектов. Вы можете заказать сайт по образцу, либо оставить заявку на уникальную разработку.
