section.longdistance
    .container
        .longdistance__title.section-h1.wow.experience Long Distance Movers USA
        .longdistance__caption.section-description.wow.experience
            p.longdistance__text.wow.experience Long Distance Moving can take life anywhere you need to go! Capable of handling moves that range from cross-country travels all the way down state line. Innovative solutions are fully customizable and their professional movers will ensure every detail is considered during this process.
            p.longdistance__link-text.wow.experience Project link:
            .longdistance__link-box.wow.experience
                img.lazyload(loading="lazy" data-src="static/img/svg/ic_link.svg" width="26" height="26" src="static/img/svg/ic_link.svg")
                a.longdistance__link.wow.experience(href='https://www.ld-movers.com/' target='_blank') https://www.ld-movers.com/
    .longdistance__img-box-new.img-box-full.wow.experience
        picture
            img.longdistance__img-online-festival.lazyload(loading="lazy" data-src="static/img/longdistance/longdistance-main-top-banner.jpg" src="static/img/longdistance/longdistance-main-top-banner.jpg")
    .container
        .longdistance__text-block.section-h3.wow.experience
            h2 Task
            p Create a modern, user-friendly website for a top moving company with an individual design and a mobile version. And take into account the client's corporate identity and all design requirements.
        .longdistance__text-block.section-h3.wow.experience
            h2 Solution
            p We have designed and programmed a website that meets all the wishes of the client. It looks great, displays without problems on all modern devices and is easy to use. See for yourself!
    .longdistance__img-box.wow.experience
        picture
            img.longdistance__img-online-festival.lazyload(loading="lazy" data-src="static/img/longdistance/longdistance-pages-md.jpg" src="static/img/longdistance/longdistance-pages-md.jpg")
    .longdistance__img-box.wow.experience
        picture
            img.longdistance__img-online-festival.lazyload(loading="lazy" data-src="static/img/longdistance/longdistance-responsive-md.jpg" src="static/img/longdistance/longdistance-responsive-md.jpg")
    .longdistance__img-box.wow.experience
        picture
            img.longdistance__img-online-festival.lazyload(loading="lazy" data-src="static/img/longdistance/longdistance-all-md.jpg" src="static/img/longdistance/longdistance-all-md.jpg")
    .longdistance__img-box.wow.experience
        picture
            img.longdistance__img-online-festival.lazyload(loading="lazy" data-src="static/img/longdistance/longdistance-detail-md.jpg" src="static/img/longdistance/longdistance-detail-md.jpg")




    .longdistance__wrapper(style='background-image: url(static/img/longdistance/bg_dark.png);')
        .container-new
            .longdistance__text-block.single-text.single-text-colored.section-h3.wow.experience
                h2 <span>Site</span> Pages
                p <span>All the necessary pages: services, locations listed and on the map, text and video reviews, contacts and more.</span>
            .longdistance__img-box-new.wow.experience
                picture
                    img.longdistance__img-online-festival.lazyload(loading="lazy" data-src="static/img/longdistance/longdistance-site-page01.jpg" src="static/img/longdistance/longdistance-site-page01.jpg")
            .longdistance__img-box-new.wow.experience
                picture
                    img.longdistance__img-online-festival.lazyload(loading="lazy" data-src="static/img/longdistance/longdistance-site-page02.jpg" src="static/img/longdistance/longdistance-site-page02.jpg")
            .longdistance__img-box-new.wow.experience
                picture
                    img.longdistance__img-online-festival.lazyload(loading="lazy" data-src="static/img/longdistance/longdistance-site-page03.jpg" src="static/img/longdistance/longdistance-site-page03.jpg")

section.longdistance.scs
    .longdistance__wrapper-adaptive
        .container-adaptive
            .longdistance__text-block.single-text-colored.single-text-sizing.section-h3.wow.experience
                h2 <span>Adaptability</span>
                h4 For mobile devices
                p Since most modern users visit websites on smartphones, we have paid close attention to adapting the site for mobiles. All pages and screens have been designed to be used on any device.
            .longdistance__img-box-new.img-box-margined.wow.experience
                picture
                    img.longdistance__img-online-festival.lazyload(loading="lazy" data-src="static/img/longdistance/adaptive.jpg" src="static/img/longdistance/adaptive.jpg")

section.longdistance.scs
    .longdistance__wrapper-colored
        .container-adaptive
            .longdistance__text-block.single-text.single-text-colored.single-text-sizing.section-h3.wow.experience
                h2 <span>All </span> <span style="color:#20283D">Screens</span>
                p Сделали дизайн, сверстали и запрограммировали под все устройства.
        .longdistance__img-box-new.img-box-full.wow.experience
            picture
                img.longdistance__img-online-festival.lazyload(loading="lazy" data-src="static/img/longdistance/pages.jpg" src="static/img/longdistance/pages.jpg")


section.longdistance.no-sizing.scs
    .longdistance__wrapper(style='background-image: url(static/img/longdistance/bg_dark-small.jpg);')
        .container-adaptive
            .longdistance__text-block.single-text.single-text-colored.no-single.section-h3.wow.experience
                h2 <span>Attention</span> to Detail
                p <span>We showed all the necessary nuances, guidance, drop-down lists, pop-ups and animations.</span>
        .longdistance__img-box-new.img-box-resp.wow.experience
            picture
                img.longdistance__img-online-festival.lazyload(loading="lazy" data-src="static/img/longdistance/detail-new.png" src="static/img/longdistance/detail-new.png")
        .longdistance__conclusions
            h4 Thanks for watching!
            span(style='background-image: url(static/img/pagevogez/heart.svg);')






