section.directions-block
    .container
        .directions-block__heading
            .directions-block__title.section-h2.wow.experience Направления
            .directions-block__caption.section-caption.wow.experience Для любых потребностей
            a(href="#").directions-block__heading-btn.btn.btn-primary.wow.experience
                span Оставить заявку
        .directions-block__items.wow.experienceRight
            .directions-block__item
                .directions-block__item-icon
                    picture
                        img.lazyload(loading="lazy" data-src="../static/img/context/yandex.png" width=60 height=60)
                .directions-block__item-title.section-h4 Реклама в Яндекс.Директе
                .directions-block__item-price ОТ 15 000 ₽
                .directions-block__item-desc.edit-content
                    p Настраиваем и ведем рекламную кампанию в Яндексе. Ваше объявление увидит большинство потенциальных клиентов в Рунете. Мы составляем тексты предложений товаров и услуг, каждый день отслеживаем их результативность и корректируем для повышения конверсии. В итоге ваш товар будет первым в результатах поиска по нужному запросу.
                    ul
                        li: b Стоимость целевого посетителя от 7 рублей
                        li: b Снижение стоимости звонка/заявки/продажи до 210%
                        li: b Эффективная реклама в любом регионе в любое время
            .directions-block__item
                .directions-block__item-icon
                    picture
                        img.lazyload(loading="lazy" data-src="../static/img/context/google.png" width=60 height=60)
                .directions-block__item-title.section-h4 Реклама в Google Ads
                .directions-block__item-price ОТ 15 000 ₽
                .directions-block__item-desc.edit-content
                    p Создаем успешные рекламные кампании в Google Ads: ваш продукт в контекстно-медийной сети увидят максимальное число потенциальных покупателей. Точнейшая настройка кампании сохраняет каждую затраченную на нее копейку.
                    ul
                        li: b Кликабельность (CTR) объявлений до 30%
                        li: b Снижение цены клика до 65%
                        li: b Снижение стоимости звонка/заявки/продажи до 250%
            .directions-block__item
                .directions-block__item-icon
                    picture
                        img.lazyload(loading="lazy" data-src="../static/img/context/retarget.png" width=60 height=60)
                .directions-block__item-title.section-h4 Ретаргетинг – Ремаркетинг
                .directions-block__item-price ОТ 10 000 ₽
                .directions-block__item-desc.edit-content
                    p Когда пользователь посетил сайт, но так и не совершил покупку, ретаргетинг (в Yandex.Direct) и ремаркетинг (в Google Ads) возвращает этого потенциального клиента и побуждает к необходимому действию. В объявлениях показываются альтернативные товары на основе просмотров пользователя, новинки или реклама бренда.
                    ul
                        li: b Цена клика ниже на 65%
                        li: b На 250 % выгоднее стоимость продажи, заявки или звонка
                        li: b Увеличивает конверсию рекламы в несколько раз