section.clients-block
    .container
        .clients-block__title.section-h2.wow.experience Статистика наших клиентов
        .clients-block__caption.section-caption.wow.experience Только реальные цифры с реальных проектов
        .clients-block__slider.splide.wow.experience
            .splide__arrows.clients-block__arrows
                button.splide__arrow.clients-block__arrow.splide__arrow--prev: include ../../../../img/svg/chevron-left.svg
                button.splide__arrow.clients-block__arrow.splide__arrow--next: include ../../../../img/svg/chevron-right.svg
            .splide__track
                ul.splide__list
                    li.splide__slide.clients-block__slide
                        a(href="#").clients-block__slide-name saprof.ru
                        .clients-block__slide-content
                            ul.clients-block__slide-list
                                li
                                    span Тематика:
                                    strong страховые услуги услуги широкого профиля
                                li
                                    span Регион продвижения:
                                    strong Москва и область
                                li
                                    span Целевая аудитория:
                                    strong мужчины и женщины, возраст от 18 лет
                            .clients-block__slide-boxes
                                .clients-block__slide-box
                                    .clients-block__slide-box__caption Трафик по рекламе
                                    .clients-block__slide-box__numbers
                                        span 125
                                        span.chevron-right
                                        span.color-accent 172
                                    .clients-block__slide-box__desc в день
                                .clients-block__slide-box
                                    .clients-block__slide-box__caption Перед началом
                                    .clients-block__slide-box__numbers 2 756
                                    .clients-block__slide-box__desc посетителей / месяц
                                .clients-block__slide-box
                                    .clients-block__slide-box__caption Результат работы
                                    .clients-block__slide-box__numbers
                                        span.color-accent 3 791
                                    .clients-block__slide-box__desc посетителей / месяц
                            .clients-block__slide-graph
                                .clients-block__slide-graph__caption Месяц
                                .clients-block__slide-graph__months.splide
                                    .splide__track
                                        ul.splide__list
                                            li.splide__slide.clients-block__slide-graph__month
                                                .clients-block__slide-graph__name Май 2019
                                                .clients-block__slide-graph__bar
                                                    .clients-block__slide-graph__bar--value(style="height: calc(154 / 248 * 100%)")
                                                .clients-block__slide-graph__number 2 756
                                            li.splide__slide.clients-block__slide-graph__month
                                                .clients-block__slide-graph__name Июль 2019
                                                .clients-block__slide-graph__bar
                                                    .clients-block__slide-graph__bar--value(style="height: calc(183 / 248 * 100%)")
                                                .clients-block__slide-graph__number 3 164
                                            li.splide__slide.clients-block__slide-graph__month
                                                .clients-block__slide-graph__name Август 2019
                                                .clients-block__slide-graph__bar
                                                    .clients-block__slide-graph__bar--value(style="height: calc(192 / 248 * 100%)")
                                                .clients-block__slide-graph__number 3 259
                                            li.splide__slide.clients-block__slide-graph__month
                                                .clients-block__slide-graph__name Октябрь 2019
                                                .clients-block__slide-graph__bar
                                                    .clients-block__slide-graph__bar--value(style="height: calc(209 / 248 * 100%)")
                                                .clients-block__slide-graph__number 3 465
                                            li.splide__slide.clients-block__slide-graph__month
                                                .clients-block__slide-graph__name Декабрь 2019
                                                .clients-block__slide-graph__bar
                                                    .clients-block__slide-graph__bar--value(style="height: calc(230 / 248 * 100%)")
                                                .clients-block__slide-graph__number 3 791
                                .clients-block__slide-graph__users Количество посетителей
                    li.splide__slide.clients-block__slide
                        a(href="#").clients-block__slide-name saprof.ru
                        .clients-block__slide-content
                            ul.clients-block__slide-list
                                li
                                    span Тематика:
                                    strong страховые услуги услуги широкого профиля
                                li
                                    span Регион продвижения:
                                    strong Москва и область
                                li
                                    span Целевая аудитория:
                                    strong мужчины и женщины, возраст от 18 лет
                            .clients-block__slide-boxes
                                .clients-block__slide-box
                                    .clients-block__slide-box__caption Трафик по рекламе
                                    .clients-block__slide-box__numbers
                                        span 125
                                        span.chevron-right
                                        span.color-accent 172
                                    .clients-block__slide-box__desc в день
                                .clients-block__slide-box
                                    .clients-block__slide-box__caption Перед началом
                                    .clients-block__slide-box__numbers 2 756
                                    .clients-block__slide-box__desc посетителей / месяц
                                .clients-block__slide-box
                                    .clients-block__slide-box__caption Результат работы
                                    .clients-block__slide-box__numbers
                                        span.color-accent 3 791
                                    .clients-block__slide-box__desc посетителей / месяц
                            .clients-block__slide-graph
                                .clients-block__slide-graph__caption Месяц
                                .clients-block__slide-graph__months.splide
                                    .splide__track
                                        ul.splide__list
                                            li.splide__slide.clients-block__slide-graph__month
                                                .clients-block__slide-graph__name Май 2019
                                                .clients-block__slide-graph__bar
                                                    .clients-block__slide-graph__bar--value(style="height: calc(154 / 248 * 100%)")
                                                .clients-block__slide-graph__number 2 756
                                            li.splide__slide.clients-block__slide-graph__month
                                                .clients-block__slide-graph__name Июль 2019
                                                .clients-block__slide-graph__bar
                                                    .clients-block__slide-graph__bar--value(style="height: calc(183 / 248 * 100%)")
                                                .clients-block__slide-graph__number 3 164
                                            li.splide__slide.clients-block__slide-graph__month
                                                .clients-block__slide-graph__name Август 2019
                                                .clients-block__slide-graph__bar
                                                    .clients-block__slide-graph__bar--value(style="height: calc(192 / 248 * 100%)")
                                                .clients-block__slide-graph__number 3 259
                                            li.splide__slide.clients-block__slide-graph__month
                                                .clients-block__slide-graph__name Октябрь 2019
                                                .clients-block__slide-graph__bar
                                                    .clients-block__slide-graph__bar--value(style="height: calc(209 / 248 * 100%)")
                                                .clients-block__slide-graph__number 3 465
                                            li.splide__slide.clients-block__slide-graph__month
                                                .clients-block__slide-graph__name Декабрь 2019
                                                .clients-block__slide-graph__bar
                                                    .clients-block__slide-graph__bar--value(style="height: calc(230 / 248 * 100%)")
                                                .clients-block__slide-graph__number 3 791
                                .clients-block__slide-graph__users Количество посетителей

