section.promicom-projects.is-visible
    div(class="_container promicom-projects__container")
        div(class="promicom-projects__top")
            h2 Другие проекты
            a.btn-custom-border(href="#") Все проекты
        div(class="promicom-projects__cards")
            div(class="promicom-projects__card")
                div(class="promicom-projects__card-bg")
                    img(loading="lazy" data-src="static/img/our-projects/caseimg-v2-01-vako.jpg" src="static/img/our-projects/caseimg-v2-01-vako.jpg", alt="caseimg-v2-01-vako")
                div(class="promicom-projects__card-top")
                    a(href="#", class="promicom-projects__card-top-title")
                        | Уникальная товарная площадка для магазинов и покупателей
                    div(class="promicom-projects__card-top-text")
                        p
                            | Разработали товарную площадку с&amp;nbsp;двумя ЛК (для пользователей и&amp;nbsp;магазинов), добавлением
                            | уникальной панели администрирования и&amp;nbsp;удобной выгрузкой товаров
                    ul(class="promicom-projects__card-top-links")
                        li
                            a(href="#") Интернет-магазины
                        li
                            a(href="#") Порталы
                        li
                            a(href="#") Личные кабинеты
                div(class="promicom-projects__card-bottom")
                    a.btn-custom-white(href="#") Смотреть проект
            div(class="promicom-projects__card")
                div(class="promicom-projects__card-bg")
                    img(loading="lazy" data-src="static/img/our-projects/caseimg-v2-02-csg.jpg" src="static/img/our-projects/caseimg-v2-02-csg.jpg", alt="caseimg-v2-02-csg")
                div(class="promicom-projects__card-top")
                    a(href="#", class="promicom-projects__card-top-title")
                        | Сайт компании по ремонту частной и коммерческой недвижимости в Канаде
                    div(class="promicom-projects__card-top-text")
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, nam!
                    ul(class="promicom-projects__card-top-links")
                        li
                            a(href="#") Корпоративные сайты
                div(class="promicom-projects__card-bottom")
                    a.btn-custom-white(href="#") Смотреть проект
            div(class="promicom-projects__card")
                div(class="promicom-projects__card-bg")
                    img(loading="lazy" data-src="static/img/our-projects/caseimg-v2-04-vogez.jpg" src="static/img/our-projects/caseimg-v2-04-vogez.jpg", alt="caseimg-v2-04-vogez")
                div(class="promicom-projects__card-top")
                    a(href="#", class="promicom-projects__card-top-title")
                        | Корпоративный сайт ведущего производителя современного теплотехнического оборудования
                    div(class="promicom-projects__card-top-text")
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, reiciendis.
                    ul(class="promicom-projects__card-top-links")
                        li
                            a(href="#") Корпоративные сайты
                div(class="promicom-projects__card-bottom")
                    a.btn-custom-white(href="#") Смотреть проект
            div(class="promicom-projects__card")
                div(class="promicom-projects__card-bg")
                    img(loading="lazy" data-src="static/img/our-projects/caseimg-v2-03-patriki.jpg" src="static/img/our-projects/caseimg-v2-03-patriki.jpg", alt="caseimg-v2-03-patriki")
                div(class="promicom-projects__card-top")
                    a(href="#", class="promicom-projects__card-top-title")
                        | Портал, личные кабинеты и организация проведения онлайн-кинофестиваля
                    div(class="promicom-projects__card-top-text")
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commodi enim error
                            | inventore ipsa iure, odit qui quisquam sapiente vel!
                    ul(class="promicom-projects__card-top-links")
                        li
                            a(href="#") Порталы
                        li
                            a(href="#") Личные кабинеты
                div(class="promicom-projects__card-bottom")
                    a.btn-custom-white(href="#") Смотреть проект
