section.service-develop
  .container
    .service-develop__heading
      .section-h2.service-develop__heading-title.wow.experience Создадим сайт
      .section-caption.service-develop__heading-caption.wow.experience Для любых ваших потребностей
    .service-develop__description.wow.experience
      | Promicom – команда разработчиков, использующих 
      span современные 
      | технологии для создания сайта. Вы получите полностью готовый к 
      span эффективному 
      | продвижению ресурс, соответствующий требованиям вашей компании.
    .service-develop__items.splide.wow.experience
      .splide__track
        ul.splide__list
          -
            var list = [
              {
                name: "Интернет-магазин",
                price: "ОТ 60 000 ₽",
                desc: [
                  "Интернет-магазин, витрина и другие e-commerce-инструменты помогают максимально выгодно презентовать ваши товары или услуги в интернете.",
                  "Представляют собой функциональную платформу с каталогом товаров, дополнительными информационными страницами и расширенным функционалом в виде онлайн-оплаты, расчета доставки, геозависимого контента."
                ],
                isSection: false,
                link: "Оставить заявку"
              },
              {
                name: "Корпоративный сайт",
                price: "ОТ 100 000 ₽",
                desc: [
                  "Для представления вашей компании можно использовать сайт-визитку, корпоративный сайт, промо-страницу.",
                  "Интернет-представительства содержат данные о вашей компании, ее товарах и услугах. В них важен привлекательный дизайн и удобство подачи информации."
                ],
                isSection: false,
                link: "Оставить заявку"
              },
              {
                name: "Лендинг",
                price: "ОТ 50 000 ₽",
                desc: [
                  "Высококонверсионная посадочная страница для продвижения одного товара или услуги. Ее задача – привлечь максимум внимания и добиться получения лидов.",
                  "Цена зависит от выбранной платформы, сложности дизайна, конверсионной воронки и других факторов."
                ],
                isSection: false,
                link: "Оставить заявку"
              },
              {
                name: "Сервисы и порталы",
                price: "ОТ 200 000 ₽",
                desc: [
                  "Многофункциональные ресурсы преимущественно для подачи большого массива информации. Используются для ведения новостных лент, анонсов событий, спортивных репортажей, прямых трансляций.",
                  "Приносят пассивный доход за счет размещения рекламы на наиболее посещаемых страницах."
                ],
                isSection: false,
                link: "Оставить заявку"
              },
              {
                name: "Сложные проекты",
                price: "ОТ 500 000 ₽",
                desc: [
                  "Внеформатные сайты, выделяющиеся богатым функционалом. Требовательны в разработке, так как полностью соответствуют представлениям заказчика и выбиваются за рамки стандартных продуктов.",
                  "Мы реализуем даже те проекты, которые показались невозможными другим компаниям."
                ],
                isSection: false,
                link: "Оставить заявку"
              },
              {
                name: "Сайты «Быстрый старт»",
                price: "ОТ 25 000 ₽",
                desc: [
                  "Пакетное решение, которое позволяет с минимальными расходами представить ваши товары или услуги в интернете.",
                  "За счет низкой стоимости – оптимальное решение для молодого бизнеса."
                ],
                isSection: false,
                link: "Оставить заявку"
              },
              {
                name: "Сайты на 1с-Bitrix",
                price: "От 65 000 ₽",
                desc: [
                  "Разработка сайтов на Битрикс с нуля, модернизация ресурса.",
                  "Создадим сайт любой сложности для решения задач вашего бизнеса."
                ],
                isSection: true,
                link: "Перейти в раздел"
              },
              {
                name: "Лицензии 1с-Bitrix",
                price: "От 5 400 ₽",
                desc: [
                  "Лицензии «1С-Битрикc: Управление сайтом» Стандарт, Малый Бизнес, Бизнес и другие."
                ],
                isSection: true,
                link: "Перейти в раздел"
              },
              {
                name: "Шаблонные сайты",
                price: "От 65 000 ₽",
                desc: [
                  "Интернет-магазин «под ключ» на 1С-Битрикс за 10 дней. Первые продажи уже через 15 дней!"
                ],
                isSection: true,
                link: "Перейти в раздел"
              }
            ]

          each item in list  
            li.splide__slide.service-develop__item
              .service-develop__item-name.section-h4=item.name 
              .service-develop__item-price=item.price
              .service-develop__item-description
                for i in item.desc
                  p=i
              .service-develop__item-buttons
                if item.isSection
                  a(href="#").btn.btn-secondary
                    span=item.link
                    include ../../../../img/svg/ic_arrow-right.svg
                else
                  a(href="#").btn.btn-secondary=item.link
              
                
