section.projects-patrik-film
    .container
        .projects-patrik-film__title.section-h1.wow.experience PATRIKI FILM FESTIVAL
        .projects-patrik-film__caption.section-description.wow.experience
            p.projects-patrik-film__text.wow.experience Один из крупнейших кинофестивалей в России. Разработали личный кабинет для участников, жюри и модераторов. А также необходимые страницы сайта под ПК и мобильные устройства.
            p.projects-patrik-film__link-text.wow.experience Ссылка на проект
            .projects-patrik-film__link-box.wow.experience
                img.lazyload(loading="lazy" data-src="static/img/svg/ic_link.svg" width="26" height="26" src="static/img/svg/ic_link.svg")
                a.projects-patrik-film__link.wow.experience(href='https://patrikifilmfestival.ru/' target='_blank') https://patrikifilmfestival.ru/
    .projects-patrik-film__img-box.wow.experience
        picture
            source(srcset="static/img/project-patrik/project_patrik_11200.jpg" media="(min-width: 576px)")
            source(srcset="static/img/project-patrik/project_patrik_1768.jpg" media="(min-width: 480px)")
            img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/project_patrik_1.jpg" src="static/img/project-patrik/project_patrik_1.jpg")
    .container
        .projects-patrik-film__text-block.section-h3.wow.experience
            h2 Задача
            p Организовать проведение ежегодного кинофестиваля в онлайн формате, с привлечением компетентного жюри, экспертов и пользователей из сети интернет для оценки киноработ, представленных участниками.
        .projects-patrik-film__text-block.section-h3.wow.experience
            h2 Решение
            p Разработали личный кабинет с широким функционалом добавления и структурирования фильмов для фестиваля, обмена сообщениями, выставления рейтинга. Пользователи были разделены на несколько ролей. Мы постарались упростить взаимодействие, чтобы использование кабинета было простым и понятным.
            p Также разработали нужные страницы сайта в индивидуальном виде для презентации и просмотра фильмов онлайн.
        .projects-patrik-film__text-block.section-h3.wow.experience
            h2 Результат
            p Полностью проработанные страницы сайта и личного кабинета, адаптируемые под мобильные устройства. В ходе работы добавили некоторые доработки вне ТЗ, чтобы лучше адаптировать контент под пожелания клиента.
    .projects-patrik-film__img-box-new.wow.experience
        picture
            source(srcset="static/img/project-patrik/project_patrik_21200.jpg" media="(min-width: 576px)")
            source(srcset="static/img/project-patrik/project_patrik_2768.jpg" media="(min-width: 480px)")
            img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/project_patrik_2.jpg" src="static/img/project-patrik/project_patrik_2.jpg")
    .projects-patrik-film__img-box-new.wow.experience
        picture
            source(srcset="static/img/project-patrik/project_patrik_31200.jpg" media="(min-width: 576px)")
            source(srcset="static/img/project-patrik/project_patrik_3768.jpg" media="(min-width: 480px)")
            img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/project_patrik_3.jpg" src="static/img/project-patrik/project_patrik_3.jpg")
    .projects-patrik-film__img-box-new.wow.experience
        picture
            source(srcset="static/img/project-patrik/project_patrik_41200.jpg" media="(min-width: 576px)")
            source(srcset="static/img/project-patrik/project_patrik_4768.jpg" media="(min-width: 480px)")
            img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/project_patrik_4.jpg" src="static/img/project-patrik/project_patrik_4.jpg")
    .projects-patrik-film__img-box-new.wow.experience
        picture
            source(srcset="static/img/project-patrik/project_patrik_51200.jpg" media="(min-width: 576px)")
            source(srcset="static/img/project-patrik/project_patrik_5768.jpg" media="(min-width: 480px)")
            img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/project_patrik_5.jpg" src="static/img/project-patrik/project_patrik_5.jpg")
    .projects-patrik-film__img-box-new.wow.experience
        picture
            source(srcset="static/img/project-patrik/project_patrik_61200.jpg" media="(min-width: 576px)")
            source(srcset="static/img/project-patrik/project_patrik_6768.jpg" media="(min-width: 480px)")
            img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/project_patrik_6.jpg" src="static/img/project-patrik/project_patrik_6.jpg")


