section.projects-patrik-film
    .container
        .projects-patrik-film__title.section-h1.wow.experience PATRIKI FILM FESTIVAL
        .projects-patrik-film__caption.section-description.wow.experience
            p.projects-patrik-film__text.wow.experience Один из крупнейших кинофестивалей в России. Разработали личный кабинет для участников, жюри и модераторов. А также необходимые страницы сайта под ПК и мобильные устройства.
            p.projects-patrik-film__link-text.wow.experience Ссылка на проект
            .projects-patrik-film__link-box.wow.experience
                img.lazyload(loading="lazy" data-src="static/img/svg/ic_link.svg" width="26" height="26" src="static/img/svg/ic_link.svg")
                a.projects-patrik-film__link.wow.experience(href='https://patrikifilmfestival.ru/' target='_blank') https://patrikifilmfestival.ru/
    .projects-patrik-film__img-box-new.img-box-full.wow.experience
        picture
            //source(srcset="static/img/project-patrik/project_patrik_11200.jpg" media="(min-width: 576px)")
            //source(srcset="static/img/project-patrik/project_patrik_1768.jpg" media="(min-width: 480px)")
            img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/project_patrik_11200.jpg" src="static/img/project-patrik/project_patrik_1.jpg")
    .container
        .projects-patrik-film__text-block.section-h3.wow.experience
            h2 Задача
            p Организовать проведение ежегодного кинофестиваля в онлайн формате, с привлечением компетентного жюри, экспертов и пользователей из сети интернет для оценки киноработ, представленных участниками.
        .projects-patrik-film__text-block.section-h3.wow.experience
            h2 Решение
            p Разработали личный кабинет с широким функционалом добавления и структурирования фильмов для фестиваля, обмена сообщениями, выставления рейтинга. Пользователи были разделены на несколько ролей. Мы постарались упростить взаимодействие, чтобы использование кабинета было простым и понятным.
            p Также разработали нужные страницы сайта в индивидуальном виде для презентации и просмотра фильмов онлайн.
        .projects-patrik-film__text-block.section-h3.wow.experience
            h2 Результат
            p Полностью проработанные страницы сайта и личного кабинета, адаптируемые под мобильные устройства. В ходе работы добавили некоторые доработки вне ТЗ, чтобы лучше адаптировать контент под пожелания клиента.
    .projects-patrik-film__img-box.wow.experience
        picture
            img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/pages-md.jpg" src="static/img/project-patrik/pages-md.jpg")
    .projects-patrik-film__img-box.wow.experience
        picture
            img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/personal-md.jpg" src="static/img/project-patrik/personal-md.jpg")
    .projects-patrik-film__img-box.wow.experience
        picture
            img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/adaptive-md.jpg" src="static/img/project-patrik/adaptive-md.jpg")
    .projects-patrik-film__img-box.wow.experience
        picture
            img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/screens-md.jpg" src="static/img/project-patrik/screens-md.jpg")
    .projects-patrik-film__img-box.wow.experience
        picture
            img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/detail-md.jpg" src="static/img/project-patrik/detail-md.jpg")




    .projects-patrik-film__wrapper(style='background-image: url(static/img/project-patrik/bg_dark.png);')
        .container-new
            .projects-patrik-film__text-block.single-text.section-h3.wow.experience
                h2 Страницы сайта
                p По индивидуальному дизайну и с тёмной темой для комфортного просмотра фильмов.
            .projects-patrik-film__img-box-new.wow.experience
                picture
                    img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/patrik-site-page01.jpg" src="static/img/project-patrik/patrik-site-page01.jpg")
            .projects-patrik-film__img-box-new.wow.experience
                picture
                    img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/patrik-site-page02.jpg" src="static/img/project-patrik/patrik-site-page02.jpg")
            .projects-patrik-film__img-box-new.wow.experience
                picture
                    img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/patrik-site-page03.jpg" src="static/img/project-patrik/patrik-site-page03.jpg")

section.projects-patrik-film.scs
    .projects-patrik-film__wrapper
        .container-new
            .projects-patrik-film__text-block.single-text-colored.section-h3.wow.experience
                h2 <span>Личный</span> кабинет пользователей
                p Разделен по ролям, чтобы участники фестиваля могли оперативно добавить свои работы, жюри – оценить фильмы прямо у себя в кабинете, а модераторы – утвердить фильмы, доработать карточки, отредактировать нужную информацию.
            .projects-patrik-film__img-box-new.wow.experience
                picture
                    img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/personal-room01.jpg" src="static/img/project-patrik/personal-room01.jpg")
            .projects-patrik-film__img-box-new.wow.experience
                picture
                    img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/personal-room02.jpg" src="static/img/project-patrik/personal-room02.jpg")
            .projects-patrik-film__img-box-new.wow.experience
                picture
                    img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/personal-room03.jpg" src="static/img/project-patrik/personal-room03.jpg")

section.projects-patrik-film.scs
    .projects-patrik-film__wrapper-adaptive
        .container-adaptive
            .projects-patrik-film__text-block.single-text-colored.single-text-sizing.section-h3.wow.experience
                h2 <span>Адаптив</span> всех страниц
                h4 Под мобильные устройтсва
                p Поскольку большинство современных пользователей посещают сайты на смартфонах, мы уделили пристальное внимание адаптации сайта и ЛК под мобильные.
                p Все страницы и экраны были задизайнены и сверстаны, чтобы пользоваться с любых устройств.
            .projects-patrik-film__img-box-new.img-box-margined.wow.experience
                picture
                    img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/adaptive.jpg" src="static/img/project-patrik/adaptive.jpg")

section.projects-patrik-film.scs
    .projects-patrik-film__wrapper-colored
        .container-adaptive
            .projects-patrik-film__text-block.single-text.single-text-colored.single-text-sizing.section-h3.wow.experience
                h2 <span>Более 60 </span> страниц и экранов
                p Сделали дизайн, сверстали и запрограммировали под все устройства.
        .projects-patrik-film__img-box-new.img-box-full.wow.experience
            picture
                img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/pages.jpg" src="static/img/project-patrik/pages.jpg")


section.projects-patrik-film.no-sizing.scs
    .projects-patrik-film__wrapper(style='background-image: url(static/img/project-patrik/bg_dark-small.jpg);')
        .container-adaptive
            .projects-patrik-film__text-block.single-text.no-single.section-h3.wow.experience
                h2 Страницы сайта
                p По индивидуальному дизайну и с тёмной темой для комфортного просмотра фильмов.
        .projects-patrik-film__img-box-new.img-box-resp.wow.experience
            picture
                img.projects-patrik-film__img-online-festival.lazyload(loading="lazy" data-src="static/img/project-patrik/detail-new.png" src="static/img/project-patrik/detail-new.png")
        .projects-patrik-film__conclusions
            h4 Спасибо за внимание!
            span(style='background-image: url(static/img/project-patrik/heart.svg);')
            h4 Thanks for watching!