section.page-elevator
    .container
        .page-elevator__title.section-h1.wow.experience РСУ Противовес, IFE
        .page-elevator__caption.section-description.wow.experience
            p.page-elevator__text.wow.experience РСУ «Противовес» – специализированная компания по поставке, монтажу, пусконаладке, отделке, ремонту и эксплуатации лифтов и эскалаторов, грузовых и инвалидных подъемников, другого грузоподъемного оборудования, а также систем диспетчеризации.
            p.page-elevator__link-text.wow.experience Ссылка на проект:
            .page-elevator__link-box.wow.experience
                img.lazyload(loading="lazy" data-src="static/img/svg/ic_link.svg" width="26" height="26" src="static/img/svg/ic_link.svg")
                a.page-elevator__link.wow.experience(href='#' target='_blank') lfe.rsu-protivoves.ru
    .page-elevator__img-box-new.img-box-full.wow.experience
        picture
            img.page-elevator__img-online-festival.lazyload(loading="lazy" data-src="static/img/elevator/elevator-main-top-banner.jpg" src="static/img/elevator/elevator-main-top-banner.jpg")
    .container
        .page-elevator__text-block.section-h3.wow.experience
            h2 Задача
            p Создать сайт, аналогичный сайту китайского бренда-производителя лифтов, эскалаторов и траволаторов. Необходимо было сохранить визуальную составляющую оригинального дизайна, но привнести необходимые штрихи и фунционал, которые подходили бы запросам клинта.
        .page-elevator__text-block.section-h3.wow.experience
            h2 <span style="color:#D7000F">Решение</span>
            p В короткие сроки мы создали дизайн и разработали сайта, который соответствовал всем пожеланиям. Показали не только брендовые решения, но и рассказали о российской компании РСУ Противовес, которая занимается поставками, монтажом, пусконаладкой и другими работами. Все нужные нюансы были учтены и результат всем понравился.
    .page-elevator__img-box.wow.experience
        picture
            img.page-elevator__img-online-festival.lazyload(loading="lazy" data-src="static/img/elevator/elevator-pages-md.jpg" src="static/img/elevator/elevator-pages-md.jpg")
    .page-elevator__img-box.wow.experience
        picture
            img.page-elevator__img-online-festival.lazyload(loading="lazy" data-src="static/img/elevator/elevator-responsive-md.jpg" src="static/img/elevator/elevator-responsive-md.jpg")
    .page-elevator__img-box.wow.experience
        picture
            img.page-elevator__img-online-festival.lazyload(loading="lazy" data-src="static/img/elevator/elevator-detail-md.jpg" src="static/img/elevator/elevator-detail-md.jpg")




    .page-elevator__wrapper(style='background-image: url(static/img/elevator/bg_dark.jpg);')
        .container-new
            .page-elevator__text-block.single-text.single-text-colored.section-h3.wow.experience
                h2 Страницы сайта
                p <span>По индивидуальному дизайну и для комфортного выбора необходимого оборудования.</span>
            .page-elevator__img-box-new.wow.experience
                picture
                    img.page-elevator__img-online-festival.wth-shadow.lazyload(loading="lazy" data-src="static/img/elevator/elevator-site-page01.jpg" src="static/img/elevator/elevator-site-page01.jpg")
            .page-elevator__img-box-new.wow.experience
                picture
                    img.page-elevator__img-online-festival.wth-shadow.lazyload(loading="lazy" data-src="static/img/elevator/elevator-site-page02.jpg" src="static/img/elevator/elevator-site-page02.jpg")
            .page-elevator__img-box-new.wow.experience
                picture
                    img.page-elevator__img-online-festival.wth-shadow.lazyload(loading="lazy" data-src="static/img/elevator/elevator-site-page03.jpg" src="static/img/elevator/elevator-site-page03.jpg")

section.page-elevator.scs
    .page-elevator__wrapper-adaptive
        .container-adaptive
            .page-elevator__text-block.single-text-colored.single-text-sizing.section-h3.wow.experience
                h2 <span>Адаптив</span>
                h4 Под мобильные устройтсва
                p Поскольку большинство современных пользователей посещают сайты на смартфонах, мы уделили пристальное внимание адаптации сайта и ЛК под мобильные.
                p Все страницы и экраны были задизайнены и сверстаны, чтобы пользоваться с любых устройств.
            .page-elevator__img-box-new.img-box-margined.wow.experience
                picture
                    img.page-elevator__img-online-festival.lazyload(loading="lazy" data-src="static/img/elevator/adaptive.jpg" src="static/img/elevator/adaptive.jpg")


section.page-elevator.scs
    .page-elevator__wrapper(style='background-image: url(static/img/elevator/bg_dark-small.jpg);')
        .container-adaptive
            .page-elevator__text-block.single-text.single-text-colored.no-single.section-h3.wow.experience
                h2 Проработка деталей
                p <span>Показали все необходимые нюасны, наведения, выпадающие списки, <br> всплывающие окна и анимации.</span>
        .page-elevator__img-box-new.img-box-resp.wow.experience
            picture
                img.page-elevator__img-online-festival.lazyload(loading="lazy" data-src="static/img/elevator/detail-new.png" src="static/img/elevator/detail-new.png")
        .page-elevator__conclusions
            h4 Спасибо за внимание!
            span(style='background-image: url(static/img/elevator/heart.svg);')
            h4 <p>Thanks for watching!</p>






