section.cmn-temp
    ._container
        h1.cmn-temp__title.section-h1.wow.experience.animated Разработка сайта архитектурной студии «HOMESPRO»
        .cmn-temp__caption.section-description.wow.experience.animated
            .cmn-temp__text-box
                p.cmn-temp__text Сделали редизайн действующего корпоративного сайта рхитектурной студии, специализирующейся <br> на проектировании оригинальной недвижимости и воплотили его в реальность. Концепция выделяется <br> современным дизайном с простотой и удобством для различных категорий пользователей. Акцент сделан на <br> имидже компании и разнообразии проектов разрабатываемых командой.
            a.cmn-temp__link-box(href='#' target='_blank')
                div.cmn-temp__link HomesPro
                span.lazyload(style="background-image: url(static/img/svg/ic_link-new.svg)")
    .cmn-temp__img-box
        picture
            img.cmn-temp__img.lazyload(loading="lazy" data-src="static/img/homespro/i-top.jpg" src="static/img/homespro/i-top.jpg")
section.cmn-temp-about
    ._container
        .cmn-temp-about__wrapper
            .cmn-temp-about__top
                h2.cmn-temp-about__title-2.section-h2.wow.experience.animated О проекте
                .cmn-temp-about__text-box
                    p.cmn-temp-about__text.wow.experience.animated «HOMESPRO» — это сильная команда дизайнеров, архитекторов, инженеров с большим опытом архитектурной работы и технического проектирования современных индивидуальных жилых домов.
                    p.cmn-temp-about__text.wow.experience.animated Основное направление — продуманный и комфортный для жизни дизайн дома, созвучный духу времени и подходящий для интеграции с современными технологиями.
            .cmn-temp-about__middle
                span.name.wow.experience.animated Специалисты проекта
                ul.wow.experience.animated
                    li Менеджер проектов
                    li Аналитик
                    li Дизайнер
                    li Frontend-разработчик
                    li Backend-разработчик
                    li QA
            .cmn-temp-about__bottom
                span.name.wow.experience.animated Использованные технологии и инструменты
                ul.wow.experience.animated
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_01.svg)")
                        span.info Figma
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_02.svg)")
                        span.info HTML
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_03.svg)")
                        span.info JS
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_07.svg)")
                        span.info Laravel
section.cmn-temp-tasks
    ._container
        .cmn-temp-tasks__wrapper
            .cmn-temp-tasks__top
                h2.cmn-temp-tasks__title-2.section-h2.wow.experience.animated Задачи
                .cmn-temp-tasks__text-box
                    p.cmn-temp-tasks__text.wow.experience.animated
                        b Обновить существующий сайт, проведя полный аудит, исправив стилистические ошибки и проблемы взаимодействия пользователя с интерфейсами. Доработать визуальную составляющую, чтобы оживить сайт и поставить его на один уровень с основными конкурентами. Среди конкретных шагов в процессе разработки можно выделить:
                    ul.wow.experience.animated
                        li всесторонний ux/ui-аудит;
                        li тесный контакт с клиентом для выбора правильных, подходящих и ему, и потенциальным пользователям решений;
                        li проработка всех необходимых деталей на уровне дизайна и разработки, внедрение индивидуальных решений, где это уместно;
                        li качественная проработка активностей и микроанимацией на этапе frontend-разработки;
                        li дальнейшая поддержка проекта для добавление нового функционала.
                    p.cmn-temp-tasks__text.wow.experience.animated Кроме упомянутых выше аспектов были сразу запланированы дополнительные работы по магазину готовых проектов, организация обучающего проекта для архитекторов, проработка светлой темы главного сайта и другое.
            .cmn-temp-tasks__bottom.wow.experience.animated
                .cmn-temp-tasks__bottom-avatar
                    span.icon(style="background-image: url(static/img/homespro/ic_avatar-b.png)")
                    .cmn-temp-tasks__bottom-avatar-wr
                        span.name Александр
                        span.desc Менеджер проектов
                .cmn-temp-tasks__bottom-content
                    p.cmn-temp-tasks__text «Данный проект интересен как своим позиционированием, так и вносимыми изменениями. Предварительный анализ показал необходимость существенных изменений в дизайне существовавшего на тот момент сайта и в его структуре.
                    p.cmn-temp-tasks__text Благодаря тесному сотрудничеству удалось совместить современные тенденции в дизайне и опыте использования интерфейсов сайта с видением и пожеланиями заказчика. А также учесть будущие изменения, такие как: добавление новых разделов сайта, использование нескольких доменов под региональные настройки, объединение с сопутствующим проектом по обучению архитекторов».
section.cmn-temp-details
    ._container
        h2.cmn-temp-details__title-2.section-h2.wow.experience.animated
            span Детали дизайна <br> и разработки
        .cmn-temp-details__text-box.cmn-temp-details__text-box--top
            p.cmn-temp-details__text.wow.experience.animated Прежде чем начать работу над дизайном, мы проанализировали конкурентов заказчика и не только. Выделили плюсы и минусы разных подходов, провели полномасштабный аудит.
            p.cmn-temp-details__text.wow.experience.animated После сверки выводов с клиентом и прихода к обоснованному компромиссу там, где это было необходимо, наш дизайнер приступил к работе.
    .cmn-temp-details__first-sc
        ._container
            .cmn-temp-details__first-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Создали подходящую главную страницу <br> и проработали требуемые аспекты
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.wow.experience.animated Тёмная тема, мультиязычность, полноценное меню на весь экран и на мобильных устройствах, и в десктопной версии. Все базовые элементы в актуальном виде, адаптивность и функционал были учтены и внедрены.
            .cmn-temp-details__first-sc-top-wr
                .cmn-temp-details__img-box.wow.experience.animated
                    picture
                        img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-fs01.png" src="static/img/homespro/i-detail-fs01.png")
                .cmn-temp-details__img-box.wow.experience.animated
                    picture
                        img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-fs02.png" src="static/img/homespro/i-detail-fs02.png")
    .cmn-temp-details__second-sc
        ._container
            .cmn-temp-details__second-sc-wr
                .cmn-temp-details__second-sc-item.cmn-temp-details__second-sc-item--nw
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-ss02.png" src="static/img/homespro/i-detail-ss02.png")
                    .cmn-temp-details__text-box.cmn-temp-details__text-box--nw
                        p.cmn-temp-details__text.wow.experience.animated Проработка фильтров и блоков проектов с учётом всех возможных взаимодействий, состояний и размеров контента.
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-ss03.png" src="static/img/homespro/i-detail-ss03.png")
                .cmn-temp-details__second-sc-item
                    h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Наглядно показали все детали <br> и нюансы
                    .cmn-temp-details__text-box
                        p.cmn-temp-details__text.wow.experience.animated Показали все важные части портфолио и фильтрации, важных составляющих индивидуальных проектов, страницы услуг, магазина проектов и многого другого.
                    .nw-md-block
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-ss02.png" src="static/img/homespro/i-detail-ss02.png")
                        .cmn-temp-details__text-box.cmn-temp-details__text-box--nw
                            p.cmn-temp-details__text.wow.experience.animated Проработка фильтров и блоков проектов с учётом всех возможных взаимодействий, состояний и размеров контента.
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-ss03.png" src="static/img/homespro/i-detail-ss03.png")

                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-ss01.png" src="static/img/homespro/i-detail-ss01.png")
    .cmn-temp-details__third-sc
        ._container
            .cmn-temp-details__third-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Итерационный подход на пути к оптимальному виду
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.cmn-temp-details__text--16.wow.experience.animated В процессе работы многие части были адаптированы под пожелания клиента и доработаны с точки зрения <br> улучшения пользовательского опыта.
            .cmn-temp-details__third-sc-wr
                .cmn-temp-details__third-sc-item
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-ts01.png" src="static/img/homespro/i-detail-ts01.png")
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-ts02.png" src="static/img/homespro/i-detail-ts02.png")
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-ts03.png" src="static/img/homespro/i-detail-ts03.png")
                    .cmn-temp-details__text-box.cmn-temp-details__text-box--mt-nw
                        p.cmn-temp-details__text.wow.experience.animated Некоторые блоки в процессе радикально перерабатывали. От других отказались вообще ради большего визуального единообразия или улучшения UX.
                .cmn-temp-details__third-sc-item
                    .cmn-temp-details__third-sc-item-wr
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-ts04.png" src="static/img/homespro/i-detail-ts04.png")
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-ts05.png" src="static/img/homespro/i-detail-ts05.png")
    .cmn-temp-details__last-sc
        ._container
            .cmn-temp-details__last-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Постепенно добавляли дополнительные страницы <br> и функционал
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.wow.experience.animated Когда базовые страницы были идеально оптимизированы, мы взялись за дополнительные возможности <br> и реализовали все требуемые аспекты.
            .cmn-temp-details__last-sc-wr
                .cmn-temp-details__last-sc-item
                    .cmn-temp-details__last-sc-item-slider.splide.wow.experience.animated
                        .splide__track
                            ul.splide__list
                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-sl01.png" src="static/img/homespro/i-detail-sl01.png")


                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-sl02.png" src="static/img/homespro/i-detail-sl02.png")



                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-sl03.png" src="static/img/homespro/i-detail-sl03.png")



                .cmn-temp-details__last-sc-item
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/homespro/i-detail-sl-l01.png" src="static/img/homespro/i-detail-sl-l01.png")



section.cmn-temp-process
    ._container
        h2.cmn-temp-process__title-2.section-h2.wow.experience.animated
            span Процесс работы
        .cmn-temp-process__wrapper
            .cmn-temp-process__item
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 1. Глубокий аудит и анализ конкурентов
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/homespro/i-process01.png" src="static/img/homespro/i-process01.png")
                .cmn-temp-process__item-middle
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    .cmn-temp-process__text-box
                        p.cmn-temp-process__text.wow.experience.animated Проанализировали старую версию сайта и приведённых клиентом в пример конкурентов.
                        ul.wow.experience.animated
                            li Нашли общие паттерны, положительно влияющие на привлечение крупных заказчиков через сайт
                            li Подготовили подробную документацию и презентовали её клиенту. Обосновали необходимость проработки каждого элемента
                            li В процессе коммуникации нашли единое решение, подходящее как с точки зрения UX/UI, так и пожеланий по визуалу и логике
            .cmn-temp-process__item.cmn-temp-process__item--r
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 2. Дизайн сайта и элементов
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/homespro/i-process02.png" src="static/img/homespro/i-process02.png")
                .cmn-temp-process__item-middle
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    .cmn-temp-process__text-box
                        p.cmn-temp-process__text.wow.experience.animated В работе над дизайном мы учитывали и старые наработки, и тенденции рынка, и пожелания клиента:
                        ul.wow.experience.animated
                            li Проработали первую версию дизайна главной и внутренних страниц и презентовали их с обоснованием подхода
                            li Постепенно приводили страницы к финальному виду, который соответствовал требованиям UX и подходил клиенту
                            li Проработали 6 вариантов главной страницы, 3 вида страницы услуг, постепенно добавили нужные блоки о компании, чтобы информация выстраивалась в единую гармоничную структуру
                            li Добавили раздел с книгами основателя «HOMESPRO», которые были бы полезны как начинающим, так и продвинутым архитекторам, а также каждому, кто собирается построить свой частный дом
                            li Где необходимо, нарисовали уникальные векторные иллюстрации и в дальнейшем их анимировали
                            li Адаптировали изображения на сайте под тёмную тему
                            li Продумали 2 варианта фильтров для индивидуальных проектов и магазина готовых проектов
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Тезисно о дизайне:
                    ul.wow.experience.animated
                        li <span>01</span> Постепенная проработка всех страниц, дополнительного функционала и адаптива под мобильные устройства
                        li <span>02</span> Проектирование с учётом возможного добавления дополнительных блоков и модулей на страницы
                        li <span>03</span> Подготовка страницы магазина готовых проектов и раздела с продажей книг за авторством основателя архитектурной студии
            .cmn-temp-process__item
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 3. Разработка, тестирование, расширение
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/homespro/i-process03.png" src="static/img/homespro/i-process03.png")
                .cmn-temp-process__item-middle
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    .cmn-temp-process__text-box
                        p.cmn-temp-process__text.wow.experience.animated Постепенно внедрили страницы и разделы, добавили большое количество аккуратных микроанимаций, максимально учли пожелания заказчика:
                        ul.wow.experience.animated
                            li Проработали уникальную структуру некоторых блоков
                            li На основе дизайна создали современные микроанимации
                            li На некоторых страницах добавили якорные элементы для улучшения навигации по сайту в десктопной и мобильной версиях
                            li Постепенно разработали все требуемые и подходящие блоки
                            li Для разработки сайта использовали фреймворк Laravel
                            li Ускорили работу сайта
                            li Подготовили к поддержке многоязычности (русский, английский, китайский и арабский языки)
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Тезисно о разработке и расширении:
                    ul.wow.experience.animated
                        li <span>01</span> Уникальная структура некоторых элементов
                        li <span>02</span> Большое количество качественных современных анимаций
                        li <span>03</span> Использование фреймворка Laravel
                        li <span>04</span> Ускорение работы
                        li <span>05</span> Многоязычность
section.cmn-temp-results
    ._container
        h2.cmn-temp-results__title-2.section-h2.wow.experience.animated
            span Итоги работы
        .cmn-temp-results__wrapper
            .cmn-temp-results__top.wow.experience.animated
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Запуск сайта в новом виде с актуальной презентацией индивидуальных проектов, услуг, магазина проектов и другим.
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Логичная и наглядная проработка фильтрации для улучшения взаимодействия. Современные микроанимации.
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Функциональная база с возможностью расширения и добавления недостающей информации по необходимости.
            h3.cmn-temp-results__title-3.section-h3.wow.experience.animated Отзыв клиента
            .cmn-temp-results__bottom-lt
                .cmn-temp-results__bottom.wow.experience.animated
                    .cmn-temp-results__bottom-avatar
                        span.icon(style="background-image: url(static/img/homespro/homespro-avatar-homespro.png)")
                        .cmn-temp-results__bottom-avatar-wr
                            span.name Виталий Злобин
                            span.desc Руководитель студии, архитектор и преподаватель
                    .cmn-temp-results__bottom-content
                        p.cmn-temp-results__text.wow.experience.animated «Команда Promicom показала высокий уровень компетентности и готовности помочь в решении любых задач.
                        p.cmn-temp-results__text.wow.experience.animated Особенно хочется отметить их внимательное отношение к клиентам и стремление к совершенству. Все проекты выполняются в срок и с высоким качеством. Благодаря их решениям и индивидуальному подходу, мы смогли значительно улучшить наши бизнес-процессы и повысить эффективность работы, улучшить узнаваемость компании и её презентационных материалов.
                        p.cmn-temp-results__text.wow.experience.animated Мы очень довольны нашим сотрудничеством и с уверенностью рекомендуем компанию Promicom как надежного и профессионального партнера».
section.cmn-temp-team
    ._container
        h2.cmn-temp-team__title-2.section-h2.wow.experience.animated
            span Команда проекта
        .cmn-temp-team__content.wow.experience.animated
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Игорь Гудович
                .cmn-temp-team__content-item-desc Директор агентства Promicom
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Юшкевич
                .cmn-temp-team__content-item-desc Менеджер проектов
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Льдов
                .cmn-temp-team__content-item-desc Дизайнер
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Игорь Хроменков
                .cmn-temp-team__content-item-desc Frontend-разработчик
            .homespro-team__content-item
                .cmn-temp-team__content-item-name Иван Васильчиков
                .cmn-temp-team__content-item-desc Backend-разработчик
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Анна Самойлова
                .cmn-temp-team__content-item-desc QA-тестировщик
        a(href='#').cmn-temp-team__btn.wow.experience.animated
            span Подробнее о нас
