section.service-steps
  .container
    .service-steps__title.section-h2.wow.experience Как происходит создание сайтов
    .service-steps__caption.section-caption.wow.experience Ключевые этапы
    .service-steps__items
    -
      var list = [
          {
            name: "Исследование и анализ",
            items: [
              "Исследование вашего бизнеса, выявление его преимуществ и недостатков",
              "Анализ конкурентной среды, трафика сайтов-конкурентов",
              "Подготовка технического задания"
            ]
          },
          {
            name: "Проработка структуры",
            items: [
              "Сбор семантического ядра",
              "Создание карты релевантности",
              "Определение структуры сайта, создание mind map"
            ]
          },
          {
            name: "Дизайн и контент",
            items: [
              "Создание прототипов, проработка пользовательских сценариев",
              "Создание макетов для десктопов и мобильных устройств",
              "Написание текстов для разделов"
            ]
          },
          {
            name: "Разработка и внедрение",
            items: [
              "Адаптивная и кроссбраузерная верстка и программирование",
              "Размещение сайта на тестовом сервере, проверка, отладка",
              "Перенос сайта на основной домен"
            ]
          }
        ]

    each item in list
      .service-steps__item
        .service-steps__item-name.section-h4.wow.experience=item.name
        ul.service-steps__item-list
          each i in item.items
            li.wow.experienceLeft=i 