.mainpage-banner{
  padding: 24px 0;
  border-bottom: 1px solid var(--color-border);
  overflow: hidden;
  background: var(--color-item-bg);

  &__text{
    margin-bottom: 0;
    max-width: 576px;
  }

  &__image{
    display: none;
    max-width: 328px;    
    img{
      width: 100%;
      height: auto;
    }
  }

  &__btn{
    display: none;
  }

  &__caption{
    color: var(--color-text-secondary);
    font-size: 16px;
    line-height: 24px / 16px * 100%;
  }

  @media screen and (min-width: 641px) {
    background: #fff;
    padding: 64px 0;

    .container{
      display: flex;
    }

    &__text{
      margin-bottom: 0;
      position: relative;
      z-index: 1;
    }

    &__caption{
      margin-bottom: 24px;
      font-size: 18px;
    }

    &__btn{
      display: inline-flex;
      padding-left: 64px;
      padding-right: 64px;
    }

  }

  @media screen and (min-width: 769px) {    

    &__image{
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -25%;
      width: 960 / 1920 * 100%;
      max-width: 960px;
      transition: all 0.5s ease-in-out;

      &:hover{
        transform: translateY(calc(-50% - 40px)) translateX(40px);
      }

    }
    
  }

  @media screen and (min-width: 1025px) {

    &__image{
      right: -10%;
    }

    &__caption{
      font-size: 20px;
    }

  }

  @media screen and (min-width: 1153px) {
    min-height: 664px;

    &__image{
      right: 0;
    }

  }

  @media screen and (min-width: 1324px) {
    padding: 120px 0;
  }

}