section.mainpage-banner
    .container
        .mainpage-banner__text
            h1.mainpage-banner__title.section-h1.wow.experience Разработка и продвижение сайтов
            .mainpage-banner__caption.wow.experience.
                Осуществляем полный цикл разработки веб-проектов и сервисов,
                а также их комплексное продвижение в интернете.
            a(href="#callback").mainpage-banner__btn.btn.btn-primary.wow.experience Оставить заявку
        .mainpage-banner__image
            picture
                source(srcset="static/img/common/logo_element.svg" media="(min-width: 641px)")
                img.wow.experienceLeft(src="static/img/common/promicom_logo.svg" width=328 height=32)