$symbol: " - ";

.breadcrumb {
  background-color: transparent;

  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin: -6px 0;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 6px 0;

    &::after {
      content: "";
      width: 8px;
      height: 2px;
      background-color: #D3DFEB;
      display: inline-block;
      position: relative;
      margin: 0 12px;
    }

    &:last-child {
      pointer-events: none;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__link {
    display: block;

    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #D3DFEB;

    transition: all 0.5s ease;


    font-size: 14px;
    font-weight: 400;
    line-height: 20px / 13px * 100%;
    text-align: left;

    color: #5C7B99;

    &:hover {
      //border-color: var(--color-accent);
    }

    &_active {
      border-color: #EBF0F5;
      background: #EBF0F5;
    }
  }
}

.page-breadcrumbs {
  padding: 24px 0 0;


  @media screen and (min-width: 641px) {

    padding: 64px 0 0;

  }

  @media screen and (min-width: 1153px) {

    padding: 100px 0 0;

  }

}