section.service-advantages
  .container
    .service-advantages__title.section-h2.wow.experience Преимущества готовых интернет-магазинов
    .service-advantages__items
      .service-advantages__item.wow.experienceRight
        .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/shop/01.svg" width=48 height=48)
        .service-advantages__item-text
          .service-advantages__item-title Первые продажи уже через 15 дней
          .service-advantages__item-caption Скорость разработки интернет-магазина на готовом решении Битрикс (Bitrix) от 5 до 20 рабочих дней
      .service-advantages__item.wow.experienceRight
        .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/shop/02.svg" width=48 height=48)
        .service-advantages__item-text
          .service-advantages__item-title Дизайн с индивидуальными настройками
          .service-advantages__item-caption Широкие возможности настройки внешнего вида сайта под ваши вкусы и запросы
      .service-advantages__item.wow.experienceRight
        .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/shop/03.svg" width=48 height=48)
        .service-advantages__item-text
          .service-advantages__item-title Возможность «пощупать руками»
          .service-advantages__item-caption Понимание как будет выглядеть ваш сайт до того как Вы заплатите
      .service-advantages__item.wow.experienceRight
        .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/shop/04.svg" width=48 height=48)
        .service-advantages__item-text
          .service-advantages__item-title Готовый функционал из коробки
          .service-advantages__item-caption Зачем переплачивать за разработку, если 80% функционала, который нужен интернет-магазину, уже есть в готовом решении Bitrix