section.service-advantages.service-advantages--side
    .container
        .service-advantages__heading
            .service-advantages__title.section-h2.wow.experience Преимущества нашей поддержки
            .section-caption.service-advantages__caption.wow.experience Наше передовое многопрофильное агентство успешно работает на рынке интернет-маркетинга и веб-разработок с 2014. За это время мы накопили внушительный положительный опыт в сфере комплексной техподдержки веб-сайтов. Мы оказываем профессиональные услуги по сопровождению сайтов. За стабильным и эффективным развитием веб-ресурсов к нам!
        .service-advantages__items
            .service-advantages__item.wow.experienceRight
                .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/support/adv-1.svg" width=48 height=48)
                .service-advantages__item-text
                    .service-advantages__item-title Лояльные цены и персональные предложения
                    .service-advantages__item-caption Расчет тарифного плана под ваши задачи. Возможность смены действующего тарифа.
            .service-advantages__item.wow.experienceRight
                .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/support/adv-2.svg" width=48 height=48)
                .service-advantages__item-text
                    .service-advantages__item-title Штат компетентных специалистов
                    .service-advantages__item-caption В нашей команде профессионалы для эффективной поддержки любых проектов.
            .service-advantages__item.wow.experienceRight
                .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/support/adv-3.svg" width=48 height=48)
                .service-advantages__item-text
                    .service-advantages__item-title Прозрачность работы и понятные условия сотрудничества
                    .service-advantages__item-caption Максимально оперативная обратная связь. Отчеты по каждому этапу выполнения задач.
            .service-advantages__item.wow.experienceRight
                .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/support/adv-4.svg" width=48 height=48)
                .service-advantages__item-text
                    .service-advantages__item-title Персональный менеджер
                    .service-advantages__item-caption Личный куратор будет следить за выполнением всех поставленных задач, подробно консультировать по всем вопросам.