section.service-advantages
  .container
    .service-advantages__title.section-h2.wow.experience Все, что мы делаем:
    .service-advantages__items
      .service-advantages__item.wow.experienceRight
        .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/services/01.svg" width=48 height=48)
        .service-advantages__item-text
          .service-advantages__item-title Корректно работает на любом устройстве
          .service-advantages__item-caption Сайты адаптированы под мобильные устройства и корректно работают на любом типе устройств: ПК, ноутбук, смартфон, планшет.
      .service-advantages__item.wow.experienceRight
        .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/services/02.svg" width=48 height=48)
        .service-advantages__item-text
          .service-advantages__item-title Понятно и удобно для пользователей
          .service-advantages__item-caption При разработке учитываются все последние "тренды" в области веб-дизайна, особенности построения сайтов под определенные аудитории, нюансы вашей ниши и множество других факторов.
      .service-advantages__item.wow.experienceRight
        .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/services/03.svg" width=48 height=48)
        .service-advantages__item-text
          .service-advantages__item-title Полностью готов к продвижению
          .service-advantages__item-caption Гарантируем чистый код, грамотно составленные мета-теги, продуманную структуру, отсутствие сложных скриптов, замедляющих загрузку страниц и других проблем.
      .service-advantages__item.wow.experienceRight
        .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/services/04.svg" width=48 height=48)
        .service-advantages__item-text
          .service-advantages__item-title Легко администрируется
          .service-advantages__item-caption Мы работаем с популярными и проверенными временем CMS. Обучаем ваших сотрудников управлению сайтом, и вы получаете полную независимость от сторонних компаний.