section.service-advantages.service-advantages--white
    .container
        .service-advantages__title.section-h2.wow.experience Преимущества работы с Yii
        .service-advantages__caption.section-caption.wow.experience
            p Фреймворк используется для разработки интернет-проектов разной сложности. Это легко объяснить: разработка сайта на Yii позволяет создать гибкую и функциональную систему, которая будет отвечать задачам бизнеса.
            p Обладает он и другими преимуществами:
        .service-advantages__items
            .service-advantages__item.service-advantages__item--center.wow.experienceRight
                .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/yii/01.svg" width=48 height=48)
                .service-advantages__item-text
                    .service-advantages__item-title Код постоянно развивается и обновляется, открывая все более широкие возможности при создании сайтов на Yii
            .service-advantages__item.service-advantages__item--center.wow.experienceRight
                .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/yii/02.svg" width=48 height=48)
                .service-advantages__item-text
                    .service-advantages__item-title Обучение работе с фреймворком сильно упрощается благодаря большому количеству русскоязычной литературы и видеоурокам
            .service-advantages__item.service-advantages__item--center.wow.experienceRight
                .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/yii/03.svg" width=48 height=48)
                .service-advantages__item-text
                    .service-advantages__item-title Каркас достаточно прост для изучения и работы с ним.
            .service-advantages__item.service-advantages__item--center.wow.experienceRight
                .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/yii/04.svg" width=48 height=48)
                .service-advantages__item-text
                    .service-advantages__item-title Это один из самых быстрых фреймворков, поэтому он подходит для разработки крупных проектов с большой нагрузкой
            .service-advantages__item.service-advantages__item--center.wow.experienceRight
                .service-advantages__item-icon: img.lazyload(loading="lazy" data-src="/static/img/yii/05.svg" width=48 height=48)
                .service-advantages__item-text
                    .service-advantages__item-title Система работает устойчиво и безопасно