section.section-pagespeed-screenshot
    .container
        .pagespeed-screenshot
            .pagespeed-screenshot__panel
                span.panel-dot--red
                span.panel-dot--orange
                span.panel-dot--green
            .pagespeed-screenshot__image
                picture
                    img( src="/static/img/pagespeed/site_screen.jpg" )