section.context-certificates
    .container
        .context-certificates__title.section-h2.wow.experience Сертификаты
        .context-certificates__caption.section-caption.wow.experience Наши сотрудники – сертифицированные специалисты
        .context-certificates__items
            a(href="../static/img/context/cert-1.jpg" data-fslightbox="cert").context-certificates__item.wow.experience
                picture
                    source(srcset="../static/img/context/cert-1.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="../static/img/context/cert-1.jpg")
            a(href="../static/img/context/cert-2.jpg" data-fslightbox="cert").context-certificates__item.wow.experience
                picture
                    source(srcset="../static/img/context/cert-2.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="../static/img/context/cert-2.jpg")
            a(href="../static/img/context/cert-3.jpg" data-fslightbox="cert").context-certificates__item.wow.experience
                picture
                    source(srcset="../static/img/context/cert-3.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="../static/img/context/cert-3.jpg")
            a(href="../static/img/context/cert-4.jpg" data-fslightbox="cert").context-certificates__item.wow.experience
                picture
                    source(srcset="../static/img/context/cert-4.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="../static/img/context/cert-4.jpg")
            a(href="../static/img/context/cert-5.jpg" data-fslightbox="cert").context-certificates__item.wow.experience
                picture
                    source(srcset="../static/img/context/cert-5.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="../static/img/context/cert-5.jpg")
            a(href="../static/img/context/cert-6.jpg" data-fslightbox="cert").context-certificates__item.wow.experience
                picture
                    source(srcset="../static/img/context/cert-6.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="../static/img/context/cert-6.jpg")
            a(href="../static/img/context/cert-7.jpg" data-fslightbox="cert").context-certificates__item.wow.experience
                picture
                    source(srcset="../static/img/context/cert-7.webp" type="image/webp")
                    img.lazyload(loading="lazy" data-src="../static/img/context/cert-7.jpg")