section.cmn-temp
    ._container
        h1.cmn-temp__title.section-h1.wow.experience.animated «Метриум Премиум»
        h2.cmn-temp__titleh2.section-h2.wow.experience.animated Один из крупнейших игроков на рынке элитной жилой недвижимости Москвы и Подмосковья
        .cmn-temp__caption.section-description.wow.experience.animated
            .cmn-temp__text-box
                p.cmn-temp__text Редизайн с учётом тенденций современного и удобного инструмента для бизнеса. Приняли во внимание все пожелания клиента и даже немного больше. Получился сайт, где действительно комфортно покупать и продавать жилую недвижимость.
            a.cmn-temp__link-box(href='#' target='_blank')
                div.cmn-temp__link Metrium Premium
                span.lazyload(style="background-image: url(static/img/svg/ic_link-new.svg)")
    .cmn-temp__img-box
        picture
            img.cmn-temp__img.lazyload(loading="lazy" data-src="static/img/metrium/first-img-bg.jpg" src="static/img/homespro/i-top.jpg")

section.cmn-temp-about
    ._container
        .cmn-temp-about__wrapper
            .cmn-temp-about__top
                h2.cmn-temp-about__title-2.section-h2.wow.experience.animated О проекте
                .cmn-temp-about__text-box
                    p.cmn-temp-about__text.wow.experience.animated Сфера недвижимости сложна и полна конкурентов, это бизнес с высокой стоимостью и важностью продукта. Сфера элитной недвижимости — тем более. Нам требовалось создать одновременно впечатляющий и функциональный сайт, который бы сочетал в себе интуитивно понятный интерфейс и высокий уровень доверия. Он должен быть отлично адаптирован под все устройства и не просто привлекать трафик, а формировать лояльную клиентскую базу и конвертировать обычных посетителей в реальные сделки по недвижимости.
            .cmn-temp-about__middle
                span.name.wow.experience.animated Специалисты проекта
                ul.wow.experience.animated
                    li Менеджер проектов
                    li Аналитик
                    li UX/UI-Дизайнер
                    li Frontend-разработчик
                    li Backend-разработчик
                    li QA-инженер
            .cmn-temp-about__bottom
                span.name.wow.experience.animated Использованные технологии и инструменты
                ul.wow.experience.animated
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_01.svg)")
                        span.info Figma
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_02.svg)")
                        span.info HTML
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_03.svg)")
                        span.info JS
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_09.svg)")
                        span.info 1С-Битрикс
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_06.svg)")
                        span.info PHP
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_10.svg)")
                        span.info Nginx
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_05.svg)")
                        span.info MySQL
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_07.svg)")
                        span.info Laravel
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_11.svg)")
                        span.info Splide
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_12.svg)")
                        span.info Яндекс.Метрика

section.cmn-temp-tasks
    ._container
        .cmn-temp-tasks__wrapper
            .cmn-temp-tasks__top
                h2.cmn-temp-tasks__title-2.section-h2.wow.experience.animated Задачи
                .cmn-temp-tasks__text-box
                    ul.wow.experience.animated
                        li Провести изучение конкурентов, выявить привычные для пользователей пути работы покупки недвижимости, презентовать продукт для привлечения собственников жилья
                        li Показать результат на стыке красоты, особенностей и доступного функционала
                        li Сделать каталог недвижимости со всеми подходящими видами отображения карточек: сеткой, списком, на карте. Учесть выбор районов Москвы, станций метро и другого
                        li Создать уникальные презентационные страницы «О компании», «Собственникам»
                        li Адаптировать сайт под мобильные устройства, чтобы взаимодействовать с ним было действительно удобно
            .cmn-temp-tasks__bottom.wow.experience.animated
                .cmn-temp-tasks__bottom-avatar
                    .cmn-temp-tasks__bottom-avatar-wr
                        span.name Александр Юшкевич
                        span.desc Менеджер проектов
                .cmn-temp-tasks__bottom-content
                    p.cmn-temp-tasks__text «Нам удалось создать по-настоящему современную, понятную и удобную витрину для презентации объектов элитной недвижимости. На бэкенде проекта выстроена масштабная и регулярная обработка большого объема поступающих данных о доступных объектах. Интуитивно понятный интерфейс и структура сайта позволяют пользователям уделить вниманием именно размещаемым объектам недвижимости, не отвлекаясь на сопутствующие элементы и обязательные блоки.
                    p.cmn-temp-tasks__text Дизайн сайта призван планомерно работать на репутацию заказчика, привлекая целевую аудиторию и удерживая ее своим удобством и визуалом.
                    p.cmn-temp-tasks__text В это же время техническая составляющая проекта будет без сбоев обрабатывать большие массивы поступающих данных, выводить их и структурировать на категориям и фильтрам, а также организовывать их дальнейшую передачу на внешние ресурсы.
                    p.cmn-temp-tasks__text Итоговый результат — это не просто сайт, а мощный и стильный инструмент продаж, который, несомненно, соответствует уровню „Метриум Премиум“. Кроме того, хочу поблагодарить представителей заказчика за содержательную обратную связь и конструктивное сотрудничество на всех этапах работы над проектом».

section.cmn-temp-details
    ._container
        h2.cmn-temp-details__title-2.section-h2.wow.experience.animated
            span Детали дизайна <br> и разработки
        .cmn-temp-details__text-box.cmn-temp-details__text-box--top
            p.cmn-temp-details__text.wow.experience.animated Подобные проекты всегда достаточно сложны, так как требуют одновременного выполнения сразу нескольких условий, не всегда совместимых друг с другом. В данном случае необходимо совместить и качественное визуальное оформление, и множество функциональностей доступных пользователям, и обработку большого объема данных на сервере.
    .cmn-temp-details__first-sc
        ._container
            .cmn-temp-details__first-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Только нужное и сразу со старта
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.wow.experience.animated Меню с акцентом на категории и собственников. Связь любым способом, быстрые фильтры и преимущества. Анимированные категории, свежие предложения в нужных вам разделах с выбором валюты. Подборки лучших предложений «Метриум». Услуги, партнёры и премии компании и не только!
            .cmn-temp-details__first-sc-top-wr
                .cmn-temp-details__img-box.wow.experience.animated
                    picture
                        img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-01.jpg" src="static/img/metrium/img-01.jpg")
                .cmn-temp-details__img-box.wow.experience.animated
                    picture
                        img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-02.jpg" src="static/img/metrium/img-02.jpg")
    .cmn-temp-details__second-sc.bgBlock1(style="background-image: url(static/img/metrium/bg-img.png)")
        ._container
            .cmn-temp-details__second-sc-wr
                .cmn-temp-details__second-sc-item.cmn-temp-details__second-sc-item--nw
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-04.png" src="static/img/metrium/img-04.png")
                    .cmn-temp-details__text-box.cmn-temp-details__text-box--nw
                        p.cmn-temp-details__text.wow.experience.animated Страница объекта недвижимости чётко разделена на смысловые части. Посетитель имеет возможность быстрой связи для консультации по выбранному объекту и возможность ознакомиться с подробной информацией самостоятельно.
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-05.jpg" src="static/img/metrium/img-05.jpg")
                .cmn-temp-details__second-sc-item
                    h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Максимально практичный <br> и доступный каталог во всех видах
                    .cmn-temp-details__text-box
                        p.cmn-temp-details__text.wow.experience.animated Хотите смотреть недвижимость по несколько предложений в ряд? Или удобнее, чтобы они шли друг за другом? Нравится выбирать на карте в подходящем месте? Мы предусмотрели. Информация сгруппирована и показана именно так, чтобы сайт был помощником, а не преградой.
                    .nw-md-block
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-04.png" src="static/img/metrium/img-04.png")
                        .cmn-temp-details__text-box.cmn-temp-details__text-box--nw
                            p.cmn-temp-details__text.wow.experience.animated Страница объекта недвижимости чётко разделена на смысловые части. Посетитель имеет возможность быстрой связи для консультации по выбранному объекту и возможность ознакомиться с подробной информацией самостоятельно.
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-05.jpg" src="static/img/metrium/img-05.jpg")

                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-03.png" src="static/img/metrium/img-03.png")
    .cmn-temp-details__third-sc
        ._container
            .cmn-temp-details__third-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Уникальные страницы для презентации преимуществ, услуг и возможностей компании
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.cmn-temp-details__text--16.wow.experience.animated Создали оригинальный дизайн ключевых внутренних страниц, чтобы показать потенциальным клиентам и партнёрам, почему им действительно стоит сотрудничать с «Метриум Премиум».
            .cmn-temp-details__third-sc-wr
                .cmn-temp-details__third-sc-item
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-06.jpg" src="static/img/metrium/img-06.jpg")
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-07.jpg" src="static/img/metrium/img-07.jpg")

                    .cmn-temp-details__text-box.cmn-temp-details__text-box--mt-nw
                        p.cmn-temp-details__text.wow.experience.animated Презентация услуг для собственников и покупателей. Факты, цифры и люди на виду, что вызывает доверие.
                .cmn-temp-details__third-sc-item
                    .cmn-temp-details__third-sc-item-wr
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-08.jpg" src="static/img/metrium/img-08.jpg")
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-09.jpg" src="static/img/metrium/img-09.jpg")
    .cmn-temp-details__last-sc(style="background-image: url(static/img/metrium/bg-img2.png)")
        ._container
            .cmn-temp-details__last-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Проработали сценарии взаимодействия
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.wow.experience.animated Каждый элемент, от навигации до взаимодействия с карточками объектов, был продуман и доработан с одной целью — создать безупречно плавный и понятный опыт для клиентов.
            .cmn-temp-details__last-sc-wr
                .cmn-temp-details__last-sc-item
                    .cmn-temp-details__last-sc-item-slider.splide.wow.experience.animated
                        .splide__track
                            ul.splide__list
                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-slider-1.jpg" src="static/img/metrium/img-slider-1.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-slider-1.jpg" src="static/img/metrium/img-slider-2.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-slider-3.jpg" src="static/img/metrium/img-slider-3.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-slider-4.jpg" src="static/img/metrium/img-slider-4.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-slider-5.jpg" src="static/img/metrium/img-slider-5.jpg")

                .cmn-temp-details__last-sc-item
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/metrium/img-10-caption.png" src="static/img/metrium/img-10-caption.png")



section.cmn-temp-process
    ._container
        h2.cmn-temp-process__title-2.section-h2.wow.experience.animated
            span Процесс работы
        .cmn-temp-process__wrapper
            .cmn-temp-process__item
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 1. Детальное исследования сферы и конкурентов
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/metrium/img-11.jpg" src="static/img/metrium/img-11.jpg")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Анализ конкурентов показал, на что обычно делается акцент. Какие подходы уже отработаны, а какие можно улучшить.
                        li <span>02</span> При проработке сценариев взаимодействия с сайтом учитывали серьёзную целевую аудиторию и особенности бизнеса.
                        li <span>03</span> Предложили свои подходы, приняли во внимание пожелания клиента и презентовали свою концепцию.

            .cmn-temp-process__item.cmn-temp-process__item--r
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 2. Дизайн сайта, элементов и других особенностей
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/metrium/img-12.jpg" src="static/img/metrium/img-12.jpg")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Показали варианты «Главной» страницы, выбрали подходящее направление.
                        li <span>02</span> Проработали «Главную» и ключевые страницы каталога недвижимости. Адаптировали макеты и также их презентовали.
                        li <span>03</span> Добавили новые уникальные страницы, важные для продвижения и презентации бизнеса.



            .cmn-temp-process__item
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 3. Разработка, тестирование, технические нюансы
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/metrium/img-13.jpg" src="static/img/metrium/img-13.jpg")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Подготовка фронтенда страниц с использованием актуального и современного стека технологий
                        li <span>02</span> Внедрение анимированных элементов и блоков не влияющих на скорость работы и загрузки страниц
                        li <span>03</span> Тестирование фронтенда на различных устройствах и платформах
                        li <span>04</span> В результате запуска сайта клиент получил в распоряжение современный и удобный инструмент, который поможет укрепить позиции на рынке и повысить узнаваемость бренда

section.cmn-temp-results
    ._container
        h2.cmn-temp-results__title-2.section-h2.wow.experience.animated
            span Итоги работы
        .cmn-temp-results__wrapper
            .cmn-temp-results__top.wow.experience.animated
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Яркий, запоминающийся сайт, который при этом является и практичным инструментом продажи недвижимости.
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Чёткий подход к ux составляющей, чтобы пользователь всегда понимал, как ему достичь нужных целей, видел перед глазами самую главную информацию.
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Один из самых осмысленных дизайнов сайтов в сфере, в котором мы уверены и которым гордимся.
            h3.cmn-temp-results__title-3.section-h3.wow.experience.animated Отзыв клиента
            .cmn-temp-results__bottom-lt
                .cmn-temp-results__bottom.wow.experience.animated
                    .cmn-temp-results__bottom-avatar
                        span.icon(style="background-image: url(static/img/metrium/logo-current.svg)")
                        .cmn-temp-results__bottom-avatar-wr
                            span.name Менеджер продвижения продукта «Metrium Premium»
                    .cmn-temp-results__bottom-content
                        p.cmn-temp-results__text.wow.experience.animated «В настоящее время область недвижимости в целом и элитной в частности имеет устоявшиеся нормы принятые всеми игроками рынка, что обуславливает наличие весьма сложного и многогранного технического задания проекта. Наша задача, как и наши долгосрочные планы амбициозны и конкретны. Для подобных задач необходимы проверенные и надежные партнеры.
                        p.cmn-temp-results__text.wow.experience.animated Мы благодарим компанию Промиком за прекрасно проделанную работу начиная от технического анализа проекта и до его публичного запуска. Возможность влиять на развитие проекта на всех его стадиях для нас имеет большое значение, особенно в современном, быстро изменяющемся мире. Выполненный проект лишь подтвердил нашу уверенность в правильности сделанного выбора разработчика проекта, а также наше успешное уже многолетнее сотрудничество. Рассчитываем на дальнейшую взаимовыгодную работу и желаем новых свершений».

section.cmn-temp-team
    ._container
        h2.cmn-temp-team__title-2.section-h2.wow.experience.animated
            span Команда проекта
        .cmn-temp-team__content.wow.experience.animated
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Игорь Гудович
                .cmn-temp-team__content-item-desc Директор агентства Promicom
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Юшкевич
                .cmn-temp-team__content-item-desc Менеджер проектов
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Льдов
                .cmn-temp-team__content-item-desc UX/UI-Дизайнер
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Игорь Хроменков
                .cmn-temp-team__content-item-desc Frontend-разработчик
            .homespro-team__content-item
                .cmn-temp-team__content-item-name Олег Палевич
                .cmn-temp-team__content-item-desc Backend-разработчик
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Муравьёв
                .cmn-temp-team__content-item-desc QA-инженер
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Екатерина Дмитриева
                .cmn-temp-team__content-item-desc SEO-специалист
        a(href='#').cmn-temp-team__btn.wow.experience.animated
            span Подробнее о нас

section.cmn-project
    ._container
        h2.cmn-project__title-2.section-h2.wow.experience.animated
            span Проекты
            a(href='#').cmn-project__btn.wow.experience.animated
                span Все проекты
        .cmn-project__content
            .cmn-project__content_item(style="background-image: url(static/img/metrium/caseimg-1.png)")
                .cmn-project__content_item-name Уникальная товарная площадка для магазинов и покупателей
                .cmn-project__content_item-tabs
                    a(href='#').cmn-project__tab Интернет-магазины
                    a(href='#').cmn-project__tab Порталы
                    a(href='#').cmn-project__tab Личные кабинеты
            .cmn-project__content_item(style="background-image: url(static/img/metrium/caseimg-2.png)")
                .cmn-project__content_item-name Сайт компании по ремонту частной и коммерческой недвижимости в Канаде
                .cmn-project__content_item-tabs
                    a(href='#').cmn-project__tab Корпоративные сайты
            .cmn-project__content_item(style="background-image: url(static/img/metrium/caseimg-3.png)")
                .cmn-project__content_item-name Корпоративный сайт ведущего производителя современного теплотехнического оборудования
                .cmn-project__content_item-tabs
                    a(href='#').cmn-project__tab Корпоративные сайты
            .cmn-project__content_item(style="background-image: url(static/img/metrium/caseimg-4.png)")
                .cmn-project__content_item-name Портал, личные кабинеты и организация проведения онлайн-кинофестиваля
                .cmn-project__content_item-tabs
                    a(href='#').cmn-project__tab Порталы
                    a(href='#').cmn-project__tab Личные кабинеты