section.cmn-temp
    ._container
        h1.cmn-temp__title.section-h1.wow.experience.animated «Мои умный шлагбаум»:
        h2.cmn-temp__titleh2.section-h2.wow.experience.animated Сайт разработчика систем видеонаблюдения и аналитики
        .cmn-temp__caption.section-description.wow.experience.animated
            .cmn-temp__text-box
                ul.cmn-temp__list
                    li Исследовали новую для себя сферу и выпонили конкурентный анализ, чтобы создать понятную, удобную и, главное, работающую систему управления доступом.
                    li Спроектировали массив уникальных страниц с качественной адаптацией под мобильные устройства.
                    li Добавили современные микроанимации и удобную навигацию для всех категорий пользователей системы.
                    li Проработали структуру будущего сайта, понятную для широкой аудитории.
            a.cmn-temp__link-box(href='https://xn--80aach2aaofbgej0ei3e3b.xn--p1ai/' target='_blank')
                div.cmn-temp__link Мой Умный Шлагбаум
                span.lazyload(style="background-image: url(static/img/svg/ic_link-new.svg)")
    .cmn-temp__img-box
        picture
            img.cmn-temp__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/first-img-bg.jpg" src="static/img/smartBarrier/first-img-bg.jpg")

section.cmn-temp-about
    ._container
        .cmn-temp-about__wrapper
            .cmn-temp-about__top
                h2.cmn-temp-about__title-2.section-h2.wow.experience.animated О проекте
                .cmn-temp-about__text-box
                    p.cmn-temp-about__text.wow.experience.animated
                        | Основная задача — донести информацию о возможностях разворачиваемых систем до всех заинтересованных пользователей, закрыть все возможные вопросы по теме установки и эксплуатации системы доступа на закрытые территории в разрезе её использования не только отдельными группами пользователей, но и различными специальными службами.
            .cmn-temp-about__middle
                span.name.wow.experience.animated Специалисты проекта:
                ul.wow.experience.animated
                    li Менеджер проектов
                    li Аналитик
                    li UX/UI-дизайнер
                    li Frontend-разработчик
                    li Backend-разработчик
                    li QA-инженер

            .cmn-temp-about__bottom
                span.name.wow.experience.animated Использованные технологии и инструменты:
                ul.wow.experience.animated

                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_01.svg)")
                        span.info Figma
                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_02.svg)")
                        span.info HTML

                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_03.svg)")
                        span.info JS

                    li
                        span.icon(style="background-image: url(static/img/vako/svg/tech-ic_10.svg)")
                        span.info Nginx


section.cmn-temp-tasks
    ._container
        .cmn-temp-tasks__wrapper
            .cmn-temp-tasks__top
                h2.cmn-temp-tasks__title-2.section-h2.wow.experience.animated Задачи
                .cmn-temp-tasks__text-box
                    ul.wow.experience.animated
                        li Провести углубленное исследование рынка и конкурентов, чтобы не упустить тренды, сильные стороны уже существующих проектов и объединить их с потребностями проекта;
                        li подготовить актуально техническое задание, включающее полный спектр требований к функционированию готового ресурса;
                        li упростить поиск и восприятие информации о системе пользователями;
                        li разработать современный и привлекательный дизайн с учетом размещаемого контента.

            .cmn-temp-tasks__bottom.wow.experience.animated
                .cmn-temp-tasks__bottom-avatar
                    .cmn-temp-tasks__bottom-avatar-wr
                        span.name Александр Юшкевич
                        span.desc Менеджер проектов
                .cmn-temp-tasks__bottom-content
                    p.cmn-temp-tasks__text «В проекте от нас требовалось разработать дизайн сайта и подготовить его фронтенд часть для проведения дальнейших работ по запуску специалистами и силами заказчика. Важным элементом взаимодействия были регулярные, короткие, но насыщенные полезной информации встречи, на которых методично закрывались все встающие по проекту вопросы.

                    p.cmn-temp-tasks__text Благодаря комплексному и взаимовыгодному сотрудничеству мы избежали неучтенных дополнительных затрат на проработку дизайна и изменения фронтенда разрабатываемых страниц. Это также позволило нам реализовать второй совместный проект с возросшей сложностью, включающий также работы по бэкенду. Но об этом уже на другой странице сервиса „ПривратникЪ“»

section.cmn-temp-details
    ._container
        h2.cmn-temp-details__title-2.section-h2.wow.experience.animated
            span Детали дизайна <br> и разработки
        .cmn-temp-details__text-box.cmn-temp-details__text-box--top
            p.cmn-temp-details__text.wow.experience.animated Мы никогда не начинаем с чистого листа. Сначала мы изучили рынок и конкурентов, чтобы найти для клиента самое выигрышное решение. Все идеи мы обсудили совместно, вместе внесли дополнения и только после этого приступили к созданию дизайна, который, после завершения работ, был принят практически без изменений.

    .cmn-temp-details__first-sc.blockGrey
        ._container
            .cmn-temp-details__first-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Создали главную страницу, которая выделяется
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.wow.experience.animated В исходных прототипах команда заказчика показала своё видение главной и внутренних страниц сайта. Мы могли не сдерживаться и отработали визуализацию главной на все 100%: большие блоки, много «воздуха», фирменная стилизация. Основные направления деятельности показаны наглядно и понятно.
            .cmn-temp-details__first-sc-top-wr(style="flex-direction: row-reverse;")
                .cmn-temp-details__img-box.wow.experience.animated
                    picture
                        img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-02.jpg" src="static/img/smartBarrier/img-02.jpg")
                .cmn-temp-details__img-box.wow.experience.animated
                    picture
                        img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-01.jpg" src="static/img/smartBarrier/img-01.jpg")


    .cmn-temp-details__second-sc(style="background-image: url(static/img/smartBarrier/done-02.jpg)")
        ._container
            .cmn-temp-details__second-sc-wr
                .cmn-temp-details__second-sc-item.cmn-temp-details__second-sc-item--nw
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-04.jpg" src="static/img/smartBarrier/img-04.jpg")

                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-05.jpg" src="static/img/smartBarrier/img-05.jpg")


                .cmn-temp-details__second-sc-item
                    h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Разработали страницы с описанием работы систем и показали преимущества клиента
                    .cmn-temp-details__text-box
                        p.cmn-temp-details__text.wow.experience.animated
                            | Все страницы были проработаны до мелочей. Услуги, франшиза, особенности сервиса, презентация конечных устройств и многое другое.

                    .nw-md-block
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-04.jpg" src="static/img/smartBarrier/img-04.jpg")
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-05.jpg" src="static/img/smartBarrier/img-05.jpg")

                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-03.png" src="static/img/smartBarrier/img-03.png")


    .cmn-temp-details__third-sc.blockWhite.blockLogos
        ._container
            .cmn-temp-details__third-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Ни одно взаимодействие и деталь не остались без нашего внимания
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.cmn-temp-details__text--16.wow.experience.animated Крупные анимации на весь экран и демонстрация функционала сервиса служат мощными акцентами. Они направляют пользователя, изолирует его от второстепенной информации и чётко ведут к призыву к действию (CTA), увеличивая вовлеченность.
            .cmn-temp-details__third-sc-wr
                .cmn-temp-details__third-sc-item
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-06.jpg" src="static/img/smartBarrier/img-06.jpg")
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-07.jpg" src="static/img/smartBarrier/img-07.jpg")

                    .cmn-temp-details__text-box.cmn-temp-details__text-box--mt-nw
                        p.cmn-temp-details__text.wow.experience.animated Встроенное в страницы видео с презентацией работы нейросетей сервиса и многого другого.
                .cmn-temp-details__third-sc-item
                    .cmn-temp-details__third-sc-item-wr
                        .cmn-temp-details__img-box.wow.experience.animated
                            picture
                                img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-08-caption.png" src="static/img/smartBarrier/img-08-caption.png")



    .cmn-temp-details__last-sc(style="background-image: url(static/img/smartBarrier/done-02.jpg)")
        ._container
            .cmn-temp-details__last-sc-top
                h3.cmn-temp-details__title-3.section-h3.wow.experience.animated Более 20 внутренних страниц, модальные окна, графики, коллажи в фирменной стилистике
                .cmn-temp-details__text-box
                    p.cmn-temp-details__text.wow.experience.animated Финальный дизайн — это результат нашей совместной работы: мы учли все пожелания и улучшили интерфейс, чтобы сделать его максимально удобным.
            .cmn-temp-details__last-sc-wr
                .cmn-temp-details__last-sc-item
                    .cmn-temp-details__last-sc-item-slider.splide.wow.experience.animated
                        .splide__track
                            ul.splide__list
                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-slider-1.jpg" src="static/img/smartBarrier/img-slider-1.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-slider-2.jpg" src="static/img/smartBarrier/img-slider-2.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-slider-3.jpg" src="static/img/smartBarrier/img-slider-3.jpg")

                                li.splide__slide
                                    .cmn-temp-details__img-box
                                        picture
                                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-slider-4.jpg" src="static/img/smartBarrier/img-slider-4.jpg")


                .cmn-temp-details__last-sc-item
                    .cmn-temp-details__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-details__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-9.jpg" src="static/img/smartBarrier/img-9.jpg")



section.cmn-temp-process
    ._container
        h2.cmn-temp-process__title-2.section-h2.wow.experience.animated
            span Процесс работы
        .cmn-temp-process__wrapper
            .cmn-temp-process__item
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 1. Детальное исследования сферы и конкурентов
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-10.jpg" src="static/img/smartBarrier/img-10.jpg")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Анализ поведения пользователей показал, какие элементы интерфейса больше всего влияют на удобство и конверсию
                        li <span>02</span> Разобрали подходы конкурентов, их преимущества и недостатки, сравнили эффективность различных подходов в нише
                        li <span>03</span> Предложили свежие идеи по дизайну

            .cmn-temp-process__item.cmn-temp-process__item--r
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 2. Дизайн сайта, элементов и других особенностей
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-11.jpg" src="static/img/smartBarrier/img-11.jpg")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Прототипирование главной страницы с её уникальной структурой и особенностями
                        li <span>02</span> Работа над дизайном по прототипам с учётом необходимости максимально ясно и подробно показать нужное
                        li <span>03</span> Разработали полный набор веб-страниц с безупречным отображением на всех экранах — от десктопа до мобильного



            .cmn-temp-process__item
                .cmn-temp-process__item-top
                    h3.cmn-temp-process__title-3.section-h3.wow.experience.animated 3. Разработка, тестирование, технические нюансы
                    .cmn-temp-process__img-box.wow.experience.animated
                        picture
                            img.cmn-temp-process__img.lazyload(loading="lazy" data-src="static/img/smartBarrier/img-12.jpg" src="static/img/smartBarrier/img-12.jpg")
                .cmn-temp-process__item-bottom
                    h5.cmn-temp-process__title-5.section-h5.wow.experience.animated Описание работы:
                    ul.wow.experience.animated
                        li <span>01</span> Подготовка фронтенда страниц с использованием актуального и современного стека технологий
                        li <span>02</span> Внедрение анимированных элементов и блоков не влияющих на скорость работы и загрузки страниц
                        li <span>03</span> Тестирование фронтенда на различных устройствах и платформах
                        li <span>04</span> В результате запуска сайта клиент получил в распоряжение современный и удобный инструмент, который поможет укрепить позиции на рынке и повысить узнаваемость бренда

section.cmn-temp-results
    ._container
        h2.cmn-temp-results__title-2.section-h2.wow.experience.animated
            span Итоги работы
        .cmn-temp-results__wrapper
            .cmn-temp-results__top.wow.experience.animated
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Оригинальная и динамичная презентация ПО, услуг и оборудования компании. Удобная навигация и наглядность отлично помогают продвижению бизнеса онлайн
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text Грамотная проработка UX-взаимодействий и интерфейсных элементов, использование микроанимаций и современных методик и технологий позволили получить быстрый и удобный сайт
                .cmn-temp-results__item
                    .cmn-temp-results__item-check
                        span.icon
                    .cmn-temp-results__item-text
                        p.cmn-temp-results__text После разработки сайта клиент обратился к нам за созданием масштабного сервиса «ПривратникЪ». Об этом читайте в собственном кейсе сервиса


            h3.cmn-temp-results__title-3.section-h3.wow.experience.animated Отзыв клиента:
            .cmn-temp-results__bottom-lt
                .cmn-temp-results__bottom.wow.experience.animated
                    .cmn-temp-results__bottom-avatar
                        span.icon(style="background-image: url(static/img/smartBarrier/logo-icon-2.svg)")
                        .cmn-temp-results__bottom-avatar-wr
                            span.name Владислав Листочкин
                            span.desc Представитель команды разработчиков ООО «Мои Умные Сервисы»
                    .cmn-temp-results__bottom-content
                        p.cmn-temp-results__text.wow.experience.animated «Благодарим команду „Promicom“ за проделанную работу над созданием нашего нового сайта!

                        p.cmn-temp-results__text.wow.experience.animated Ваш профессионализм, внимание к деталям и творческий подход сделали проект по-настоящему качественным, интересным и удобным для пользователей. Дизайн получился современным, стильным и при этом функциональным — это именно то, что мы хотели. Отдельное спасибо за терпение и готовность учитывать все наши пожелания в процессе работы.
                        p.cmn-temp-results__text.wow.experience.animated Благодаря вашим усилиям у нас теперь есть сайт, который не только привлекает внимание, но и решает бизнес-задачи. Вы смогли воплотить наши идеи в жизнь, и результат оправдал ожидания! Надеемся на дальнейшее сотрудничество и новые крутые проекты. Желаем вам вдохновения, интересных задач и профессионального роста! 🚀

                        p.cmn-temp-results__text.wow.experience.animated С искренней благодарностью, команда ООО „Мои Умные Сервисы“.»

section.cmn-temp-team
    ._container
        h2.cmn-temp-team__title-2.section-h2.wow.experience.animated
            span Команда проекта
        .cmn-temp-team__content.wow.experience.animated
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Игорь Гудович
                .cmn-temp-team__content-item-desc Директор агентства Promicom
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Юшкевич
                .cmn-temp-team__content-item-desc Менеджер проектов

            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Льдов
                .cmn-temp-team__content-item-desc UX/UI-Дизайнер
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Игорь Хроменков
                .cmn-temp-team__content-item-desc Frontend-разработчик

            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Александр Муравьёв
                .cmn-temp-team__content-item-desc QA-инженер
            .cmn-temp-team__content-item
                .cmn-temp-team__content-item-name Екатерина Дмитриева
                .cmn-temp-team__content-item-desc SEO-специалист

        a(href='/agency/').cmn-temp-team__btn.wow.experience.animated
            span Подробнее о нас

section.cmn-project
    ._container
        h2.cmn-project__title-2.section-h2.wow.experience.animated
            span Другие проекты
            a(href='/portfolio/').cmn-project__btn.wow.experience.animated
                span Все проекты
        .cmn-project__content
            .cmn-project__content_item(style="background-image: url(static/img/metrium/caseimg-1.png)")
                a(href='/portfolio/vako/').cmn-project__content_item-name Уникальная товарная площадка для магазинов и покупателей
                .cmn-project__content_item-tabs
                    a(href='/development/onlineshop/').cmn-project__tab Интернет-магазины
                    a(href='/development/').cmn-project__tab Порталы
                    a(href='/development/personal/').cmn-project__tab Личные кабинеты

            .cmn-project__content_item(style="background-image: url(static/img/smartBarrier/caseimg-v2-01-vako.jpg)")
                a(href='/portfolio/csgrenovation/').cmn-project__content_item-name Сайт компании по ремонту частной и коммерческой недвижимости в Канаде
                .cmn-project__content_item-tabs
                    a(href='/development/corporate/').cmn-project__tab Корпоративные сайты

            .cmn-project__content_item(style="background-image: url(static/img/metrium/caseimg-3.png)")
                a(href='/portfolio/vogez/').cmn-project__content_item-name Корпоративный сайт ведущего производителя современного теплотехнического оборудования
                .cmn-project__content_item-tabs
                    a(href='/development/corporate/').cmn-project__tab Корпоративные сайты

            .cmn-project__content_item(style="background-image: url(static/img/metrium/caseimg-4.png)")
                a(href='/portfolio/patriki/').cmn-project__content_item-name Портал, личные кабинеты и организация проведения онлайн-кинофестиваля
                .cmn-project__content_item-tabs
                    a(href='/development/').cmn-project__tab Порталы
                    a(href='/development/personal/').cmn-project__tab Личные кабинеты