.service-sale
    .container
        .service-sale__content
            img.lazyload.service-sale__left(loading="lazy" data-src="/static/img/service/sale-left.svg")
            img.lazyload.service-sale__right(loading="lazy" data-src="/static/img/service/sale-right.svg")
            .service-sale__buy.section-h4 При покупке&nbsp;лицензии<br>
                span.accent Малый Бизнес
                |  и выше
            .service-sale__percent
                span.accent.service-sale__percent-number.section-h2 10%<br>
                | Скидка на последующие доработки вашего сайта!