footer.footer
    .footer-top
        .container
            .footer-top__col.nav
                nav.footer-top__nav
                    ul.footer-top__nav-list
                        li.footer-top__nav-item.has-submenu
                            a(href="#").footer-top__nav-link Разработка сайтов
                            .footer-top__nav-toggle
                                <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L6 6L11 1" stroke="#777777" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            ul.footer-top__nav-submenu
                                li: a(href="#").footer-top__nav-link Интернет-магазин
                                li: a(href="#").footer-top__nav-link Корпоративный сайт
                                li: a(href="#").footer-top__nav-link Лендинг
                                li: a(href="#").footer-top__nav-link Сервисы и порталы
                                li: a(href="#").footer-top__nav-link Сложные проекты
                        li.footer-top__nav-item
                            a(href="#").footer-top__nav-link Контекстная реклама
                        li.footer-top__nav-item
                            a(href="#").footer-top__nav-link Поддержка сайтов
                        li.footer-top__nav-item
                            a(href="#").footer-top__nav-link Поднятие скорости загрузки
                        li.footer-top__nav-item
                            a(href="#").footer-top__nav-link Сайт за 5 дней
            .footer-top__col.info
                .footer-top__phones
                    .footer-top__phone
                        .caption Офис в Москве
                        a(href="#").link +7 (926) 731-35-45
                    .footer-top__phone
                        .caption Офис в Беларуси
                        a(href="#").link +375 (29) 311-66-11
                .footer-top__mails
                    .footer-top__mail
                        .caption Эл. почта:
                        a(href="#").link info@promicom.ru
                .footer-top__socials
                    a(href="#").footer-top__social
                        img.lazyload(loading="lazy" data-src="static/img/svg/telegram.svg" width=32 height=32)
                    a(href="#").footer-top__social
                        img.lazyload(loading="lazy" data-src="static/img/svg/whatsapp.svg" width=32 height=32)
                    a(href="#").footer-top__social
                        img.lazyload(loading="lazy" data-src="static/img/svg/skype.svg" width=32 height=32)
    .footer-bottom
        .container
            .footer-bottom__scroll.scroll-top: +icons('#icon_go_top',24)
            .footer-bottom__copy © Promicom, 2022.<br>Все права защищены

