section.context-advantages
    .container
        .context-advantages__title.section-h2.wow.experience Преимущества контекстной рекламы
        .context-advantages__items
            .context-advantages__item.wow.experienceRight
                .context-advantages__item-title Помогает провести акцию или распродажу
                .context-advantages__item-caption Быстрое распространение информации о спецпредложениях и акционных продуктах
            .context-advantages__item.wow.experienceRight
                .context-advantages__item-title Рост продаж вовлеченным клиентам
                .context-advantages__item-caption Потенциальный покупатель видит Ваше предложение первым в результатах поиска
            .context-advantages__item.wow.experienceRight
                .context-advantages__item-title Возврат клиентов
                .context-advantages__item-caption Правильная настройка Яндекс.Директ и ретаргетинга вернет клиента на ваш сайт для совершения заказа
            .context-advantages__item.wow.experienceRight
                .context-advantages__item-title Брендирование
                .context-advantages__item-caption Привлекаем внимание только заинтересованных клиентов, показывая объявления на тысячах тематических сайтов
            .context-advantages__item.wow.experienceRight
                .context-advantages__item-title Генерация спроса
                .context-advantages__item-caption Маркетинговые программы, делающие продукт привлекательным для отдельных клиентов, даже без их прямого запроса
            .context-advantages__item.context-advantages__item--with-btn.wow.experienceRight
                .context-advantages__item-title Закажите контекстную рекламу прямо сейчас
                .context-advantages__item-caption Свяжемся с вами в ближайшее время
                .context-advantages__item-btn
                    a(href="#").btn.btn-primary Оставить заявку