section.context-advantages
    .container
        .context-advantages__title.section-h2.wow.experience Проблемы, с которым к нам обращаются
        .context-advantages__items
            .context-advantages__item.wow.experienceRight
                .context-advantages__item-title Медленная скорость загрузки
                .context-advantages__item-caption Большинство пользователей уходят со страницы, если та грузится дольше 3-4 секунд.
            .context-advantages__item.wow.experienceRight
                .context-advantages__item-title Наличие на сайте ошибок
                .context-advantages__item-caption Они подрывают доверие к ресурсу и зачастую раздражают пользователей. Вероятность продажи товара или услуги резко снижается.
            .context-advantages__item.wow.experienceRight
                .context-advantages__item-title Необходимость полного аудита
                .context-advantages__item-caption Комплексная проверка сайта на наличие технических ошибок, проблем с навигацией и качеством контента.
            .context-advantages__item.wow.experienceRight
                .context-advantages__item-title Доработка сайта и его заявленного функционала
                .context-advantages__item-caption Возможность переделки или создания с нуля. Максимально удобный функционал обеспечивает большее количество качественных заявок от целевой аудитории.
            .context-advantages__item.wow.experienceRight
                .context-advantages__item-title Изменения дизайна сайта
                .context-advantages__item-caption Его улучшение, модернизация и актуализация. Доработки пользовательского опыта, интерфейсов. Проработака внешнего вида и сценариев поведения пользователей.
            .context-advantages__item.context-advantages__item--with-btn.wow.experienceRight
                .context-advantages__item-title Обращайтесь!
                .context-advantages__item-caption Мы поможем с любой проблемой.
                .context-advantages__item-btn
                    a(href="#").btn.btn-primary Оставить заявку